Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2020-05, with the labels that each got.

#795 Add read eic files & hep mc verbosity
  simulation/g4simulation/g4main/HepMCNodeReader.cc
  simulation/g4simulation/g4main/ReadEICFiles.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#796 Clusterizer
  offline/packages/CaloReco/BEmcCluster.cc
  offline/packages/CaloReco/BEmcCluster.h
  offline/packages/CaloReco/BEmcProfile.cc
  offline/packages/CaloReco/BEmcProfile.h
  offline/packages/CaloReco/BEmcRec.cc
  offline/packages/CaloReco/BEmcRec.h
  offline/packages/CaloReco/BEmcRecCEMC.cc
  offline/packages/CaloReco/BEmcRecCEMC.h
  offline/packages/CaloReco/BEmcRecEEMC.cc
  offline/packages/CaloReco/BEmcRecEEMC.h
  offline/packages/CaloReco/BEmcRecFEMC.cc
  offline/packages/CaloReco/BEmcRecFEMC.h
  offline/packages/CaloReco/RawClusterBuilderTemplate.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#797 GDML export precision fix for sector detectors
  simulation/g4simulation/g4detectors/PHG4SectorConstructor.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#798 Stop blabbering
  simulation/g4simulation/g4detectors/PHG4CrystalCalorimeterSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4RICHDetector.cc
  simulation/g4simulation/g4detectors/PHG4SectorConstructor.cc
  simulation/g4simulation/g4detectors/PHG4SectorConstructor.h
  simulation/g4simulation/g4detectors/ePHENIXRICHConstruction.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#799 - Add hard-coded cluster error scale factors for intt and mvtx so tha…
  offline/packages/intt/InttClusterizer.cc
  offline/packages/mvtx/MvtxClusterizer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#800 Change lengthviarapidity default
  simulation/g4simulation/g4detectors/PHG4CylinderDetector.cc
  simulation/g4simulation/g4detectors/PHG4CylinderSubsystem.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#802 Track covariance
  offline/packages/trackreco/PHActsTracks.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-FAIL, CI-track-low-occ-QA-FAIL, CI-valgrind-AVAILABLE

#803 Track propagation
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsTrkProp.cc
  offline/packages/trackreco/PHActsTrkProp.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-PENDING

#804 Update params nodetree
  offline/database/PHParameter/PHParameters.cc
  offline/database/PHParameter/PHParameters.h
  offline/database/PHParameter/PHParametersContainer.cc
  offline/database/PHParameter/PHParametersContainer.h
  offline/database/pdbcal/base/PdbParameterMapContainer.cc
  offline/database/pdbcal/base/PdbParameterMapContainer.h
  simulation/g4simulation/g4detectors/PHG4CylinderSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4CylinderSubsystem.h
  simulation/g4simulation/g4detectors/PHG4DetectorGroupSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4DetectorGroupSubsystem.h
  simulation/g4simulation/g4detectors/PHG4DetectorSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4DetectorSubsystem.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#806 G4hit-based fast tracking tuning
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.cc
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#805 Upstream/master qa clusters
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/QA/modules/QAG4SimulationTracking.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-PENDING

#807 Put Detector name in histogram title rather than x axis label
  offline/QA/modules/QAG4SimulationIntt.cc
  offline/QA/modules/QAG4SimulationMvtx.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#809 Fixed bug when smearing hit coordinate in cylinder
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#808 Upstream/master qa clusters
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/QA/modules/QAG4SimulationTracking.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#810 Eic event header
  simulation/g4simulation/g4main/EicEventHeader.cc
  simulation/g4simulation/g4main/EicEventHeader.h
  simulation/g4simulation/g4main/EicEventHeaderLinkDef.h
  simulation/g4simulation/g4main/EicEventHeaderv1.cc
  simulation/g4simulation/g4main/EicEventHeaderv1.h
  simulation/g4simulation/g4main/EicEventHeaderv1LinkDef.h
  simulation/g4simulation/g4main/Makefile.am
  simulation/g4simulation/g4main/ReadEICFiles.cc
  simulation/g4simulation/g4main/ReadEICFiles.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#812 Add any projections capability to kalman
  offline/packages/NodeDump/DumpSvtxTrackMap.cc
  offline/packages/trackbase_historic/SvtxTrackState.h
  offline/packages/trackbase_historic/SvtxTrackState_v1.h
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.cc
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#811 Acts Track Fitter
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsSourceLinks.h
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTracks.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsTrkProp.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#815 put include back - ubuntu container need this
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.h
Labels: CI-build-gcc-8.3-new-PENDING, CI-build-x8664_sl7-clang-PENDING, CI-build-x8664_sl7-new-PENDING, CI-build-x8664_sl7-scan-PENDING, CI-cpp-check-PENDING

#814 add PHTpcTracker
  offline/packages/PHTpcTracker/Fitter.cc
  offline/packages/PHTpcTracker/Fitter.h
  offline/packages/PHTpcTracker/LICENSE
  offline/packages/PHTpcTracker/Makefile.am
  offline/packages/PHTpcTracker/PHTpcConst.h
  offline/packages/PHTpcTracker/PHTpcEventExporter.cc
  offline/packages/PHTpcTracker/PHTpcEventExporter.h
  offline/packages/PHTpcTracker/PHTpcLookup.cc
  offline/packages/PHTpcTracker/PHTpcLookup.h
  offline/packages/PHTpcTracker/PHTpcSeedFinder.cc
  offline/packages/PHTpcTracker/PHTpcSeedFinder.h
  offline/packages/PHTpcTracker/PHTpcTrackFollower.cc
  offline/packages/PHTpcTracker/PHTpcTrackFollower.h
  offline/packages/PHTpcTracker/PHTpcTracker.cc
  offline/packages/PHTpcTracker/PHTpcTracker.h
  offline/packages/PHTpcTracker/PHTpcTrackerUtil.cc
  offline/packages/PHTpcTracker/PHTpcTrackerUtil.h
  offline/packages/PHTpcTracker/PHTpcVertexFinder.cc
  offline/packages/PHTpcTracker/PHTpcVertexFinder.h
  offline/packages/PHTpcTracker/README.md
  offline/packages/PHTpcTracker/README.steering
  offline/packages/PHTpcTracker/SpacepointMeasurement2.cc
  offline/packages/PHTpcTracker/SpacepointMeasurement2.h
  offline/packages/PHTpcTracker/Track.cc
  offline/packages/PHTpcTracker/Track.h
  offline/packages/PHTpcTracker/autogen.sh
  offline/packages/PHTpcTracker/configure.ac
  offline/packages/PHTpcTracker/externals/kdfinder.hpp
  offline/packages/PHTpcTracker/externals/nanoflann.hpp
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-FAIL, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#817 suppress cppcheck warnings
  offline/packages/PHTpcTracker/externals/nanoflann.hpp
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#818 Add projections
  offline/packages/PHTpcTracker/externals/nanoflann.hpp
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSimEval.cc
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSimEval.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#816 Cluster duplication
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  simulation/g4simulation/g4eval/SvtxClusterEval.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#820 Upstream/master qa
  offline/QA/modules/QAG4SimulationIntt.cc
  offline/QA/modules/QAG4SimulationMvtx.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#821 Acts covariance
  offline/packages/trackreco/ActsCovarianceRotater.cc
  offline/packages/trackreco/ActsCovarianceRotater.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTracks.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsTrkProp.cc
  offline/packages/trackreco/PHActsTrkProp.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#822 Particle flow event and jet reconstruction
  offline/packages/CaloReco/RawClusterBuilderTopo.cc
  offline/packages/CaloReco/RawClusterBuilderTopo.h
  offline/packages/particleflow/Makefile.am
  offline/packages/particleflow/ParticleFlowElement.cc
  offline/packages/particleflow/ParticleFlowElement.h
  offline/packages/particleflow/ParticleFlowElementContainer.cc
  offline/packages/particleflow/ParticleFlowElementContainer.h
  offline/packages/particleflow/ParticleFlowElementContainerLinkDef.h
  offline/packages/particleflow/ParticleFlowElementLinkDef.h
  offline/packages/particleflow/ParticleFlowElementv1.cc
  offline/packages/particleflow/ParticleFlowElementv1.h
  offline/packages/particleflow/ParticleFlowElementv1LinkDef.h
  offline/packages/particleflow/ParticleFlowJetInput.cc
  offline/packages/particleflow/ParticleFlowJetInput.h
  offline/packages/particleflow/ParticleFlowReco.cc
  offline/packages/particleflow/ParticleFlowReco.h
  offline/packages/particleflow/autogen.sh
  offline/packages/particleflow/configure.ac
  simulation/g4simulation/g4dst/Makefile.am
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#823 make PHTpcTracker a seeding module
  offline/packages/PHTpcTracker/Makefile.am
  offline/packages/PHTpcTracker/PHTpcTracker.cc
  offline/packages/PHTpcTracker/PHTpcTracker.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#825 Use std string iostream
  offline/packages/CaloReco/BEmcCluster.cc
  offline/packages/CaloReco/BEmcProfile.cc
  offline/packages/CaloReco/BEmcProfile.h
  offline/packages/CaloReco/BEmcRec.cc
  offline/packages/CaloReco/BEmcRec.h
  offline/packages/CaloReco/BEmcRecCEMC.cc
  offline/packages/CaloReco/BEmcRecCEMC.h
  offline/packages/CaloReco/BEmcRecEEMC.cc
  offline/packages/CaloReco/BEmcRecEEMC.h
  offline/packages/CaloReco/BEmcRecFEMC.cc
  offline/packages/CaloReco/BEmcRecFEMC.h
  offline/packages/CaloReco/RawClusterBuilderFwd.cc
  offline/packages/CaloReco/RawClusterBuilderGraph.cc
  offline/packages/CaloReco/RawClusterBuilderTemplate.cc
  offline/packages/CaloReco/RawClusterBuilderTemplate.h
  offline/packages/CaloReco/RawClusterBuilderTopo.cc
  offline/packages/CaloReco/RawClusterBuilderTopo.h
  offline/packages/CaloReco/RawClusterDeadAreaMask.cc
  offline/packages/CaloReco/RawClusterPositionCorrection.cc
  offline/packages/CaloReco/RawTowerCalibration.cc
  offline/packages/CaloReco/RawTowerCombiner.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#824 Mvtx energy threshold
  simulation/g4simulation/g4mvtx/PHG4MvtxDigitizer.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxDigitizer.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#826 Use std string iostream
  offline/framework/phool/PHFlag.cc
  offline/framework/phool/PHFlag.h
  offline/packages/CaloReco/BEmcCluster.cc
  offline/packages/CaloReco/BEmcCluster.h
  offline/packages/CaloReco/BEmcRec.cc
  offline/packages/CaloReco/BEmcRec.h
  offline/packages/CaloReco/BEmcRecCEMC.cc
  offline/packages/CaloReco/BEmcRecCEMC.h
  offline/packages/CaloReco/BEmcRecEEMC.cc
  offline/packages/CaloReco/BEmcRecEEMC.h
  offline/packages/CaloReco/BEmcRecFEMC.cc
  offline/packages/CaloReco/BEmcRecFEMC.h
  offline/packages/CaloReco/RawClusterBuilderTemplate.cc
  offline/packages/CaloReco/RawClusterBuilderTemplate.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#827 correct local hit position in mvtx for clustering
  offline/packages/mvtx/MvtxClusterizer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
