Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2020-06, with the labels that each got.

#828 Acts Fixes
  offline/packages/trackreco/ActsCovarianceRotater.cc
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsSourceLinks.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#829 Fix fun4all
  offline/QA/modules/QAG4SimulationIntt.cc
  offline/QA/modules/QAG4SimulationIntt.h
  offline/QA/modules/QAG4SimulationMvtx.cc
  offline/QA/modules/QAG4SimulationMvtx.h
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/QA/modules/QAG4SimulationTracking.h
  offline/QA/modules/QAG4SimulationUpsilon.cc
  offline/QA/modules/QAG4SimulationUpsilon.h
  offline/QA/modules/QAHistManagerDef.cc
  offline/QA/modules/QAHistManagerDef.h
  offline/framework/fun4all/Fun4AllHistoManager.cc
  offline/framework/fun4all/Fun4AllHistoManager.h
  offline/framework/fun4all/Fun4AllServer.cc
  offline/framework/fun4all/Fun4AllServer.h
  offline/framework/fun4all/Fun4AllSyncManager.cc
  offline/framework/fun4all/Fun4AllSyncManager.h
  offline/framework/fun4all/TDirectoryHelper.cc
  offline/framework/fun4all/TDirectoryHelper.h
  simulation/g4simulation/g4main/EicEventHeaderv1.cc
  simulation/g4simulation/g4main/EicEventHeaderv1.h
  simulation/g4simulation/g4main/Fun4AllMessenger.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#830 Small changes to conform with acts latest version
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTrkProp.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#831 Acts KF Evaluator
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  simulation/g4simulation/g4eval/SvtxEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#832 TrackProp fix
  offline/packages/trackreco/PHGenFitTrkProp.cc
  offline/packages/trackreco/PHGenFitTrkProp.h
Labels: CI-DST-readback-PENDING, CI-build-gcc-8.3-new-PENDING, CI-build-x8664_sl7-clang-PENDING, CI-build-x8664_sl7-new-PENDING, CI-build-x8664_sl7-scan-PENDING, CI-calo-QA-PENDING, CI-cpp-check-PENDING, CI-track-high-occ-QA-PENDING, CI-track-low-occ-QA-PENDING, CI-valgrind-PENDING

#834 Upstream/master micromegas
  offline/packages/micromegas/CylinderGeomMicromegas.cc
  offline/packages/micromegas/CylinderGeomMicromegas.h
  offline/packages/micromegas/CylinderGeomMicromegasLinkDef.h
  offline/packages/micromegas/Makefile.am
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasClusterizer.h
  offline/packages/micromegas/MicromegasDefs.cc
  offline/packages/micromegas/MicromegasDefs.h
  offline/packages/micromegas/MicromegasTile.h
  offline/packages/micromegas/autogen.sh
  offline/packages/micromegas/configure.ac
  offline/packages/trackbase/TrkrDefs.h
  simulation/g4simulation/g4micromegas/Makefile.am
  simulation/g4simulation/g4micromegas/PHG4MicromegasDetector.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasDetector.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasDigitizer.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasDigitizer.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasSteppingAction.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasSteppingAction.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasSubsystem.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasSubsystem.h
  simulation/g4simulation/g4micromegas/autogen.sh
  simulation/g4simulation/g4micromegas/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#835 add global track fit results to tree
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#836 Upstream/master micromegas tracking
  offline/packages/trackreco/PHGenFitTrkProp.cc
  offline/packages/trackreco/PHGenFitTrkProp.h
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#837 Fix mvtx source link bug
  offline/packages/trackreco/PHActsSourceLinks.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#839 Acts proto track eval
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#840 Upstream/master tpc digitizer
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#841 SoftDrop jet-substructure functionality in sPHENIX
  simulation/g4simulation/g4jets/FastJetAlgo.cc
  simulation/g4simulation/g4jets/FastJetAlgo.h
  simulation/g4simulation/g4jets/Jet.h
  simulation/g4simulation/g4jets/Makefile.am
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#842 Remove hardcoded tracknode name
  simulation/g4simulation/g4jets/JetInput.h
  simulation/g4simulation/g4jets/TowerJetInput.cc
  simulation/g4simulation/g4jets/TowerJetInput.h
  simulation/g4simulation/g4jets/TrackJetInput.cc
  simulation/g4simulation/g4jets/TrackJetInput.h
  simulation/g4simulation/g4jets/TruthJetInput.cc
  simulation/g4simulation/g4jets/TruthJetInput.h
  simulation/g4simulation/g4main/PHG4TruthInfoContainer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE

#843 PHGenFitTrkProp fix
  offline/packages/PHGenFitPkg/PHGenFit/SpacepointMeasurement.cc
  offline/packages/PHGenFitPkg/PHGenFit/SpacepointMeasurement.h
  offline/packages/PHTpcTracker/PHTpcTrackFollower.cc
  offline/packages/PHTpcTracker/PHTpcTracker.cc
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkProp.cc
  offline/packages/trackreco/PHGenFitTrkProp.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#844 Pythia8 no const char
  generators/PHPythia8/PHPythia8.cc
  generators/PHPythia8/PHPythia8.h
  simulation/g4simulation/g4main/G4TBMagneticFieldSetup.cc
  simulation/g4simulation/g4main/PHG4Detector.cc
  simulation/g4simulation/g4main/PHG4DisplayAction.cc
  simulation/g4simulation/g4main/PHG4EtaParameterization.cc
  simulation/g4simulation/g4main/PHG4SimpleEventGenerator.cc
  simulation/g4simulation/g4main/PHG4SimpleEventGenerator.h
  simulation/g4simulation/g4main/PHG4TruthTrackingAction.cc
  simulation/g4simulation/g4main/PHG4UIsession.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#845 Const char to string phsartre
  generators/PHSartre/PHSartre.h
  simulation/g4simulation/g4main/PHG4ParticleGeneratorVectorMeson.cc
  simulation/g4simulation/g4main/PHG4ParticleGeneratorVectorMeson.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#847 install PHTpcTracker.h
  offline/packages/PHTpcTracker/Makefile.am
Labels: CI-build-gcc-8.3-new-PENDING, CI-build-x8664_sl7-clang-PENDING, CI-build-x8664_sl7-new-PENDING, CI-build-x8664_sl7-scan-PENDING, CI-cpp-check-PENDING

#846 Acts Track Propagation
  offline/packages/trackreco/ActsCovarianceRotater.cc
  offline/packages/trackreco/ActsCovarianceRotater.h
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsTrkProp.cc
  offline/packages/trackreco/PHActsTrkProp.h
  offline/packages/trackreco/PHGenFitTrkProp.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#848 only print fatal messages
  offline/framework/phool/PHLog.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#849 delete unused track candidates
  offline/packages/PHTpcTracker/externals/kdfinder.hpp
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#850 Fix branches in Evaluator Tree
  offline/packages/trackreco/ActsEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-FAIL, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#851 Add DCA to acts eval
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#852 when removing hits because below threshold, also remove from hit truth association map
  simulation/g4simulation/g4mvtx/PHG4MvtxDigitizer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
