Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2020-07, with the labels that each got.

#853 Upstream/master micromegas
  offline/packages/micromegas/CylinderGeomMicromegas.cc
  offline/packages/micromegas/CylinderGeomMicromegas.h
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasDefs.cc
  offline/packages/micromegas/MicromegasDefs.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasDigitizer.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasDigitizer.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasSteppingAction.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#855 Fix micromega readback
  offline/packages/micromegas/Makefile.am
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasClusterizer.h
  offline/packages/micromegas/MicromegasTile.h
  offline/packages/micromegas/MicromegasTileLinkDef.h
  simulation/g4simulation/g4dst/Makefile.am
  simulation/g4simulation/g4micromegas/Makefile.am
  simulation/g4simulation/g4micromegas/PHG4MicromegasDetector.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasDigitizer.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasDigitizer.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasSteppingAction.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasSubsystem.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#856 Upstream/master evaluator
  simulation/g4simulation/g4eval/SvtxClusterEval.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxHitEval.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#857 delete track candidate to fix memory leak
  offline/packages/PHTpcTracker/PHTpcSeedFinder.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#858 Fix rare crashes in PHGenFitTrkFit
  offline/packages/trackreco/PHGenFitTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#859 Change TPC Azimuthal Surfaces
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsSourceLinks.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#860 Simplify vmeson gen
  simulation/g4simulation/g4detectors/BeamLineMagnetDetector.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSubsystem.cc
  simulation/g4simulation/g4main/EicEventHeader.cc
  simulation/g4simulation/g4main/PHG4ParticleGeneratorD0.cc
  simulation/g4simulation/g4main/PHG4ParticleGeneratorVectorMeson.cc
  simulation/g4simulation/g4main/PHG4ParticleGeneratorVectorMeson.h
  simulation/g4simulation/g4main/PHG4TruthEventAction.cc
  simulation/g4simulation/g4main/ReadEICFiles.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PENDING, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-PENDING

#861 Adding DCA histograms
  offline/QA/modules/QAG4SimulationTracking.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#862 Implemented proper cluster error calculations
  offline/packages/micromegas/MicromegasClusterizer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#866 Fit WRT Initial Vertex Estimate
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/ActsTrack.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTracks.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkProp.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#864 Tpc cluster error v2
  offline/packages/tpc/TpcClusterizer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#867 Removed redundant zero suppression by GeV
  offline/packages/CaloReco/RawTowerCalibration.cc
  offline/packages/CaloReco/RawTowerCalibration.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#868 Fixed copy-from-baseclass constructor
  simulation/g4simulation/g4main/PHG4Particlev2.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#865 Reorganize svtxeval
  offline/packages/trackreco/ActsEvaluator.cc
  simulation/g4simulation/g4eval/SvtxClusterEval.cc
  simulation/g4simulation/g4eval/SvtxClusterEval.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.h
  simulation/g4simulation/g4eval/SvtxTruthEval.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#871 Optimize map insertion
  generators/phhepmc/PHHepMCGenEventMap.cc
  generators/phhepmc/PHHepMCGenEventMap.h
  simulation/g4simulation/g4main/PHG4HitContainer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#870 Fixed uninitialized variable and modernized
  simulation/g4simulation/g4main/PHG4Hitv1.cc
  simulation/g4simulation/g4main/PHG4Hitv1.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#872 Track Momentum Covariance Bug fix
  offline/packages/trackreco/ActsCovarianceRotater.cc
  offline/packages/trackreco/ActsCovarianceRotater.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#873 Tpc cluster qa
  offline/QA/modules/Makefile.am
  offline/QA/modules/QAG4SimulationTpc.cc
  offline/QA/modules/QAG4SimulationTpc.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#869 Tracking purity histograms added
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/QA/modules/QAG4SimulationTracking.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#875 added realistic timing window [0,800ns]
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#874 Implement input manager to merge hijing events
  generators/phhepmc/PHHepMCGenEvent.cc
  offline/framework/ffaobjects/EventHeader.h
  offline/framework/ffaobjects/EventHeaderv2.cc
  offline/framework/ffaobjects/EventHeaderv2.h
  offline/framework/ffaobjects/EventHeaderv2LinkDef.h
  offline/framework/ffaobjects/Makefile.am
  offline/framework/ffaobjects/SyncObject.h
  simulation/g4simulation/g4main/Fun4AllDstPileupInputManager.cc
  simulation/g4simulation/g4main/Fun4AllDstPileupInputManager.h
  simulation/g4simulation/g4main/Fun4AllDstPileupInputManagerLinkDef.h
  simulation/g4simulation/g4main/Makefile.am
  simulation/g4simulation/g4main/PHG4VertexSelection.cc
  simulation/g4simulation/g4main/PHG4VertexSelection.h
  simulation/g4simulation/g4main/PHG4VertexSelectionLinkDef.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#876 changed tmin to -20ns in order to catch inbunch pileup hits with negative time offsets.
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
