Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2020-09, with the labels that each got.

#903 Mvtx Acts Geometry Update
  offline/packages/PHTpcTracker/externals/kdfinder.hpp
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsSourceLinks.h
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTrkProp.cc
  offline/packages/trackreco/PHActsTrkProp.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#880 Updates on INTT geometry
  simulation/g4simulation/g4intt/PHG4InttDefs.h
  simulation/g4simulation/g4intt/PHG4InttDetector.cc
  simulation/g4simulation/g4intt/PHG4InttDisplayAction.cc
  simulation/g4simulation/g4intt/PHG4InttSubsystem.cc
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#906 Change TPC gas properties to Ne/CF4 50/50
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#907 Update gain to match gas change from Ne/CF4 90/10 to Ne/CF4 50/50
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-FAIL, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#908 Associate silicon truth clusters
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.h
  offline/packages/trackreco/PHTruthTrackSeeding.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-FAIL, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#904 New Clusterizer
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-FAIL, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#909 Acts v0.32
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/ActsTrack.h
  offline/packages/trackreco/ActsTransformations.cc
  offline/packages/trackreco/ActsTransformations.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsSourceLinks.h
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTracks.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsTrkProp.cc
  offline/packages/trackreco/PHActsTrkProp.h
  offline/packages/trackreco/PHActsVertexFitter.cc
  offline/packages/trackreco/PHActsVertexFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#910 Add EEMC to jet reconstruction
  simulation/g4simulation/g4eval/JetRecoEval.cc
  simulation/g4simulation/g4eval/JetRecoEval.h
  simulation/g4simulation/g4eval/JetTruthEval.cc
  simulation/g4simulation/g4eval/JetTruthEval.h
  simulation/g4simulation/g4jets/ClusterJetInput.cc
  simulation/g4simulation/g4jets/Jet.h
  simulation/g4simulation/g4jets/TowerJetInput.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#911 Acts vertex finding
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsVertexFinder.cc
  offline/packages/trackreco/PHActsVertexFinder.h
  offline/packages/trackreco/PHActsVertexFitter.cc
  offline/packages/trackreco/PHActsVertexFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#913 Set tracknode name
  generators/phhepmc/Fun4AllHepMCInputManagerLinkDef.h
  generators/phhepmc/Fun4AllHepMCOutputManagerLinkDef.h
  generators/phhepmc/Fun4AllHepMCPileupInputManagerLinkDef.h
  generators/phhepmc/Fun4AllOscarInputManagerLinkDef.h
  generators/phhepmc/HepMCFlowAfterBurnerLinkDef.h
  generators/phhepmc/Makefile.am
  generators/phhepmc/PHHepMCGenHelperLinkDef.h
  generators/phhepmc/PHHepMCParticleSelectorDecayProductChainLinkDef.h
  generators/phhepmc/PHHepMC_ioLinkDef.h
  generators/phhepmc/configure.ac
  offline/QA/modules/Makefile.am
  offline/QA/modules/QAG4SimulationMvtx.cc
  offline/QA/modules/QAG4SimulationTpc.cc
  offline/QA/modules/QAG4SimulationUpsilon.cc
  offline/QA/modules/QAG4SimulationVertex.cc
  offline/QA/modules/QAG4SimulationVertex.h
  offline/packages/CaloReco/PHMakeGroups.h
  simulation/g4simulation/g4eval/CaloEvaluator.cc
  simulation/g4simulation/g4eval/CaloEvaluator.h
  simulation/g4simulation/g4eval/Makefile.am
  simulation/g4simulation/g4eval/PHG4DSTReader.h
  simulation/g4simulation/g4eval/SvtxClusterEval.h
  simulation/g4simulation/g4eval/SvtxEvalStack.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.h
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.h
  simulation/g4simulation/g4eval/SvtxTruthEval.cc
  simulation/g4simulation/g4eval/SvtxVertexEval.cc
  simulation/g4simulation/g4eval/SvtxVertexEval.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#912 first version of event plane detector
  simulation/g4simulation/g4epd/Makefile.am
  simulation/g4simulation/g4epd/PHG4EPDSubsystem.cc
  simulation/g4simulation/g4epd/PHG4EPDSubsystem.h
  simulation/g4simulation/g4epd/PHG4EPDetector.cc
  simulation/g4simulation/g4epd/PHG4EPDetector.h
  simulation/g4simulation/g4epd/PHG4EPSteppingAction.cc
  simulation/g4simulation/g4epd/PHG4EPSteppingAction.h
  simulation/g4simulation/g4epd/autogen.sh
  simulation/g4simulation/g4epd/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#914 g4epd: handle geantinos in stepping action
  simulation/g4simulation/g4epd/PHG4EPSteppingAction.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#915 Introduce TPC endcap in simulation
  simulation/g4simulation/g4tpc/Makefile.am
  simulation/g4simulation/g4tpc/PHG4TpcDigitizerLinkDef.h
  simulation/g4simulation/g4tpc/PHG4TpcDistortionLinkDef.h
  simulation/g4simulation/g4tpc/PHG4TpcElectronDriftLinkDef.h
  simulation/g4simulation/g4tpc/PHG4TpcEndCapDetector.cc
  simulation/g4simulation/g4tpc/PHG4TpcEndCapDetector.h
  simulation/g4simulation/g4tpc/PHG4TpcEndCapDisplayAction.cc
  simulation/g4simulation/g4tpc/PHG4TpcEndCapDisplayAction.h
  simulation/g4simulation/g4tpc/PHG4TpcEndCapSteppingAction.cc
  simulation/g4simulation/g4tpc/PHG4TpcEndCapSteppingAction.h
  simulation/g4simulation/g4tpc/PHG4TpcEndCapSubsystem.cc
  simulation/g4simulation/g4tpc/PHG4TpcEndCapSubsystem.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneLinkDef.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadoutLinkDef.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneSimpleLinkDef.h
  simulation/g4simulation/g4tpc/PHG4TpcSpaceChargeDistortionLinkDef.h
  simulation/g4simulation/g4tpc/PHG4TpcSubsystemLinkDef.h
  simulation/g4simulation/g4tpc/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#916 Fix Vertex
  offline/packages/trackreco/ActsEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#917 Correct response file
  offline/packages/trackreco/MakeActsGeometry.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#919 epd: make z position of detector configurable
  simulation/g4simulation/g4epd/PHG4EPDSubsystem.cc
  simulation/g4simulation/g4epd/PHG4EPDetector.cc
  simulation/g4simulation/g4epd/PHG4EPDetector.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#920 Fix phtpctracker memleak
  offline/packages/PHTpcTracker/Makefile.am
  offline/packages/PHTpcTracker/PHTpcTrackFollower.cc
  offline/packages/PHTpcTracker/PHTpcTracker.cc
  offline/packages/PHTpcTracker/PHTpcTracker.h
  offline/packages/PHTpcTracker/Track.h
  offline/packages/PHTpcTracker/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#918 Acts KF Timing Additions
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#921 Fix crash in Genfit kalman filter extrapolation
  offline/packages/trackreco/PHGenFitTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#922 Material
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#923 Truth silicon track seeding and TPC-silicon track stub matching module
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHSiliconTpcTrackMatchingLinkDef.h
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.cc
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.h
  offline/packages/trackreco/PHSiliconTruthTrackSeedingLinkDef.h
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#924 Multiple vertices, silicon-TPC track stub matching improvements, PHTpcTracker fix
  offline/packages/PHTpcTracker/PHTpcTracker.cc
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#926 Add projection variable output for TOF analysis
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSimEval.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-PENDING

#927 Magnetic Field Configuration
  offline/packages/PHTpcTracker/PHTpcTracker.cc
  offline/packages/trackreco/ActsTransformations.cc
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsSourceLinks.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-FAIL, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#928 Delete failed proto tracks
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#925 implement skipping for non syncing input managers
  generators/phhepmc/Fun4AllHepMCInputManager.h
  generators/phhepmc/Fun4AllHepMCPileupInputManager.cc
  generators/phhepmc/Fun4AllHepMCPileupInputManager.h
  offline/framework/fun4all/Fun4AllInputManager.h
  offline/framework/fun4all/Fun4AllNoSyncDstInputManager.h
  offline/framework/fun4all/Fun4AllServer.cc
  offline/framework/fun4all/Fun4AllServer.h
  offline/framework/fun4all/Fun4AllSyncManager.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-FAIL, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-PENDING

#929 Actsv1.0
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/ActsTransformations.cc
  offline/packages/trackreco/ActsTransformations.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsTrkProp.cc
  offline/packages/trackreco/PHActsTrkProp.h
  offline/packages/trackreco/PHActsVertexFinder.cc
  offline/packages/trackreco/PHActsVertexFinder.h
  offline/packages/trackreco/PHActsVertexFitter.cc
  offline/packages/trackreco/PHActsVertexFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#930 do not skip 0 events, just return
  offline/framework/fun4all/Fun4AllServer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#931 Skip for pileup 2
  generators/phhepmc/Fun4AllHepMCInputManager.cc
  generators/phhepmc/Fun4AllHepMCInputManager.h
  generators/phhepmc/Fun4AllHepMCPileupInputManager.cc
  generators/phhepmc/Fun4AllHepMCPileupInputManager.h
  generators/phhepmc/Fun4AllOscarInputManager.cc
  generators/phhepmc/Makefile.am
  generators/phhepmc/PHGenIntegralv1.h
  generators/phhepmc/PHHepMCGenEvent.cc
  generators/phhepmc/PHHepMCGenEventMap.cc
  generators/phhepmc/PHHepMCGenHelper.cc
  generators/phhepmc/PHHepMCGenHelper.h
  generators/phhepmc/PHHepMC_ioLinkDef.h
  offline/framework/fun4all/Fun4AllBaseLinkDef.h
  offline/framework/fun4all/Fun4AllDstInputManagerLinkDef.h
  offline/framework/fun4all/Fun4AllDstOutputManagerLinkDef.h
  offline/framework/fun4all/Fun4AllDummyInputManager.cc
  offline/framework/fun4all/Fun4AllDummyInputManager.h
  offline/framework/fun4all/Fun4AllDummyInputManagerLinkDef.h
  offline/framework/fun4all/Fun4AllHistoManagerLinkDef.h
  offline/framework/fun4all/Fun4AllInputManager.h
  offline/framework/fun4all/Fun4AllInputManagerLinkDef.h
  offline/framework/fun4all/Fun4AllNoSyncDstInputManagerLinkDef.h
  offline/framework/fun4all/Fun4AllOutputManagerLinkDef.h
  offline/framework/fun4all/Fun4AllReturnCodes.h
  offline/framework/fun4all/Fun4AllServer.cc
  offline/framework/fun4all/Fun4AllServerLinkDef.h
  offline/framework/fun4all/Fun4AllSyncManager.cc
  offline/framework/fun4all/Fun4AllSyncManagerLinkDef.h
  offline/framework/fun4all/Makefile.am
  offline/framework/fun4all/SubsysRecoLinkDef.h
  offline/framework/fun4all/configure.ac
  offline/packages/CaloReco/BEmcRec.cc
  offline/packages/NodeDump/DumpPHG4CellContainer.cc
  offline/packages/NodeDump/DumpPHG4CylinderCellContainer.cc
  offline/packages/NodeDump/DumpPHHepMCGenEventMap.cc
  offline/packages/NodeDump/DumpPHHepMCGenEventMap.h
  offline/packages/NodeDump/DumpTrkrClusterContainer.cc
  offline/packages/NodeDump/DumpTrkrHitSetContainer.cc
  offline/packages/NodeDump/DumpVariableArray.cc
  offline/packages/NodeDump/Dumper.cc
  offline/packages/NodeDump/DumperLinkDef.h
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/NodeDump/PHNodeDumpLinkDef.h
  offline/packages/NodeDump/configure.ac
  offline/packages/PHField/PHField2D.cc
  offline/packages/PHField/PHField3DCartesian.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#932 TPC - Micromegas matching module
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  offline/packages/trackreco/PHMicromegasTpcTrackMatchingLinkDef.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#933 Fix micromegas tracking
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHGenFitTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-FAIL, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#934 Actsv1.1
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#935 Fix hepmc pileup sync
  generators/phhepmc/Fun4AllHepMCInputManager.cc
  generators/phhepmc/Fun4AllHepMCInputManager.h
  generators/phhepmc/Fun4AllHepMCPileupInputManager.cc
  generators/phhepmc/Fun4AllHepMCPileupInputManager.h
  generators/phhepmc/PHHepMCGenHelper.cc
  generators/phhepmc/PHHepMCGenHelper.h
  offline/database/PHParameter/Makefile.am
  offline/database/PHParameter/PHParameters.cc
  offline/database/PHParameter/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
