Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2021-06, with the labels that each got.

#1191 Fixing a fast tracking initialization bug introduced in #1115
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSimEval.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1192 Add option to remove silicon seeds
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1194 Fix mm volume id detection in ActsTrkFitter
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1195 Simulation Ions from event generators
  simulation/g4simulation/g4main/HepMCNodeReader.cc
  simulation/g4simulation/g4main/PHG4PrimaryGeneratorAction.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1197 Added ADC distributions to micromegas QA
  offline/QA/modules/QAG4SimulationMicromegas.cc
  offline/QA/modules/QAG4SimulationMicromegas.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1198 sum cluster's belonging hits' ADC values and assign to cluster
  offline/packages/micromegas/MicromegasClusterizer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-FAIL, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1193 Master space charge matrices
  offline/packages/tpccalib/Makefile.am
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/tpccalib/TpcSpaceChargeMatrixContainer.h
  offline/packages/tpccalib/TpcSpaceChargeMatrixContainerLinkDef.h
  offline/packages/tpccalib/TpcSpaceChargeMatrixContainerv1.cc
  offline/packages/tpccalib/TpcSpaceChargeMatrixContainerv1.h
  offline/packages/tpccalib/TpcSpaceChargeMatrixContainerv1LinkDef.h
  offline/packages/tpccalib/TpcSpaceChargeMatrixInversion.cc
  offline/packages/tpccalib/TpcSpaceChargeMatrixInversion.h
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.h
  offline/packages/tpccalib/configure.ac
  offline/packages/trackreco/Makefile.am
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-FAIL, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1190 Track cleaner
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TpcSeedTrackMap.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHTpcTrackSeedVertexAssoc.cc
  offline/packages/trackreco/PHTrackCleaner.cc
  offline/packages/trackreco/PHTrackCleaner.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1199 Check secondary vertex association
  offline/packages/trackreco/PHActsVertexFinder.cc
  offline/packages/trackreco/PHActsVertexFinder.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1201 Iterative vertex finder bug fix
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1202 EventEvaluator additions
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1203 Stacking action
  simulation/g4simulation/g4main/Makefile.am
  simulation/g4simulation/g4main/PHG4PhenixStackingAction.cc
  simulation/g4simulation/g4main/PHG4PhenixStackingAction.h
  simulation/g4simulation/g4main/PHG4Reco.cc
  simulation/g4simulation/g4main/PHG4Reco.h
  simulation/g4simulation/g4main/PHG4StackingAction.cc
  simulation/g4simulation/g4main/PHG4StackingAction.h
  simulation/g4simulation/g4main/PHG4Subsystem.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1204 Version tpc seed track map
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TpcSeedTrackMap.cc
  offline/packages/trackbase/TpcSeedTrackMap.h
  offline/packages/trackbase/TpcSeedTrackMapLinkDef.h
  offline/packages/trackbase/TpcSeedTrackMapv1.cc
  offline/packages/trackbase/TpcSeedTrackMapv1.h
  offline/packages/trackbase/TpcSeedTrackMapv1LinkDef.h
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHTrackCleaner.cc
  offline/packages/trackreco/PHTrackCleaner.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1205 store evaluation histogram to separate file, add flag to disable, turn off by default
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1206 Fix TPC volume id detection in ActsTrkFitter
  offline/packages/trackbase/ActsSurfaceMaps.cc
  offline/packages/trackbase/ActsSurfaceMaps.h
  offline/packages/trackbase/Makefile.am
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1207 Fix High Occupancy vertexing
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1208 Automatic geometry export using unique file names
  offline/packages/PHGeometry/Makefile.am
  offline/packages/PHGeometry/PHGeomUtility.cc
  offline/packages/PHGeometry/PHGeomUtility.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1209 remove printout, add PrepareNewEvent() to PHG4StackingAction, remove shadowed vars
  simulation/g4simulation/g4main/Fun4AllDstPileupMerger.cc
  simulation/g4simulation/g4main/PHG4PhenixStackingAction.h
  simulation/g4simulation/g4main/PHG4Reco.cc
  simulation/g4simulation/g4main/PHG4StackingAction.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1210 Beamline magnet updates
  simulation/g4simulation/g4detectors/BeamLineMagnetDetector.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetDetector.h
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSubsystem.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1211 fix interface to PrepareNewEvent()
  simulation/g4simulation/g4main/PHG4PhenixStackingAction.cc
  simulation/g4simulation/g4main/PHG4PhenixStackingAction.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1213 X-Y-Z rotations in simple subsystems
  simulation/g4simulation/g4detectors/PHG4BlockDetector.cc
  simulation/g4simulation/g4detectors/PHG4ConeDetector.cc
  simulation/g4simulation/g4detectors/PHG4ConeSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4CylinderDetector.cc
  simulation/g4simulation/g4detectors/PHG4CylinderSubsystem.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1212 Pushing in cm distortion code.
  calibrations/tpc/cm/CMDistortionAnalysis.C
  calibrations/tpc/cm/CMDistortionAnalysisCart.C
  calibrations/tpc/cm/CMDistortionAnalysisPhiR.C
  calibrations/tpc/cm/CMDistortionReco.C
  calibrations/tpc/cm/CMDistortionRecoCart.C
  calibrations/tpc/cm/CMDistortionRecoPhiR.C
  calibrations/tpc/generator/AnalyticFieldModel.cc
  calibrations/tpc/generator/AnalyticFieldModel.h
  calibrations/tpc/generator/AnnularFieldSim.cc
  calibrations/tpc/generator/AnnularFieldSim.h
  calibrations/tpc/generator/Rossegger.cc
  calibrations/tpc/generator/Rossegger.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1214 addition of geometry tree for calorimeters
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1215 SvtxEvaluator Fix
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1216 use frog in order to be able to load and aggregate matrices from files that are on e.g. dcache
  offline/packages/tpccalib/Makefile.am
  offline/packages/tpccalib/TpcSpaceChargeMatrixInversion.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1218 CA seeding and propagator overhaul
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1219 Add event level info to event evaluator
  generators/PHPythia8/PHPythia8.cc
  generators/PHPythia8/PHPythia8.h
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#1221 PHSimpleKFProp valgrind fix
  offline/packages/trackreco/PHSimpleKFProp.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1220 Preparations for hybrid Electron End-cap EMC
  offline/packages/CaloBase/RawTowerDefs.h
  offline/packages/CaloReco/BEmcRec.cc
  offline/packages/CaloReco/BEmcRec.h
  offline/packages/CaloReco/BEmcRecEEMC.cc
  offline/packages/CaloReco/BEmcRecEEMC.h
  offline/packages/CaloReco/RawClusterBuilderTemplate.cc
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#1217 Additions to base classes for introducing a longitudinally separated Calo
  .gitignore
  offline/packages/CaloBase/RawTower.h
  offline/packages/CaloBase/RawTowerContainer.cc
  offline/packages/CaloBase/RawTowerContainer.h
  offline/packages/CaloBase/RawTowerDefs.h
  offline/packages/CaloBase/RawTowerGeom.h
  offline/packages/CaloBase/RawTowerGeomv3.cc
  offline/packages/CaloBase/RawTowerGeomv3.h
  offline/packages/CaloBase/RawTowerv1.cc
  offline/packages/CaloBase/RawTowerv1.h
  offline/packages/CaloBase/RawTowerv2.h
  offline/packages/CaloReco/Makefile.am
  offline/packages/CaloReco/RawTowerCalibration.cc
  simulation/g4simulation/g4calo/Makefile.am
  simulation/g4simulation/g4calo/RawTowerBuilderByHitIndexLHCal.cc
  simulation/g4simulation/g4calo/RawTowerBuilderByHitIndexLHCal.h
  simulation/g4simulation/g4calo/RawTowerDigitizer.cc
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1222 EventEvaluator fix for missing cluster eta
  simulation/g4simulation/g4eval/EventEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1224 Fix slope cal
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.cc
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.h
  calibrations/calorimeter/calo_tower_slope/macro/Fun4All_G4_SlopeCal.C
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1225 Acts evaluator update
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1226 Update mag field file path
  offline/packages/trackreco/MakeActsGeometry.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1227 Beam magnet fix
  simulation/g4simulation/g4detectors/BeamLineMagnetDetector.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetDetector.h
  simulation/g4simulation/g4detectors/BeamLineMagnetSubsystem.cc
  simulation/g4simulation/g4main/PHG4Detector.h
  simulation/g4simulation/g4main/PHG4PhenixDetector.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
