Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2021-03, with the labels that each got.

#1090 use lower_bound rather than find to check existence of cluster in map
  offline/packages/trackbase/TrkrClusterContainer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1092 Fix micromegas geometry nodenames
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/trackreco/PHTruthClustering.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1093 Fix fhcal
  simulation/g4simulation/g4detectors/PHG4BbcDetector.cc
  simulation/g4simulation/g4detectors/PHG4BbcDetector.h
  simulation/g4simulation/g4detectors/PHG4BbcSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4BbcSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4BlockDisplayAction.cc
  simulation/g4simulation/g4detectors/PHG4ConeDetector.cc
  simulation/g4simulation/g4detectors/PHG4ConeDetector.h
  simulation/g4simulation/g4detectors/PHG4ConeSubsystem.h
  simulation/g4simulation/g4detectors/PHG4CrystalCalorimeterDetector.cc
  simulation/g4simulation/g4detectors/PHG4CrystalCalorimeterDetector.h
  simulation/g4simulation/g4detectors/PHG4CrystalCalorimeterSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4CylinderDisplayAction.cc
  simulation/g4simulation/g4detectors/PHG4EventActionClearZeroEdep.cc
  simulation/g4simulation/g4detectors/PHG4ForwardEcalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4ForwardHcalDetector.cc
  simulation/g4simulation/g4detectors/PHG4ForwardHcalDetector.h
  simulation/g4simulation/g4detectors/PHG4ForwardHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4ForwardHcalSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4ForwardHcalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4ForwardHcalSubsystem.h
  simulation/g4simulation/g4detectors/PHG4OuterHcalDisplayAction.cc
  simulation/g4simulation/g4detectors/PHG4ProjCrystalCalorimeterDetector.cc
  simulation/g4simulation/g4detectors/PHG4ProjCrystalCalorimeterDetector.h
  simulation/g4simulation/g4main/Fun4AllDstPileupInputManager.cc
  simulation/g4simulation/g4main/Fun4AllDstPileupInputManager.h
  simulation/g4simulation/g4main/Fun4AllDstPileupMerger.cc
  simulation/g4simulation/g4main/Fun4AllDstPileupMerger.h
  simulation/g4simulation/g4main/Fun4AllSingleDstPileupInputManager.cc
  simulation/g4simulation/g4main/Fun4AllSingleDstPileupInputManager.h
  simulation/g4simulation/g4main/PHG4RegionInformation.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1095 Acts to svtx module
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsToSvtxTracks.cc
  offline/packages/trackreco/PHActsToSvtxTracks.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1091 TPC seeding overhaul and introduction of PHSimpleKFProp
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/GPUTPCBaseTrackParam.h
  offline/packages/trackreco/GPUTPCTrackLinearisation.h
  offline/packages/trackreco/GPUTPCTrackParam.cxx
  offline/packages/trackreco/GPUTPCTrackParam.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHHybridSeeding.cc
  offline/packages/trackreco/PHHybridSeeding.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
  offline/packages/trackreco/nanoflann.hpp
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1097 KFParticle: More intermediate state selection options
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.h
  offline/packages/KFParticle_sPHENIX/KFParticle_eventReconstruction.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_eventReconstruction.h
  offline/packages/KFParticle_sPHENIX/KFParticle_nTuple.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_nTuple.h
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1100 Distortion reconstruction
  offline/packages/tpccalib/Makefile.am
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.h
  offline/packages/tpccalib/TpcSpaceChargeReconstructionHelper.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstructionHelper.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL

#1099 restructuring and DRCALO preparation for EventEvaluator
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1101 Fix memory leaks
  offline/packages/trackbase_historic/SvtxTrack_v1.cc
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1102 Reject outlier clusters
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHTpcTrackSeedVertexAssoc.cc
  offline/packages/trackreco/PHTpcTrackSeedVertexAssoc.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1103 Fixing valgrind issues
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1104 added hits for tracking layers for output
  simulation/g4simulation/g4eval/EventEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1105 fixed a bug in distortion extrapolation procedure
  offline/packages/tpccalib/TpcSpaceChargeReconstructionHelper.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstructionHelper.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1108 protect against nan scale factors
  offline/packages/tpccalib/TpcSpaceChargeReconstructionHelper.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1109 fix for EventEvaluator for calo standalone modes
  simulation/g4simulation/g4eval/EventEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1110 reduced output size and rare crash for EventEvaluator
  simulation/g4simulation/g4eval/EventEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1113 Implementing beam bunch z dependent of collision vertex and momentum tilt (Crab cavity kick)
  generators/phhepmc/PHHepMCGenHelper.cc
  generators/phhepmc/PHHepMCGenHelper.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1114 KFParticle: Added truth PV info and fixed DIRA bug
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.h
  offline/packages/KFParticle_sPHENIX/KFParticle_eventReconstruction.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_nTuple.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1115 Add constituent tracing for truth-based fast tracking tracks
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/trackbase_historic/SvtxTrack.h
  offline/packages/trackbase_historic/SvtxTrack_FastSim.cc
  offline/packages/trackbase_historic/SvtxTrack_FastSim_v1.cc
  offline/packages/trackbase_historic/SvtxTrack_FastSim_v1.h
  offline/packages/trackbase_historic/SvtxTrack_FastSim_v1LinkDef.h
  offline/packages/trackbase_historic/SvtxTrack_v1.h
  simulation/g4simulation/g4trackfastsim/Makefile.am
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.cc
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.h
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSimEval.cc
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSimEval.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1116 assign correct charge to the truth track.
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1117 Introduction of far forward simulation for EIC
  simulation/g4simulation/g4detectors/PHG4ConeDetector.cc
  simulation/g4simulation/g4detectors/PHG4ConeSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4CylinderDetector.cc
  simulation/g4simulation/g4detectors/PHG4CylinderSubsystem.cc
  simulation/g4simulation/g4main/HepMCNodeReader.cc
  simulation/g4simulation/g4main/ReadEICFiles.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1118 use TDatabasePDG instead of G4ParticleTable to get charge from PID
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1119 Clang c++17
  generators/PHPythia8/configure.ac
  generators/hijing/configure.ac
  offline/QA/modules/configure.ac
  offline/packages/CaloBase/configure.ac
  offline/packages/CaloReco/configure.ac
  offline/packages/ClusterIso/configure.ac
  offline/packages/KFParticle_sPHENIX/configure.ac
  offline/packages/NodeDump/configure.ac
  offline/packages/PHTpcTracker/configure.ac
  offline/packages/jetbackground/configure.ac
  offline/packages/particleflow/configure.ac
  offline/packages/trackreco/configure.ac
  offline/packages/trigger/configure.ac
  simulation/g4simulation/EICPhysicsList/configure.ac
  simulation/g4simulation/g4bbc/configure.ac
  simulation/g4simulation/g4calo/configure.ac
  simulation/g4simulation/g4detectors/configure.ac
  simulation/g4simulation/g4epd/configure.ac
  simulation/g4simulation/g4histos/configure.ac
  simulation/g4simulation/g4intt/configure.ac
  simulation/g4simulation/g4jets/configure.ac
  simulation/g4simulation/g4main/PHG4Reco.cc
  simulation/g4simulation/g4main/configure.ac
  simulation/g4simulation/g4micromegas/configure.ac
  simulation/g4simulation/g4mvtx/configure.ac
  simulation/g4simulation/g4tpc/configure.ac
  simulation/g4simulation/g4trackfastsim/configure.ac
  simulation/g4simulation/g4vertex/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-FAIL, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1120 added true hit information to EventEvaluator
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-x8664_sl7-clang-FAIL, CI-build-x8664_sl7-new-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-PENDING, CI-track-high-occ-QA-PENDING, CI-track-low-occ-QA-PENDING, CI-valgrind-PENDING
