Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2021-11, with the labels that each got.

#1332 Drift velocity
  offline/QA/modules/QAG4SimulationMicromegas.cc
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/trackbase_historic/SvtxTrack_v2.cc
  simulation/g4simulation/g4detectors/PHG4CylinderCellGeom.cc
  simulation/g4simulation/g4detectors/PHG4CylinderCellGeom.h
  simulation/g4simulation/g4tpc/PHG4TpcDigitizer.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1333 Add oHCAL tile map response
  simulation/g4simulation/g4detectors/PHG4OuterHcalSteppingAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1334 Adding IDs for B0 ECal
  offline/packages/CaloBase/RawTowerDefs.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-FAIL, CI-DST-readback-FAIL, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-FAIL, CI-track-high-occ-QA-FAIL, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1336 native GDML writer addition
  simulation/g4simulation/g4gdml/PHG4GDMLUtility.cc
  simulation/g4simulation/g4gdml/PHG4GDMLUtility.hh
  simulation/g4simulation/g4main/PHG4Reco.cc
  simulation/g4simulation/g4main/PHG4Reco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1335 Improve INTT Matching Time
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1337 Tpc deltaz correction
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHTpcDeltaZCorrection.cc
  offline/packages/trackreco/PHTpcDeltaZCorrection.h
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.cc
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1339 Centrality
  offline/packages/centrality/CentralityInfo.h
  offline/packages/centrality/CentralityInfoLinkDef.h
  offline/packages/centrality/CentralityInfov1.cc
  offline/packages/centrality/CentralityInfov1.h
  offline/packages/centrality/CentralityInfov1LinkDef.h
  offline/packages/centrality/Makefile.am
  offline/packages/centrality/autogen.sh
  offline/packages/centrality/configure.ac
  simulation/g4simulation/g4centrality/Makefile.am
  simulation/g4simulation/g4centrality/PHG4CentralityReco.cc
  simulation/g4simulation/g4centrality/PHG4CentralityReco.h
  simulation/g4simulation/g4centrality/autogen.sh
  simulation/g4simulation/g4centrality/configure.ac
  simulation/g4simulation/g4dst/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1340 update for MDC2 production output
  offline/framework/frog/CreateFileList.pl
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1343 Cache global in TPC Seeding
  offline/packages/trackbase_historic/ActsTransformations.cc
  offline/packages/trackbase_historic/ActsTransformations.h
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1341 Tpc distortion correction
  offline/packages/tpc/Makefile.am
  offline/packages/tpc/TpcDistortionCorrection.cc
  offline/packages/tpc/TpcDistortionCorrection.h
  offline/packages/tpc/TpcDistortionCorrectionContainer.h
  offline/packages/tpc/TpcLoadDistortionCorrection.cc
  offline/packages/tpc/TpcLoadDistortionCorrection.h
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1346 Add Charm/Bottom D0 and nopileup flag
  offline/framework/frog/CreateFileList.pl
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-PENDING, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-PENDING, CI-track-high-occ-QA-PENDING, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1347 Update cluster mover
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHTpcClusterMover.cc
  offline/packages/trackreco/PHTpcClusterMover.h
  offline/packages/trackreco/PHTpcDeltaZCorrection.cc
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1348 Read in centrality calibrations from file and determine centiles
  offline/packages/centrality/CentralityInfo.h
  simulation/g4simulation/g4centrality/Makefile.am
  simulation/g4simulation/g4centrality/PHG4CentralityReco.cc
  simulation/g4simulation/g4centrality/PHG4CentralityReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1344 Cluster silicon in local coordinates
  offline/packages/intt/InttClusterizer.cc
  offline/packages/mvtx/MvtxClusterizer.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1349 Tpc distortion correction (continued)
  offline/packages/tpc/Makefile.am
  offline/packages/tpc/TpcSpaceChargeCorrection.cc
  offline/packages/tpc/TpcSpaceChargeCorrection.h
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS
