Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2021-01, with the labels that each got.

#1041 Dummy pull request for Jenkins CI development as a new GitHub App
  offline/QA/modules/QAG4SimulationCalorimeter.cc
  offline/QA/modules/QAG4SimulationCalorimeter.h
  offline/QA/modules/QAG4SimulationCalorimeterSum.cc
  offline/QA/modules/QAG4SimulationCalorimeterSum.h
  offline/QA/modules/QAG4SimulationIntt.cc
  offline/QA/modules/QAG4SimulationMvtx.cc
  offline/QA/modules/QAG4SimulationTpc.cc
  offline/QA/modules/QAG4SimulationTpc.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, preview-do-not-merge

#1043 Add pythia8 files to selection
  offline/framework/frog/CreateFileList.pl
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE

#1044 Acts Silicon Seeding Improvements
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.h
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE

#1046 reduce chatter of pileupmanager
  simulation/g4simulation/g4main/Fun4AllDstPileupInputManager.cc
  simulation/g4simulation/g4main/Fun4AllSingleDstPileupInputManager.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE

#1045 Overload equality operators for PHG4TruthInfoContainer and PHG4Shower
  simulation/g4simulation/g4main/PHG4Shower.h
  simulation/g4simulation/g4main/PHG4Showerv1.h
  simulation/g4simulation/g4main/PHG4TruthInfoContainer.cc
  simulation/g4simulation/g4main/PHG4TruthInfoContainer.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE

#1047 Fix to KFParticle DST output
  offline/packages/KFParticle_sPHENIX/KFParticle_DST.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE

#1051 Randomize segments
  offline/database/PHParameter/PHParameters.cc
  offline/framework/ffamodules/HeadReco.cc
  offline/framework/ffamodules/SyncReco.cc
  offline/framework/ffaobjects/EventHeader.h
  offline/framework/ffaobjects/EventHeaderv1.cc
  offline/framework/ffaobjects/EventHeaderv1.h
  offline/framework/ffaobjects/EventHeaderv2.h
  offline/framework/ffaobjects/RunHeader.h
  offline/framework/ffaobjects/RunHeaderv1.cc
  offline/framework/frog/CreateFileList.pl
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1050 deprecate PHG4CylinderGeom_Spacalv3::load_demo_sector_tower_map_2015_…
  simulation/g4simulation/g4detectors/Makefile.am
  simulation/g4simulation/g4detectors/PHG4CylinderGeom_Spacalv3.h
  simulation/g4simulation/g4detectors/PHG4CylinderGeom_Spacalv3_2015.cc
  simulation/g4simulation/g4detectors/PHG4FullProjSpacalDetector.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1053 Fixed bug in hit-truth associations caused by buffering TrkrHits over…
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlane.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-PENDING, CI-cpp-check-PENDING, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-PENDING

#1054 Fail safe for IVF in single particle sims
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.h
  offline/packages/trackreco/PHActsSiliconSeeding.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PENDING, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1055 Electron drift bug
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1056 Trap vertex error
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1057 Cluster cleaner
  offline/packages/tpc/Makefile.am
  offline/packages/tpc/TpcClusterCleaner.cc
  offline/packages/tpc/TpcClusterCleaner.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1062 Use eic trackmap
  simulation/g4simulation/g4eval/JetRecoEval.cc
  simulation/g4simulation/g4eval/JetRecoEval.h
  simulation/g4simulation/g4eval/PHG4DSTReader.cc
  simulation/g4simulation/g4eval/SvtxEvalStack.h
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.h
  simulation/g4simulation/g4eval/SvtxVertexEval.cc
  simulation/g4simulation/g4eval/SvtxVertexEval.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1061 Hybrid TPC seeding module
  offline/packages/trackreco/GPUTPCTrackLinearisation.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHHybridSeeding.cc
  offline/packages/trackreco/PHHybridSeeding.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1059 Update DCA covariance and magnetic field
  offline/packages/trackreco/ActsTransformations.cc
  offline/packages/trackreco/ActsTransformations.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkProp.cc
  offline/packages/trackreco/PHActsVertexFinder.cc
  offline/packages/trackreco/PHActsVertexFinder.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1063 Truth Initial Vertexing with Acts Silicon Seeding
  offline/packages/trackreco/PHTruthVertexing.cc
  offline/packages/trackreco/PHTruthVertexing.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-PENDING, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-PENDING

#1065 Spacecharge reconstruction
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1068 Handle in extreme rare cases, noise hits can make a track with no `maxtruthparticle` matched
  simulation/g4simulation/g4eval/JetRecoEval.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
