Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2021-04, with the labels that each got.

#1125 fix needed for smooth running of beamline magnet class
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-FAIL, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-build-x8664_sl7-new-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1126 Fix wreturn stack address
  offline/QA/modules/configure.ac
  offline/packages/CaloBase/Makefile.am
  offline/packages/CaloBase/RawTower.cc
  offline/packages/CaloBase/RawTower.h
  offline/packages/CaloBase/RawTowerGeomContainer.cc
  offline/packages/CaloBase/RawTowerGeomContainer.h
  offline/packages/CaloBase/configure.ac
  offline/packages/CaloReco/configure.ac
  offline/packages/ClusterIso/configure.ac
  offline/packages/KFParticle_sPHENIX/configure.ac
  offline/packages/NodeDump/configure.ac
  offline/packages/PHTpcTracker/configure.ac
  offline/packages/jetbackground/configure.ac
  offline/packages/particleflow/configure.ac
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/trackbase_historic/SvtxTrack.cc
  offline/packages/trackbase_historic/SvtxTrack.h
  offline/packages/trackbase_historic/SvtxTrackMap.cc
  offline/packages/trackbase_historic/SvtxTrackMap.h
  offline/packages/trackbase_historic/SvtxVertex.cc
  offline/packages/trackbase_historic/SvtxVertex.h
  offline/packages/trackbase_historic/SvtxVertexMap.cc
  offline/packages/trackbase_historic/SvtxVertexMap.h
  offline/packages/trackbase_historic/configure.ac
  offline/packages/trackreco/HelixHoughBin.cc
  offline/packages/trackreco/HelixHoughBin.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/configure.ac
  offline/packages/trigger/configure.ac
  simulation/g4simulation/g4bbc/BbcVertexMap.cc
  simulation/g4simulation/g4bbc/BbcVertexMap.h
  simulation/g4simulation/g4bbc/Makefile.am
  simulation/g4simulation/g4bbc/configure.ac
  simulation/g4simulation/g4calo/configure.ac
  simulation/g4simulation/g4detectors/configure.ac
  simulation/g4simulation/g4epd/configure.ac
  simulation/g4simulation/g4histos/configure.ac
  simulation/g4simulation/g4intt/configure.ac
  simulation/g4simulation/g4jets/Jet.cc
  simulation/g4simulation/g4jets/Jet.h
  simulation/g4simulation/g4jets/JetMap.cc
  simulation/g4simulation/g4jets/JetMap.h
  simulation/g4simulation/g4jets/configure.ac
  simulation/g4simulation/g4main/Makefile.am
  simulation/g4simulation/g4main/PHG4Shower.cc
  simulation/g4simulation/g4main/PHG4Shower.h
  simulation/g4simulation/g4main/configure.ac
  simulation/g4simulation/g4micromegas/configure.ac
  simulation/g4simulation/g4mvtx/configure.ac
  simulation/g4simulation/g4tpc/configure.ac
  simulation/g4simulation/g4trackfastsim/configure.ac
  simulation/g4simulation/g4vertex/GlobalVertex.cc
  simulation/g4simulation/g4vertex/GlobalVertex.h
  simulation/g4simulation/g4vertex/GlobalVertexMap.cc
  simulation/g4simulation/g4vertex/GlobalVertexMap.h
  simulation/g4simulation/g4vertex/Makefile.am
  simulation/g4simulation/g4vertex/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1127 Fix other instance of track.release memory leak
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-FAIL, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1128 Fix cppcheck warnings
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/trackbase/TrkrClusterv2.cc
  offline/packages/trackbase_historic/SvtxTrack_v2.cc
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1129 TPC propagator cluster getter fix, and small ALICE KF update
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-FAIL, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1132 switch from ogzBuffer to opsBuffer
  offline/framework/fun4allraw/Fun4AllRolloverFileOutStream.cc
  offline/framework/phoolraw/PHRawOManager.cc
  offline/framework/phoolraw/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-FAIL, CI-build-gcc-8.3-new-FAIL, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1130 Field Map
  generators/PHPythia8/PHPy8JetTrigger.cc
  generators/PHPythia8/PHPy8ParticleTrigger.cc
  generators/PHPythia8/PHPythia8.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1133 Fix micromegas
  generators/PHSartre/PHSartreParticleTrigger.cc
  offline/packages/micromegas/MicromegasClusterizer.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1134 Tracking fixes
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1131 Introduction of EHCAL & base class changes needed for DR calo
  .gitignore
  offline/packages/CaloBase/Makefile.am
  offline/packages/CaloBase/RawTower.cc
  offline/packages/CaloBase/RawTower.h
  offline/packages/CaloBase/RawTowerDefs.h
  offline/packages/CaloBase/RawTowerv2.cc
  offline/packages/CaloBase/RawTowerv2.h
  offline/packages/CaloBase/RawTowerv2LinkDef.h
  simulation/g4simulation/g4calo/Makefile.am
  simulation/g4simulation/g4calo/RawTowerBuilderDRCALO.cc
  simulation/g4simulation/g4calo/RawTowerBuilderDRCALO.h
  simulation/g4simulation/g4detectors/Makefile.am
  simulation/g4simulation/g4detectors/PHG4BackwardHcalDetector.cc
  simulation/g4simulation/g4detectors/PHG4BackwardHcalDetector.h
  simulation/g4simulation/g4detectors/PHG4BackwardHcalDisplayAction.cc
  simulation/g4simulation/g4detectors/PHG4BackwardHcalDisplayAction.h
  simulation/g4simulation/g4detectors/PHG4BackwardHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4BackwardHcalSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4BackwardHcalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4BackwardHcalSubsystem.h
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
  simulation/g4simulation/g4main/PHG4Hit.cc
  simulation/g4simulation/g4main/PHG4Hit.h
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1136 Tracking fixes
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1140 Silicon Stub Association
  offline/packages/trackreco/PHTruthVertexing.cc
  simulation/g4simulation/g4main/PHG4Particlev2.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1139 new evaluation module
  simulation/g4simulation/g4eval/Makefile.am
  simulation/g4simulation/g4eval/TrackEvaluation.cc
  simulation/g4simulation/g4eval/TrackEvaluation.h
  simulation/g4simulation/g4eval/TrackEvaluationContainer.cc
  simulation/g4simulation/g4eval/TrackEvaluationContainer.h
  simulation/g4simulation/g4eval/TrackEvaluationContainerLinkDef.h
  simulation/g4simulation/g4eval/configure.ac
  simulation/g4simulation/g4micromegas/PHG4MicromegasDigitizer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1142 New evaluation module (follow up)
  simulation/g4simulation/g4eval/Makefile.am
  simulation/g4simulation/g4eval/TrackEvaluation.cc
  simulation/g4simulation/g4eval/TrackEvaluation.h
  simulation/g4simulation/g4eval/TrackEvaluationContainer.h
  simulation/g4simulation/g4eval/TrackEvaluationContainerv1.cc
  simulation/g4simulation/g4eval/TrackEvaluationContainerv1.h
  simulation/g4simulation/g4eval/TrackEvaluationContainerv1LinkDef.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1112 Reject Geant4 tracks during filling of truth container
  simulation/g4simulation/g4main/PHG4TruthInfoContainer.cc
  simulation/g4simulation/g4main/PHG4TruthInfoContainer.h
  simulation/g4simulation/g4main/PHG4TruthTrackingAction.cc
  simulation/g4simulation/g4main/PHG4TruthTrackingAction.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1144 compiler check needs to use *g++ for daily build and jenkins/user to …
  generators/PHPythia8/configure.ac
  offline/QA/modules/configure.ac
  offline/database/pdbcal/pg/configure.ac
  offline/framework/frog/configure.ac
  offline/packages/CaloBase/configure.ac
  offline/packages/CaloReco/configure.ac
  offline/packages/ClusterIso/configure.ac
  offline/packages/KFParticle_sPHENIX/configure.ac
  offline/packages/NodeDump/configure.ac
  offline/packages/PHTpcTracker/configure.ac
  offline/packages/jetbackground/configure.ac
  offline/packages/particleflow/configure.ac
  offline/packages/trackreco/configure.ac
  offline/packages/trigger/configure.ac
  simulation/g4simulation/EICPhysicsList/configure.ac
  simulation/g4simulation/g4bbc/configure.ac
  simulation/g4simulation/g4calo/configure.ac
  simulation/g4simulation/g4decayer/configure.ac
  simulation/g4simulation/g4detectors/configure.ac
  simulation/g4simulation/g4epd/configure.ac
  simulation/g4simulation/g4eval/configure.ac
  simulation/g4simulation/g4histos/configure.ac
  simulation/g4simulation/g4intt/configure.ac
  simulation/g4simulation/g4jets/configure.ac
  simulation/g4simulation/g4main/configure.ac
  simulation/g4simulation/g4micromegas/configure.ac
  simulation/g4simulation/g4mvtx/configure.ac
  simulation/g4simulation/g4tpc/configure.ac
  simulation/g4simulation/g4trackfastsim/configure.ac
  simulation/g4simulation/g4vertex/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1146 Fix baseclass
  offline/packages/NodeDump/DumpTrkrClusterHitAssoc.cc
  offline/packages/NodeDump/DumpTrkrClusterHitAssoc.h
  offline/packages/NodeDump/DumpTrkrHitSetContainer.cc
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/trackbase/TrkrClusterHitAssoc.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1145 fix nightly build
  simulation/g4simulation/g4eval/TrackEvaluation.cc
  simulation/g4simulation/g4eval/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1143 more tracking fixes
  offline/packages/trackbase_historic/SvtxTrack.h
  offline/packages/trackbase_historic/SvtxTrack_FastSim.cc
  offline/packages/trackbase_historic/SvtxTrack_FastSim.h
  offline/packages/trackbase_historic/SvtxTrack_FastSim_v1.cc
  offline/packages/trackbase_historic/SvtxTrack_FastSim_v1.h
  offline/packages/trackbase_historic/SvtxTrack_v1.cc
  offline/packages/trackbase_historic/SvtxTrack_v1.h
  offline/packages/trackbase_historic/SvtxTrack_v2.cc
  offline/packages/trackbase_historic/SvtxTrack_v2.h
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHTruthTrackSeeding.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1147 Fix block uninit
  simulation/g4simulation/g4detectors/PHG4BlockSubsystem.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1149 Package upgrades
  offline/database/PHParameter/Makefile.am
  offline/database/PHParameter/PHParameterContainerInterface.cc
  offline/database/PHParameter/PHParameterContainerInterface.h
  offline/database/PHParameter/PHParameterInterface.cc
  offline/database/PHParameter/PHParameterInterface.h
  offline/database/PHParameter/PHParameters.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1151 Initial vertexing seed rejection
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1152 Modify PHTrackSeeding
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHHybridSeeding.cc
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.cc
  offline/packages/trackreco/PHTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
