Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2021-09, with the labels that each got.

#1272 use std::optional rather than std::pair<bool,T> to transport extrapolation failure
  simulation/g4simulation/g4tpc/PHG4TpcDirectLaser.cc
Labels: CI-cpp-check-FAIL, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1274 Update track matching
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
Labels: CI-cpp-check-FAIL, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1273 Add BECAL and LFHCAL projections
  simulation/g4simulation/g4trackfastsim/PHG4TrackFastSim.cc
Labels: CI-cpp-check-FAIL, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1251 Introduce vertex simulation via beam bunch interactions
  generators/phhepmc/PHHepMCGenHelper.cc
  generators/phhepmc/PHHepMCGenHelper.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1275 Fix cppcheck
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
  offline/packages/compressor/compress_clu_res_float32.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/trackbase/TrkrClusterv1.cc
  simulation/g4simulation/g4eval/SvtxClusterEval.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.cc
  simulation/g4simulation/g4tpc/PHG4TpcEndCapDetector.cc
  simulation/g4simulation/g4tpc/PHG4TpcEndCapDetector.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1278 added SDM, ZDC is now able to be built one at a time
  simulation/g4simulation/g4detectors/PHG4ZDCDetector.cc
  simulation/g4simulation/g4detectors/PHG4ZDCDetector.h
  simulation/g4simulation/g4detectors/PHG4ZDCDisplayAction.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4ZDCSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1279 avoid to-be-deprecated GetPropertiesMap() and GetPropertiesCMap() in Geant4
  simulation/g4simulation/g4gdml/PHG4GDMLWriteMaterials.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1280 necessary changes for TTL tracking and LYSO layer implementation
  offline/packages/trackbase/TrkrDefs.h
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1283 build zdc
  simulation/g4simulation/g4detectors/Makefile.am
  simulation/g4simulation/g4detectors/PHG4ZDCDetector.cc
  simulation/g4simulation/g4detectors/PHG4ZDCDetector.h
  simulation/g4simulation/g4detectors/PHG4ZDCDisplayAction.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4ZDCSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSubsystem.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1284 Circle Fit Truth Seed Option
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1285 Fix beamline magnet
  simulation/g4simulation/g4detectors/BeamLineMagnetDetector.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetDetector.h
  simulation/g4simulation/g4detectors/BeamLineMagnetDisplayAction.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.h
  simulation/g4simulation/g4detectors/BeamLineMagnetSubsystem.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSubsystem.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1286 New vertex finder
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSimpleVertexFinder.cc
  offline/packages/trackreco/PHSimpleVertexFinder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1287 Zdc
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.h
  simulation/g4simulation/g4detectors/BeamLineMagnetSubsystem.cc
  simulation/g4simulation/g4detectors/Makefile.am
  simulation/g4simulation/g4detectors/PHG4BlockCellReco.cc
  simulation/g4simulation/g4detectors/PHG4DetectorGroupSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4HcalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4ZDCDefs.h
  simulation/g4simulation/g4detectors/PHG4ZDCDetector.cc
  simulation/g4simulation/g4detectors/PHG4ZDCDetector.h
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4ZDCSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSubsystem.h
  simulation/g4simulation/g4main/PHG4SteppingAction.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1288 Track Fitting Without Vertex
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackProjection.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsVertexFinder.cc
  offline/packages/trackreco/PHActsVertexFinder.h
  offline/packages/trackreco/PHActsVertexPropagator.cc
  offline/packages/trackreco/PHActsVertexPropagator.h
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
  offline/packages/trackreco/PHSimpleVertexFinder.cc
  offline/packages/trackreco/PHSimpleVertexFinder.h
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.cc
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.h
  offline/packages/trackreco/PHTruthVertexing.cc
  offline/packages/trackreco/PHTruthVertexing.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1289 Vertexing Fix
  offline/packages/trackreco/PHSimpleVertexFinder.cc
Labels: CI-cpp-check-PENDING, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING

#1290 Rename epd detector
  simulation/g4simulation/g4detectors/PHG4ZDCSubsystem.h
  simulation/g4simulation/g4epd/Makefile.am
  simulation/g4simulation/g4epd/PHG4EPDDetector.cc
  simulation/g4simulation/g4epd/PHG4EPDDetector.h
  simulation/g4simulation/g4epd/PHG4EPDDisplayAction.cc
  simulation/g4simulation/g4epd/PHG4EPDDisplayAction.h
  simulation/g4simulation/g4epd/PHG4EPDSteppingAction.cc
  simulation/g4simulation/g4epd/PHG4EPDSteppingAction.h
  simulation/g4simulation/g4epd/PHG4EPDSubsystem.cc
  simulation/g4simulation/g4epd/PHG4EPDSubsystem.h
  simulation/g4simulation/g4epd/PHG4EPSteppingAction.cc
  simulation/g4simulation/g4epd/PHG4EPSteppingAction.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1292 std::prev can produce crashes when used on an empty container.
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1293 Do not depend on vertex to define track parameters
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1294 Enable extrapolation in the TPC without TPOT
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1296 implement missing clone
  offline/database/pdbcal/base/PdbParameterMap.h
  offline/database/pdbcal/base/PdbParameterMapContainer.cc
Labels: CI-cpp-check-PENDING, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING
