Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2021-02, with the labels that each got.

#1070 FastSim Exception in TrackEval + Custom TrackNodeName Functions
  simulation/g4simulation/g4eval/BaseTruthEval.cc
  simulation/g4simulation/g4eval/BaseTruthEval.h
  simulation/g4simulation/g4eval/JetRecoEval.cc
  simulation/g4simulation/g4eval/JetRecoEval.h
  simulation/g4simulation/g4eval/JetTruthEval.h
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-FAIL, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1071 PHHybridSeeding silicon matching improvements
  offline/packages/trackreco/PHHybridSeeding.cc
  offline/packages/trackreco/PHHybridSeeding.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1072 Track refit
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsVertexFinder.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-build-x8664_sl7-clang-FAIL, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-PENDING, CI-cpp-check-PENDING, CI-track-high-occ-QA-PENDING, CI-track-low-occ-QA-PENDING, CI-valgrind-PENDING

#1073 fix vertex node access
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTracks.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1075 Pull request to include the new end rings made of aluminium and carbon PEEK for the INTT barrel.
  simulation/g4simulation/g4intt/PHG4InttDetector.cc
  simulation/g4simulation/g4intt/PHG4InttDisplayAction.cc
  simulation/g4simulation/g4intt/PHG4InttSubsystem.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1074 Set Acts Vertex Finder to use SvtxVertexMap
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsVertexFinder.cc
  offline/packages/trackreco/PHActsVertexFinder.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1077 Tune silicon tpc matcher
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1079 Fix forward calos
  simulation/g4simulation/g4detectors/PHG4ForwardEcalDetector.cc
  simulation/g4simulation/g4detectors/PHG4ForwardEcalSteppingAction.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1080 Remove g4cout
  simulation/g4simulation/g4decayer/G4Pythia6Decayer.cc
  simulation/g4simulation/g4decayer/P6DExtDecayerPhysics.cc
  simulation/g4simulation/g4detectors/PHG4RICHSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4SectorConstructor.cc
  simulation/g4simulation/g4detectors/PHG4mRICHDetector.cc
  simulation/g4simulation/g4detectors/ePHENIXRICHConstruction.cc
  simulation/g4simulation/g4gdml/PHG4GDMLWrite.cc
  simulation/g4simulation/g4gdml/PHG4GDMLWriteDefine.cc
  simulation/g4simulation/g4gdml/PHG4GDMLWriteMaterials.cc
  simulation/g4simulation/g4gdml/PHG4GDMLWriteSetup.cc
  simulation/g4simulation/g4gdml/PHG4GDMLWriteSolids.cc
  simulation/g4simulation/g4gdml/PHG4GDMLWriteStructure.cc
  simulation/g4simulation/g4main/G4TBMagneticFieldSetup.cc
  simulation/g4simulation/g4main/PHG4Reco.cc
  simulation/g4simulation/g4main/PHG4RegionInformation.cc
  simulation/g4simulation/g4main/PHG4TrackUserInfoV1.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1076 Cluster overlap based Truth Tracking update
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.h
  simulation/g4simulation/g4eval/SvtxClusterEval.cc
  simulation/g4simulation/g4eval/SvtxClusterEval.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/SvtxVertexEval.h
Labels: CI-DST-readback-FAIL, CI-build-gcc-8.3-new-FAIL, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1082 Tune Initial Vertexing
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1083 set use_initial_vertex to true
  simulation/g4simulation/g4eval/SvtxEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1085 KFParticle: 2 fixes (ghosts and resonance/track bug)
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.h
  offline/packages/KFParticle_sPHENIX/KFParticle_eventReconstruction.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_eventReconstruction.h
  offline/packages/KFParticle_sPHENIX/KFParticle_particleList.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1084 Add options to run initial vertex finder by itself
  offline/packages/trackreco/ActsTransformations.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1086 FHCAL updates and event tree eval introduction
  simulation/g4simulation/g4detectors/PHG4ForwardEcalDisplayAction.cc
  simulation/g4simulation/g4detectors/PHG4ForwardHcalDetector.cc
  simulation/g4simulation/g4detectors/PHG4ForwardHcalDetector.h
  simulation/g4simulation/g4detectors/PHG4ForwardHcalDisplayAction.cc
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
  simulation/g4simulation/g4eval/Makefile.am
  simulation/g4simulation/g4jets/ClusterJetInput.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1089 Update of event based tree
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1087 Apply beam crossing angle to any event generator
  generators/PHPythia6/PHPythia6.cc
  generators/PHPythia6/PHPythia6.h
  generators/PHPythia8/PHPythia8.cc
  generators/PHPythia8/PHPythia8.h
  generators/PHSartre/PHSartre.cc
  generators/PHSartre/PHSartre.h
  generators/phhepmc/Fun4AllHepMCInputManager.cc
  generators/phhepmc/Fun4AllHepMCInputManager.h
  generators/phhepmc/Fun4AllHepMCPileupInputManager.cc
  generators/phhepmc/Fun4AllOscarInputManager.cc
  generators/phhepmc/Fun4AllOscarInputManager.h
  generators/phhepmc/Makefile.am
  generators/phhepmc/PHHepMCGenEvent.cc
  generators/phhepmc/PHHepMCGenEvent.h
  generators/phhepmc/PHHepMCGenEventv1.cc
  generators/phhepmc/PHHepMCGenEventv1.h
  generators/phhepmc/PHHepMCGenEventv1LinkDef.h
  generators/phhepmc/PHHepMCGenHelper.cc
  generators/phhepmc/PHHepMCGenHelper.h
  generators/sHEPGen/sHEPGen.C
  generators/sHEPGen/sHEPGen.h
  offline/packages/NodeDump/Makefile.am
  simulation/g4simulation/g4main/HepMCNodeReader.cc
  simulation/g4simulation/g4main/ReadEICFiles.cc
  simulation/g4simulation/g4main/ReadEICFiles.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1088 Tpc seed vtx assoc
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHTpcTrackSeedVertexAssoc.cc
  offline/packages/trackreco/PHTpcTrackSeedVertexAssoc.h
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-clang-PASS, CI-build-x8664_sl7-new-PASS, CI-build-x8664_sl7-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
