Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2021-05, with the labels that each got.

#1153 Fix node message
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.cc
  simulation/g4simulation/g4detectors/BeamLineMagnetSteppingAction.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1154 Another fix about Micromegas in Tracking QA
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/QA/modules/QAG4SimulationTracking.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1155 tpc clusterizer
  offline/packages/tpc/TpcClusterizer.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1156 fix cluster containers
  offline/packages/intt/InttClusterizer.cc
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/mvtx/MvtxClusterizer.cc
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrClusterContainer.cc
  offline/packages/trackbase/TrkrClusterContainer.h
  offline/packages/trackbase/TrkrClusterContainerv1.cc
  offline/packages/trackbase/TrkrClusterContainerv1.h
  offline/packages/trackbase/TrkrClusterContainerv1LinkDef.h
  offline/packages/trackbase/TrkrClusterContainerv2.cc
  offline/packages/trackbase/TrkrClusterContainerv2.h
  offline/packages/trackbase/TrkrClusterContainerv2LinkDef.h
  offline/packages/trackbase/TrkrClusterHitAssoc.cc
  offline/packages/trackbase/TrkrClusterHitAssoc.h
  offline/packages/trackbase/TrkrClusterHitAssocv1.cc
  offline/packages/trackbase/TrkrClusterHitAssocv1.h
  offline/packages/trackbase/TrkrClusterHitAssocv2.cc
  offline/packages/trackbase/TrkrClusterHitAssocv2.h
  offline/packages/trackbase_historic/SvtxTrackMap.cc
  offline/packages/trackreco/PHTruthClustering.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1158 Master fix clustercontainers
  offline/QA/modules/QAG4SimulationIntt.cc
  offline/QA/modules/QAG4SimulationMicromegas.cc
  offline/QA/modules/QAG4SimulationMvtx.cc
  offline/QA/modules/QAG4SimulationTpc.cc
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/packages/intt/InttClusterizer.cc
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/mvtx/MvtxClusterizer.cc
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrClusterContainerv1.cc
  offline/packages/trackbase/TrkrClusterContainerv2.cc
  offline/packages/trackbase/TrkrClusterContainerv3.cc
  offline/packages/trackbase/TrkrClusterContainerv3.h
  offline/packages/trackbase/TrkrClusterContainerv3LinkDef.h
  offline/packages/trackbase/TrkrClusterHitAssocv3.cc
  offline/packages/trackbase/TrkrClusterHitAssocv3.h
  offline/packages/trackbase/TrkrClusterHitAssocv3LinkDef.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.cc
  offline/packages/trackreco/PHTrackSeeding.cc
  offline/packages/trackreco/PHTruthClustering.cc
  simulation/g4simulation/g4eval/SvtxClusterEval.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1157 Tpc residuals
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHTpcResiduals.cc
  offline/packages/trackreco/PHTpcResiduals.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1160 Update track projection module
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackProjection.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1161 persistent objects and containers versions
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrClusterContainer.h
  offline/packages/trackbase/TrkrClusterContainerv1.cc
  offline/packages/trackbase/TrkrClusterContainerv1.h
  offline/packages/trackbase/TrkrClusterContainerv2.cc
  offline/packages/trackbase/TrkrClusterContainerv2.h
  offline/packages/trackbase/TrkrClusterHitAssoc.h
  offline/packages/trackbase/TrkrClusterHitAssocv2.cc
  offline/packages/trackbase/TrkrClusterHitAssocv2.h
  offline/packages/trackbase/TrkrHitSet.cc
  offline/packages/trackbase/TrkrHitSet.h
  offline/packages/trackbase/TrkrHitSetContainer.cc
  offline/packages/trackbase/TrkrHitSetContainer.h
  offline/packages/trackbase/TrkrHitSetContainerv1.cc
  offline/packages/trackbase/TrkrHitSetContainerv1.h
  offline/packages/trackbase/TrkrHitSetContainerv1LinkDef.h
  offline/packages/trackbase/TrkrHitSetv1.cc
  offline/packages/trackbase/TrkrHitSetv1.h
  offline/packages/trackbase/TrkrHitSetv1LinkDef.h
  offline/packages/trackbase/TrkrHitTruthAssoc.cc
  offline/packages/trackbase/TrkrHitTruthAssoc.h
  offline/packages/trackbase/TrkrHitTruthAssocv1.cc
  offline/packages/trackbase/TrkrHitTruthAssocv1.h
  offline/packages/trackbase/TrkrHitTruthAssocv1LinkDef.h
  offline/packages/trackbase/TrkrTrack.h
  offline/packages/trackbase/TrkrTrackContainer.h
  offline/packages/trackbase/TrkrTrackContainerLinkDef.h
  offline/packages/trackbase/TrkrTrackLinkDef.h
  simulation/g4simulation/g4intt/PHG4InttHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1163 prepare for separate support structure accounting
  simulation/g4simulation/g4detectors/PHG4CylinderSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4CylinderSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4CylinderSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4DetectorGroupSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4DetectorSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4DetectorSubsystem.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1166 New micromegas geometry
  offline/QA/modules/QAG4SimulationMicromegas.cc
  offline/QA/modules/QAG4SimulationMicromegas.h
  offline/packages/micromegas/CylinderGeomMicromegas.cc
  offline/packages/micromegas/CylinderGeomMicromegas.h
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasTile.h
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1167 Directed fitter fixes
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHTpcResiduals.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1165 Corrected bug in geometry extraction; may affect endcap reco
  offline/packages/CaloReco/BEmcRec.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1169 Add node dumps
  offline/packages/NodeDump/DumpTrkrHitTruthAssoc.cc
  offline/packages/NodeDump/DumpTrkrHitTruthAssoc.h
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/trackreco/AssocInfoContainer.cc
  offline/packages/trackreco/AssocInfoContainer.h
  offline/packages/trackreco/AssocInfoContainerv1.cc
  offline/packages/trackreco/AssocInfoContainerv1.h
  offline/packages/trackreco/AssocInfoContainerv1LinkDef.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHTrackSeeding.cc
  offline/packages/trackreco/PHTrackSetMerging.cc
  offline/packages/trackreco/out.log
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1170 Tpc cluster z offset correction
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1164 Clean up and remove some deprecated Acts classes
  generators/flowAfterburner/test.cc
  offline/packages/trackreco/ActsTrack.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsSourceLinks.cc
  offline/packages/trackreco/PHActsSourceLinks.h
  offline/packages/trackreco/PHActsTracks.cc
  offline/packages/trackreco/PHActsTracks.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsTrkProp.cc
  offline/packages/trackreco/PHActsTrkProp.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1171 Added some breaks when we return a nullptr instead of a truth particle
  simulation/g4simulation/g4eval/EventEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1168 Fix Acts Initial Vertex Finder Issues
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1172 Ivf Random Number Gen Fix
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1173 New micromegas geometry acts
  offline/QA/modules/QAG4SimulationMicromegas.cc
  offline/packages/micromegas/CylinderGeomMicromegas.h
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasClusterizer.h
  offline/packages/trackbase/ActsSurfaceMaps.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  offline/packages/trackreco/PHTpcResiduals.cc
  offline/packages/trackreco/PHTpcResiduals.h
  simulation/g4simulation/g4detectors/PHG4CylinderGeomContainer.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1174 Add additional track sources to event evaluator
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1176 Add dumps
  offline/packages/NodeDump/DumpAssocInfoContainer.cc
  offline/packages/NodeDump/DumpAssocInfoContainer.h
  offline/packages/NodeDump/DumpParticleFlowElementContainer.cc
  offline/packages/NodeDump/DumpParticleFlowElementContainer.h
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/trackreco/AssocInfoContainer.cc
  offline/packages/trackreco/AssocInfoContainerv1.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1177 Fix trkr hit set container
  offline/packages/trackbase/TrkrCluster.h
  offline/packages/trackbase/TrkrClusterContainer.h
  offline/packages/trackbase/TrkrClusterHitAssoc.h
  offline/packages/trackbase/TrkrHitSet.h
  offline/packages/trackbase/TrkrHitSetContainer.h
  offline/packages/trackbase/TrkrHitTruthAssoc.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1175 initial add of tower slope calib code by Justin
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.cc
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.h
  calibrations/calorimeter/calo_tower_slope/README.md
  calibrations/calorimeter/calo_tower_slope/autogen.sh
  calibrations/calorimeter/calo_tower_slope/configure.ac
  calibrations/calorimeter/calo_tower_slope/macro/Fun4All_G4_Analysis.C
  calibrations/calorimeter/calo_tower_slope/macro/run_f4a.csh
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1148 KFParticle: Adding decay parser, new output and code polishing
  offline/packages/KFParticle_sPHENIX/KFParticle_DST.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_MVA.h
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.h
  offline/packages/KFParticle_sPHENIX/KFParticle_eventReconstruction.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_eventReconstruction.h
  offline/packages/KFParticle_sPHENIX/KFParticle_nTuple.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_nTuple.h
  offline/packages/KFParticle_sPHENIX/KFParticle_particleList.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.h
  offline/packages/KFParticle_sPHENIX/Makefile.am
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1179 Changes to enable second pass tracking
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-FAIL, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1180 Added HEPMC output tree to EventEvaluator; Added BCID (barcode ID) branch to MCParticles output; Changed it to not output particles below _reco_e_threshold energy
  simulation/g4simulation/g4eval/BaseTruthEval.h
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
  simulation/g4simulation/g4eval/Makefile.am
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-FAIL, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1183 get tpc dist generator to compile
  calibrations/tpc/generator/AnnularFieldSim.cc
  calibrations/tpc/generator/AnnularFieldSim.h
  calibrations/tpc/generator/Makefile.am
  calibrations/tpc/generator/Rossegger.h
  calibrations/tpc/generator/autogen.sh
  calibrations/tpc/generator/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1184 Print all dsttypes
  offline/framework/frog/CreateFileList.pl
  offline/framework/fun4all/Fun4AllDstInputManager.cc
  offline/framework/fun4all/Fun4AllUtils.cc
  offline/framework/fun4all/TDirectoryHelper.cc
  offline/packages/CaloBase/RawTower.cc
  offline/packages/CaloBase/RawTower.h
  offline/packages/CaloBase/RawTowerGeomContainer.cc
  offline/packages/CaloBase/RawTowerv2.cc
  offline/packages/CaloBase/RawTowerv2.h
  simulation/g4simulation/g4detectors/PHG4ConeSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalField.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalField.h
  simulation/g4simulation/g4detectors/PHG4SpacalDetector.cc
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1185 Event hepmc and recover of #1174
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4eval/EventEvaluator.h
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1186 Loading of DRCALO tower size from config file
  simulation/g4simulation/g4calo/RawTowerBuilderDRCALO.cc
  simulation/g4simulation/g4eval/EventEvaluator.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1187 Add compressor code
  offline/packages/compressor/Makefile.am
  offline/packages/compressor/autogen.sh
  offline/packages/compressor/compress_clu_res_float32.cc
  offline/packages/compressor/compressor.h
  offline/packages/compressor/configure.ac
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#1189 Allow to run GenFit when truth information is no present
  offline/packages/trackreco/PHGenFitTrkFitter.cc
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-clang-PASS, CI-build-gcc-8.3-new-PASS, CI-build-gcc-8.3-scan-PASS, CI-calo-QA-AVAILABLE, CI-cpp-check-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE
