Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2022-10, with the labels that each got.

#1692 Update GSF to use clusterv4
  offline/packages/trackreco/PHActsGSF.cc
  offline/packages/trackreco/PHActsGSF.h
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1691 Update PHG4OHCalDetector.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1693 modified the name of the template profile being pulled from the CDB
  offline/packages/CaloReco/CaloWaveformProcessing.cc
  offline/packages/CaloReco/CaloWaveformProcessing.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1695 Fix B field NaN lookup error
  offline/packages/trackreco/ALICEKF.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1694 Micromegas fix
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1696 Tracker alignment
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
  offline/packages/TrackerMillepedeAlignment/Makefile.am
  offline/packages/TrackerMillepedeAlignment/Mille.cc
  offline/packages/TrackerMillepedeAlignment/Mille.h
  offline/packages/TrackerMillepedeAlignment/README
  offline/packages/TrackerMillepedeAlignment/autogen.sh
  offline/packages/TrackerMillepedeAlignment/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1697 Bugfix reset trkr truth track container
  offline/packages/trackbase/TrkrTruthTrackContainerv1.cc
  offline/packages/trackbase/TrkrTruthTrackContainerv1.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1698 Cdbobjects
  offline/database/cdbobjects/CDBTTree.cc
  offline/database/cdbobjects/CDBTTree.h
  offline/database/cdbobjects/Makefile.am
  offline/database/cdbobjects/autogen.sh
  offline/database/cdbobjects/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1700 adding mephi maps for new ohcal
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.h
  simulation/g4simulation/g4ohcal/PHG4OHCalSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1667 Event Plane Detector geometry functions
  offline/packages/eventplane/EpdGeom.cc
  offline/packages/eventplane/EpdGeom.h
  offline/packages/eventplane/Makefile.am
  simulation/g4simulation/g4epd/PHG4EPDDetector.cc
  simulation/g4simulation/g4epd/PHG4EPDSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1701 Partial hcal map
  offline/packages/PHField/Makefile.am
  offline/packages/PHField/PHField2D.cc
  offline/packages/PHField/PHField3DCartesian.cc
  offline/packages/PHField/PHField3DCartesian.h
  offline/packages/PHField/PHField3DCylindrical.cc
  offline/packages/PHField/PHFieldBeast.cc
  offline/packages/PHField/PHFieldBeast.h
  offline/packages/PHField/PHFieldCleo.cc
  offline/packages/PHField/PHFieldCleo.h
  offline/packages/PHField/PHFieldUtility.cc
  offline/packages/PHField/PHFieldUtility.h
  offline/packages/PHField/configure.ac
  simulation/g4simulation/g4main/PHG4MagneticField.cc
  simulation/g4simulation/g4main/PHG4MagneticField.h
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalFieldSetup.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalFieldSetup.h
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1703 removed an unused function
  offline/framework/phool/onnxlib.cc
  offline/framework/phool/onnxlib.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1702 Distortion fix
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.h
  offline/packages/trackreco/PHGenFitTrkFitter.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1706 Replacing PHG4CylinderCellGeom by PHG4TpcCylinderGeom in offline/pack…
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.cc
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.h
  offline/packages/tpccalib/TpcDirectLaserReconstruction.cc
  offline/packages/tpccalib/TpcDirectLaserReconstruction.h
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1710 Verbosity statement
  offline/packages/tpc/TpcClusterMover.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1712 Always build acts
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1711 SvtxHitEval: truth matching with trkrid as an additional argument
  simulation/g4simulation/g4eval/SvtxHitEval.cc
  simulation/g4simulation/g4eval/SvtxHitEval.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1708 SvtxHitEval: truth matching with trkrid as an additional argument
  simulation/g4simulation/g4eval/SvtxHitEval.cc
  simulation/g4simulation/g4eval/SvtxHitEval.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-FAIL, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1705 Residuals for alignment
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
  offline/packages/trackreco/PHActsVertexPropagator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1714 Trkclusmap
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/trackbase_historic/SvtxTrackCaloClusterMap.cc
  offline/packages/trackbase_historic/SvtxTrackCaloClusterMap.h
  offline/packages/trackbase_historic/SvtxTrackCaloClusterMapLinkDef.h
  offline/packages/trackbase_historic/SvtxTrackCaloClusterMap_v1.cc
  offline/packages/trackbase_historic/SvtxTrackCaloClusterMap_v1.h
  offline/packages/trackbase_historic/SvtxTrackCaloClusterMap_v1LinkDef.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHTrackClusterAssociator.cc
  offline/packages/trackreco/PHTrackClusterAssociator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1717 Make base classes not pure virtual
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrTruthClusters.cc
  offline/packages/trackbase/TrkrTruthClusters.h
  offline/packages/trackbase/TrkrTruthTrack.cc
  offline/packages/trackbase/TrkrTruthTrack.h
  offline/packages/trackbase/TrkrTruthTrackContainer.cc
  offline/packages/trackbase/TrkrTruthTrackContainer.h
  offline/packages/trackbase/TrkrTruthTrackv1.cc
  offline/packages/trackbase/TrkrTruthTrackv1.h
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1718 TrackerMillepedeAlignment updates
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.cc
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.h
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
  offline/packages/TrackerMillepedeAlignment/Makefile.am
  offline/packages/TrackerMillepedeAlignment/Mille.cc
  offline/packages/trackbase/AlignmentTransformation.cc
  offline/packages/trackbase/AlignmentTransformation.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE
