Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2022-11, with the labels that each got.

#1719 Modified TPC sector grouping to be by region and sector
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.cc
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.h
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1721 Make track projections standalone
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackProjection.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1720 Add Acts Calibrator object
  offline/packages/trackbase/ActsTrackFittingAlgorithm.h
  offline/packages/trackbase/AlignmentTransformation.cc
  offline/packages/trackbase/Calibrator.h
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/ResidualOutlierFinder.h
  offline/packages/trackbase/TrackFittingAlgorithmFunctionsKalman.cc
  offline/packages/trackbase/alignmentTransformationContainer.cc
  offline/packages/trackbase/alignmentTransformationContainer.h
  offline/packages/trackbase/sPHENIXActsDetectorElement.cc
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/ResidualOutlierFinder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1723 More distortion fixes
  offline/packages/tpc/TpcClusterZCrossingCorrection.cc
  offline/packages/tpc/TpcClusterZCrossingCorrection.h
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1725 add warning suppression for build with clang 14
  calibrations/calorimeter/calo_tower_slope/configure.ac
  calibrations/tpc/generator/configure.ac
  offline/QA/modules/configure.ac
  offline/database/cdbobjects/CDBTTree.cc
  offline/database/cdbobjects/CDBTTree.h
  offline/packages/KFParticle_sPHENIX/configure.ac
  offline/packages/PHField/configure.ac
  offline/packages/TrackerMillepedeAlignment/configure.ac
  offline/packages/compressor/configure.ac
  offline/packages/tpccalib/configure.ac
  offline/packages/trackbase/configure.ac
  offline/packages/trackreco/configure.ac
  simulation/g4simulation/g4eval/configure.ac
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1724 Fix error in code in storing TrkrCluster sizes for phi and time
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1726 suppress warnings from clang 14 until they will be fixed
  calibrations/calorimeter/calo_emc_pi0_tbt/CaloCalibEmc_Pi0.cc
  calibrations/calorimeter/calo_emc_pi0_tbt/CaloCalibEmc_Pi0.h
  calibrations/calorimeter/calo_emc_pi0_tbt/Makefile.am
  calibrations/calorimeter/calo_emc_pi0_tbt/configure.ac
  offline/packages/trackbase/configure.ac
  simulation/g4simulation/g4detectors/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING, CI-build-gcc-12.1.0-new-PENDING, CI-build-gcc-12.1.0-clang-PENDING

#1727 Clang 14
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrClusterContainer.cc
  offline/packages/trackbase/TrkrClusterContainer.h
  offline/packages/trackbase/TrkrClusterContainerLinkDef.h
  offline/packages/trackbase/TrkrClusterContainerv1.cc
  offline/packages/trackbase/TrkrClusterContainerv1.h
  offline/packages/trackbase/TrkrClusterContainerv1LinkDef.h
  offline/packages/trackbase/TrkrClusterContainerv2.cc
  offline/packages/trackbase/TrkrClusterContainerv2.h
  offline/packages/trackbase/TrkrClusterContainerv2LinkDef.h
  offline/packages/trackbase/TrkrClusterContainerv3.cc
  offline/packages/trackbase/TrkrClusterContainerv3.h
  offline/packages/trackbase/TrkrClusterContainerv3LinkDef.h
  offline/packages/trackbase/TrkrClusterContainerv4.cc
  offline/packages/trackbase/TrkrClusterContainerv4.h
  offline/packages/trackbase/TrkrClusterContainerv4LinkDef.h
  offline/packages/trackbase/TrkrClusterHitAssoc.h
  offline/packages/trackbase/TrkrClusterHitAssocLinkDef.h
  offline/packages/trackbase/TrkrClusterHitAssocv1.cc
  offline/packages/trackbase/TrkrClusterHitAssocv1.h
  offline/packages/trackbase/TrkrClusterHitAssocv1LinkDef.h
  offline/packages/trackbase/TrkrClusterHitAssocv2.cc
  offline/packages/trackbase/TrkrClusterHitAssocv2.h
  offline/packages/trackbase/TrkrClusterHitAssocv2LinkDef.h
  offline/packages/trackbase/TrkrClusterHitAssocv3.cc
  offline/packages/trackbase/TrkrClusterHitAssocv3.h
  offline/packages/trackbase/TrkrClusterHitAssocv3LinkDef.h
  offline/packages/trackbase/TrkrTruthTrack.cc
  offline/packages/trackbase/TrkrTruthTrack.h
  offline/packages/trackbase/TrkrTruthTrackContainer.cc
  offline/packages/trackbase/TrkrTruthTrackContainer.h
  offline/packages/trackbase/TrkrTruthTrackContainerLinkDef.h
  offline/packages/trackbase/TrkrTruthTrackContainerv1.cc
  offline/packages/trackbase/TrkrTruthTrackContainerv1.h
  offline/packages/trackbase/TrkrTruthTrackContainerv1LinkDef.h
  offline/packages/trackbase/TrkrTruthTrackLinkDef.h
  offline/packages/trackbase/TrkrTruthTrackv1.cc
  offline/packages/trackbase/TrkrTruthTrackv1.h
  offline/packages/trackbase/TrkrTruthTrackv1LinkDef.h
Labels: CI-cpp-check-AVAILABLE, CI-DST-readback-PENDING, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING, CI-build-gcc-12.1.0-new-PENDING, CI-build-gcc-12.1.0-clang-PENDING

#1730 Fix gcc12
  generators/FermiMotionAfterburner/configure.ac
  generators/PHPythia6/configure.ac
  generators/flowAfterburner/configure.ac
  generators/phhepmc/configure.ac
  generators/sHijing/configure.ac
  offline/QA/modules/QAG4SimulationKFParticle.cc
  offline/database/PHParameter/PHParameters.cc
  offline/database/pdbcal/base/configure.ac
  offline/framework/ffamodules/HeadReco.cc
  offline/framework/ffaobjects/SyncObject.h
  offline/packages/CaloReco/PHMakeGroups.h
  offline/packages/Half/configure.ac
  offline/packages/KFParticle_sPHENIX/KFParticle_particleList.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
  offline/packages/NodeDump/DumpPHHepMCGenEventMap.cc
  offline/packages/decayfinder/DecayFinder.cc
  offline/packages/intt/InttClusterizer.cc
  offline/packages/intt/Makefile.am
  offline/packages/intt/configure.ac
  offline/packages/mvtx/Makefile.am
  offline/packages/mvtx/MvtxClusterizer.cc
  offline/packages/mvtx/MvtxHitPruner.cc
  offline/packages/mvtx/configure.ac
  offline/packages/trackbase/configure.ac
  offline/packages/trackreco/PHTrackClusterAssociator.cc
  offline/packages/trackreco/configure.ac
  offline/packages/vararray/configure.ac
  simulation/g4simulation/g4detectors/PHG4InnerHcalDetector.h
  simulation/g4simulation/g4detectors/PHG4OuterHcalDetector.h
  simulation/g4simulation/g4eval/EventEvaluator.cc
  simulation/g4simulation/g4jets/JetMap.h
  simulation/g4simulation/g4jets/JetMapv1.cc
  simulation/g4simulation/g4jets/JetMapv1.h
  simulation/g4simulation/g4main/Fun4AllDstPileupMerger.cc
  simulation/g4simulation/g4main/HepMCNodeReader.cc
  simulation/g4simulation/g4main/PHG4HeadReco.cc
  simulation/g4simulation/g4main/ReadEICFiles.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1731 fix clang 14 compilation
  calibrations/calorimeter/calo_tower_slope/Makefile.am
  calibrations/tpc/generator/Makefile.am
  generators/PHPythia6/Makefile.am
  generators/PHPythia6/PHPy6ForwardElectronTrig.cc
  generators/PHPythia6/PHPy6JetTrigger.cc
  generators/PHPythia6/PHPy6ParticleTrigger.cc
  generators/PHPythia6/PHPythia6.cc
  generators/PHPythia6/configure.ac
  generators/PHPythia8/Makefile.am
  generators/PHPythia8/PHPythia8.cc
  generators/PHPythia8/configure.ac
  generators/phhepmc/Makefile.am
  generators/phhepmc/PHHepMCGenEvent.cc
  offline/database/pdbcal/base/Makefile.am
  offline/database/pdbcal/pg/Makefile.am
  offline/framework/fun4all/Fun4AllDstInputManager.cc
  offline/framework/fun4all/Fun4AllMonitoring.cc
  offline/framework/phool/PHNodeIOManager.cc
  offline/framework/phool/PHNodeIterator.cc
  offline/packages/PHField/Makefile.am
  offline/packages/tpccalib/Makefile.am
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/trackbase/ActsTrackFittingAlgorithm.h
  offline/packages/trackbase/TrackFittingAlgorithmFunctionsKalman.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsGSF.h
  offline/packages/trackreco/PHActsTrackProjection.h
  offline/packages/trackreco/PHActsVertexPropagator.h
  offline/packages/trackreco/PHCASeeding.h
  simulation/g4simulation/g4detectors/configure.ac
  simulation/g4simulation/g4jets/JetHepMCLoader.cc
  simulation/g4simulation/g4main/PHG4Utils.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1732 fix TrkrClusterHitAssocv3::Reset
  offline/packages/trackbase/TrkrClusterHitAssocv3.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PENDING, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1733 CA seeding speed upgrade
  offline/packages/trackreco/PHCASeeding.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1728 Adapt to new errors
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1734 remove printout from simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
Labels: CI-cpp-check-AVAILABLE, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING, CI-build-gcc-12.1.0-new-PENDING

#1735 c arrays need extern declaration
  simulation/g4simulation/g4decayer/pythia6_common_address.c
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1737 Randomized alignment
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/trackbase/AlignmentTransformation.cc
  offline/packages/trackbase/AlignmentTransformation.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1739 Updated decay finder to not require the HepMC record
  offline/packages/decayfinder/DecayFinder.cc
  offline/packages/decayfinder/DecayFinder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1742 Add vertex to cluster eta
  offline/packages/trackreco/PHTrackClusterAssociator.cc
  offline/packages/trackreco/PHTrackClusterAssociator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1736 added maximum g4hit lifetime limit to the cell reconstruction in Calorimeters
  simulation/g4simulation/g4detectors/PHG4CylinderCellReco.cc
  simulation/g4simulation/g4detectors/PHG4CylinderCellReco.h
  simulation/g4simulation/g4detectors/PHG4FullProjSpacalCellReco.cc
  simulation/g4simulation/g4detectors/PHG4FullProjSpacalCellReco.h
  simulation/g4simulation/g4detectors/PHG4HcalCellReco.cc
  simulation/g4simulation/g4detectors/PHG4HcalCellReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1741 Tracking Iteration
  offline/packages/trackbase/TrkrClusterIterationMap.cc
  offline/packages/trackbase/TrkrClusterIterationMap.h
  offline/packages/trackbase/TrkrClusterIterationMapLinkDef.h
  offline/packages/trackbase/TrkrClusterIterationMapv1.cc
  offline/packages/trackbase/TrkrClusterIterationMapv1.h
  offline/packages/trackbase/TrkrClusterIterationMapv1LinkDef.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/TrackingIterationCounter.cc
  offline/packages/trackreco/TrackingIterationCounter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1743 removed check on has_mm
  simulation/g4simulation/g4eval/TrackEvaluation.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1744 Use track projections in particle flow
  offline/packages/particleflow/ParticleFlowReco.cc
  offline/packages/particleflow/ParticleFlowReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1745 Check TPC seed in QA
  offline/QA/modules/QAG4SimulationTracking.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1747 Make detector specific misalignment factors possible
  offline/packages/trackbase/AlignmentTransformation.cc
  offline/packages/trackbase/AlignmentTransformation.h
  offline/packages/trackbase/Calibrator.h
  offline/packages/trackbase/alignmentTransformationContainer.cc
  offline/packages/trackbase/alignmentTransformationContainer.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1748 Scan build 14
  offline/database/pdbcal/pg/PgPostCalBank.h
  offline/framework/frog/FROG.cc
  offline/framework/phool/PHFlag.cc
  offline/packages/CaloReco/CaloWaveformProcessing.cc
  offline/packages/PHField/PHFieldUtility.cc
  offline/packages/decayfinder/Makefile.am
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  simulation/g4simulation/g4dst/Makefile.am
  simulation/g4simulation/g4mvtx/PHG4MvtxSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1749 Updates to HelicalFitter
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.cc
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1750 fixing hcal tower phi mapping
  simulation/g4simulation/g4calo/HcalRawTowerBuilder.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1751 Cdbhistos
  offline/database/cdbobjects/CDBHistos.cc
  offline/database/cdbobjects/CDBHistos.h
  offline/database/cdbobjects/CDBTTree.cc
  offline/database/cdbobjects/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1752 Scan build 14
  offline/database/cdbobjects/CDBTTree.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1754 Fix trackreco lib
  offline/database/cdbobjects/CDBHistos.cc
  offline/packages/trackreco/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-FAIL, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS

#1755 Removed line in KFParticle_Container.cc that resets track ID
  offline/packages/CaloBase/Makefile.am
  offline/packages/KFParticle_sPHENIX/KFParticle_Container.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
  offline/packages/KFParticle_sPHENIX/Makefile.am
  offline/packages/NodeDump/Makefile.am
  offline/packages/PHGeometry/Makefile.am
  offline/packages/TrackerMillepedeAlignment/Makefile.am
  offline/packages/compressor/Makefile.am
  offline/packages/micromegas/Makefile.am
  offline/packages/tpc/Makefile.am
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/vararray/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-FAIL

#1756 Fix epd memory leak
  simulation/g4simulation/g4epd/PHG4EPDDetector.cc
  simulation/g4simulation/g4epd/PHG4EPDDetector.h
  simulation/g4simulation/g4epd/PHG4EPDDisplayAction.cc
  simulation/g4simulation/g4epd/PHG4EPDSteppingAction.cc
  simulation/g4simulation/g4epd/PHG4EPDSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-FAIL

#1757 Updates to add fixed layers and parameters
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.cc
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.h
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-FAIL

#1758 Central membrane
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.cc
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.h
  offline/packages/tpccalib/PHTpcCentralMembraneMatcher.cc
  offline/packages/tpccalib/PHTpcCentralMembraneMatcher.h
  simulation/g4simulation/g4tpc/PHG4TpcCentralMembrane.cc
  simulation/g4simulation/g4tpc/PHG4TpcCentralMembrane.h
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-FAIL

#1762 Fix gdml hcal phi
  generators/flowAfterburner/main.cc
  simulation/g4simulation/g4calo/HcalRawTowerBuilder.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1761 Acts source link into trackbase
  offline/packages/trackbase/ActsSourceLink.h
  offline/packages/trackbase/ActsTrackFittingAlgorithm.h
  offline/packages/trackbase/Calibrator.h
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrackFittingAlgorithmFunctionsGsf.cc
  offline/packages/trackbase/TrackFittingAlgorithmFunctionsKalman.cc
  offline/packages/trackbase/configure.ac
  offline/packages/trackreco/PHActsGSF.cc
  offline/packages/trackreco/PHActsGSF.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS
