Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2022-12, with the labels that each got.

#1766 Don't default to ideal geometry
  offline/packages/trackbase/sPHENIXActsDetectorElement.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1765 Epd package
  generators/flowAfterburner/main.cc
  generators/phhepmc/Fun4AllHepMCInputManager.cc
  generators/phhepmc/Fun4AllHepMCInputManager.h
  offline/packages/epd/EPDDefs.h
  offline/packages/epd/EpdGeom.cc
  offline/packages/epd/EpdGeom.h
  offline/packages/epd/Makefile.am
  offline/packages/epd/autogen.sh
  offline/packages/epd/configure.ac
  offline/packages/eventplane/Makefile.am
  simulation/g4simulation/g4epd/PHG4EPDDetector.cc
  simulation/g4simulation/g4epd/PHG4EPDSteppingAction.cc
  simulation/g4simulation/g4epd/PHG4EPDSubsystem.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1767 Actsv19.10.0
  offline/database/pdbcal/pg/PgPostBankBackupStorage.cc
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/trackreco/PHActsSiliconSeeding.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1769 Acts::KF Alignment Overhaul
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/trackbase_historic/SvtxAlignmentState.cc
  offline/packages/trackbase_historic/SvtxAlignmentState.h
  offline/packages/trackbase_historic/SvtxAlignmentStateLinkDef.h
  offline/packages/trackbase_historic/SvtxAlignmentStateMap.cc
  offline/packages/trackbase_historic/SvtxAlignmentStateMap.h
  offline/packages/trackbase_historic/SvtxAlignmentStateMapLinkDef.h
  offline/packages/trackbase_historic/SvtxAlignmentStateMap_v1.cc
  offline/packages/trackbase_historic/SvtxAlignmentStateMap_v1.h
  offline/packages/trackbase_historic/SvtxAlignmentStateMap_v1LinkDef.h
  offline/packages/trackbase_historic/SvtxAlignmentState_v1.cc
  offline/packages/trackbase_historic/SvtxAlignmentState_v1.h
  offline/packages/trackbase_historic/SvtxAlignmentState_v1LinkDef.h
  offline/packages/trackreco/ActsAlignmentStates.cc
  offline/packages/trackreco/ActsAlignmentStates.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1771 Fix TpcDirectLaserReconstruction
  offline/packages/tpccalib/TpcDirectLaserReconstruction.cc
  offline/packages/tpccalib/TpcDirectLaserReconstruction.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1770 Acts orthogonal seeder
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/SpacePoint.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsKDTreeSeeding.cc
  offline/packages/trackreco/PHActsKDTreeSeeding.h
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1740 Adding inital files
  offline/packages/ResonanceJetTagging/Makefile.am
  offline/packages/ResonanceJetTagging/ResonanceJetTagging.cc
  offline/packages/ResonanceJetTagging/ResonanceJetTagging.h
  offline/packages/ResonanceJetTagging/autogen.sh
  offline/packages/ResonanceJetTagging/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1775 make histos accessible
  offline/database/cdbobjects/CDBHistos.cc
  offline/database/cdbobjects/CDBHistos.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1774 Enabled TPC-only track fitting
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsVertexPropagator.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1773 Distortion gen save charge hist
  calibrations/tpc/generator/AnnularFieldSim.cc
  calibrations/tpc/generator/AnnularFieldSim.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1779 Mbd
  simulation/g4simulation/g4detectors/PHG4BbcDetector.cc
  simulation/g4simulation/g4detectors/PHG4BbcDetector.h
  simulation/g4simulation/g4detectors/PHG4BbcDisplayAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-FAIL
