Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2022-03, with the labels that each got.

#1432 S3 endpoint
  offline/framework/frog/CreateFileList.pl
  offline/framework/frog/FROG.cc
Labels: CI-cpp-check-PENDING, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING

#1433 Acts Update to v17.0.0
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcDistortionCorrection.cc
  offline/packages/tpc/TpcDistortionCorrection.h
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.cc
  offline/packages/tpccalib/PHTpcCentralMembraneMatcher.cc
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/tpccalib/TpcDirectLaserReconstruction.cc
  offline/packages/tpccalib/TpcDirectLaserReconstruction.h
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.h
  offline/packages/trackbase/ActsSurfaceMaps.cc
  offline/packages/trackbase/ActsSurfaceMaps.h
  offline/packages/trackbase/ActsTrackingGeometry.h
  offline/packages/trackbase_historic/ActsTransformations.cc
  offline/packages/trackbase_historic/ActsTransformations.h
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/ActsEvaluator.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackProjection.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsVertexPropagator.cc
  offline/packages/trackreco/PHActsVertexPropagator.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkFitter.h
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
  offline/packages/trackreco/PHTpcClusterMover.cc
  offline/packages/trackreco/PHTpcClusterMover.h
  offline/packages/trackreco/PHTpcDeltaZCorrection.cc
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.cc
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.h
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.h
  offline/packages/trackreco/tgeo-sphenix-mms.json
  offline/packages/trackreco/tgeo-sphenix-mms.response
  offline/packages/trackreco/tgeo-sphenix.json
  offline/packages/trackreco/tgeo-sphenix.response
  simulation/g4simulation/g4eval/DSTEmulator.cc
  simulation/g4simulation/g4eval/DSTEmulator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-FAIL, CI-build-gcc-8.3-clang-FAIL, CI-track-pythia-QA-AVAILABLE

#1434 Expand track seed covariance
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1436 Configurable Projection Radii
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackProjection.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1439 Fix g4detectors
  simulation/g4simulation/g4detectors/Makefile.am
  simulation/g4simulation/g4detectors/PHG4FullProjSpacalDetector.cc
  simulation/g4simulation/g4detectors/PHG4InnerHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4PSTOFDetector.cc
  simulation/g4simulation/g4detectors/PHG4ZDCDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1437 Outlier finder
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/ResidualOutlierFinder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1441 Distortion gen namefix
  calibrations/tpc/generator/AnnularFieldSim.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1442 Empty listfile
  offline/framework/fun4all/Fun4AllDstInputManager.cc
  offline/framework/fun4all/Fun4AllInputManager.cc
  offline/framework/fun4all/Fun4AllInputManager.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1444 Add uint64 flag
  offline/framework/ffaobjects/FlagSavev1.cc
  offline/framework/ffaobjects/FlagSavev1.h
  offline/framework/phool/PHFlag.cc
  offline/framework/phool/PHFlag.h
  offline/framework/phool/recoConsts.cc
  simulation/g4simulation/g4main/HepMCNodeReader.cc
  simulation/g4simulation/g4main/PHG4PhenixDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1445 Proper flag save retrieve
  offline/framework/ffamodules/FlagHandler.cc
  offline/framework/ffamodules/FlagHandler.h
  offline/framework/ffamodules/HeadReco.cc
  offline/framework/ffamodules/HeadReco.h
  offline/framework/ffamodules/Makefile.am
  offline/framework/ffamodules/SyncReco.h
  offline/framework/ffaobjects/FlagSave.h
  offline/framework/ffaobjects/FlagSavev1.cc
  offline/framework/ffaobjects/FlagSavev1.h
  simulation/g4simulation/g4bbc/BbcVertexMap.cc
  simulation/g4simulation/g4bbc/BbcVertexMap.h
  simulation/g4simulation/g4calo/RawTowerDigitizer.cc
  simulation/g4simulation/g4centrality/PHG4CentralityReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1443 second update for emc/general decalibrator and emc corrections applic…
  calibrations/calorimeter/dbfile_accessor_calo/CEmcCaloCalibSimpleCorrFilev1.cc
  calibrations/calorimeter/dbfile_accessor_calo/CEmcCaloCalibSimpleCorrFilev1.h
  calibrations/calorimeter/dbfile_accessor_calo/Makefile.am
  offline/packages/CaloReco/RawTowerCalibration.cc
  simulation/g4simulation/g4calo/Makefile.am
  simulation/g4simulation/g4calo/RawTowerDigitizer.cc
  simulation/g4simulation/g4calo/RawTowerDigitizer.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1446 use cdb to fetch fieldmap when magnetic field is set to CDB
  simulation/g4simulation/g4main/Makefile.am
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1447 added the possibility to change the number of TPC subsurface along phi
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1440 MVTX and KFParticle update
  generators/decayFinder/DecayFinder.cc
  generators/sHijing/Makefile.am
  generators/sHijing/configure.ac
  generators/sHijing/xml_test.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.h
  simulation/g4simulation/g4mvtx/Makefile.am
  simulation/g4simulation/g4mvtx/PHG4MvtxCable.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxCable.h
  simulation/g4simulation/g4mvtx/PHG4MvtxDefs.h
  simulation/g4simulation/g4mvtx/PHG4MvtxDetector.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxDisplayAction.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxServiceStructure.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxServiceStructure.h
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.h
  simulation/g4simulation/g4mvtx/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1450 Improve silicon track purity
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1452 Add PID mass to propagation
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1453 Fixed issue in decay finder where 2 iterators were compared
  generators/decayFinder/DecayFinder.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_nTuple.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1454 Swap mass to root instead of geant
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE
