Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2022-04, with the labels that each got.

#1455 Silicon seed merger
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHSiliconSeedMerger.cc
  offline/packages/trackreco/PHSiliconSeedMerger.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1456 Fix cppcheck
  offline/database/PHParameter/PHParameterContainerInterface.h
  offline/database/PHParameter/PHParameterInterface.h
  offline/database/pdbcal/pg/PgPostCalBankIterator.cc
  offline/framework/fun4all/Fun4AllDstOutputManager.h
  simulation/g4simulation/g4main/G4TBMagneticFieldSetup.cc
  simulation/g4simulation/g4main/G4TBMagneticFieldSetup.hh
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1457 Changed truth association for tracks
  offline/packages/KFParticle_sPHENIX/KFParticle_DST.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.h
  offline/packages/KFParticle_sPHENIX/KFParticle_eventReconstruction.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1458 Distortion extrapolation
  offline/packages/tpccalib/TpcSpaceChargeReconstructionHelper.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1460 Merge only two seeds
  offline/packages/trackreco/PHSiliconSeedMerger.cc
Labels: CI-cpp-check-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1462 removed GeoContext from cov matrix transformations. (it is not used)
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
  offline/packages/trackbase_historic/ActsTransformations.cc
  offline/packages/trackbase_historic/ActsTransformations.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsVertexPropagator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-DST-readback-PENDING, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1463 KFP: Track eval was a null pointer
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
Labels: CI-cpp-check-FAIL, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1461 Tpc simple clusterizer
  offline/packages/tpc/Makefile.am
  offline/packages/tpc/TpcSimpleClusterizer.cc
  offline/packages/tpc/TpcSimpleClusterizer.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1466 Support active groupsubsystem
  simulation/g4simulation/g4detectors/PHG4DetectorGroupSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4DetectorGroupSubsystem.h
  simulation/g4simulation/g4detectors/PHG4OuterHcalField.cc
  simulation/g4simulation/g4intt/InttDeadMap.cc
  simulation/g4simulation/g4intt/InttDeadMap.h
  simulation/g4simulation/g4intt/InttDeadMapv1.cc
  simulation/g4simulation/g4intt/InttDeadMapv1.h
  simulation/g4simulation/g4intt/PHG4InttDeadMapLoader.cc
  simulation/g4simulation/g4intt/PHG4InttDeadMapLoader.h
  simulation/g4simulation/g4intt/PHG4InttDefs.h
  simulation/g4simulation/g4intt/PHG4InttDetector.cc
  simulation/g4simulation/g4intt/PHG4InttDetector.h
  simulation/g4simulation/g4intt/PHG4InttDigitizer.cc
  simulation/g4simulation/g4intt/PHG4InttDigitizer.h
  simulation/g4simulation/g4intt/PHG4InttDisplayAction.cc
  simulation/g4simulation/g4intt/PHG4InttFPHXParameterisation.cc
  simulation/g4simulation/g4intt/PHG4InttFPHXParameterisation.h
  simulation/g4simulation/g4intt/PHG4InttHitReco.cc
  simulation/g4simulation/g4intt/PHG4InttHitReco.h
  simulation/g4simulation/g4intt/PHG4InttSteppingAction.cc
  simulation/g4simulation/g4intt/PHG4InttSteppingAction.h
  simulation/g4simulation/g4intt/PHG4InttSubsystem.cc
  simulation/g4simulation/g4intt/PHG4InttSubsystem.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-FAIL

#1465 New Truth-Reco Track Tables
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap.cc
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap.h
  offline/packages/trackbase_historic/PHG4ParticleSvtxMapLinkDef.h
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap_v1.cc
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap_v1.h
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap_v1LinkDef.h
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap.cc
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap.h
  offline/packages/trackbase_historic/SvtxPHG4ParticleMapLinkDef.h
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap_v1.cc
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap_v1.h
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap_v1LinkDef.h
  simulation/g4simulation/g4eval/Makefile.am
  simulation/g4simulation/g4eval/SvtxTruthRecoTableEval.cc
  simulation/g4simulation/g4eval/SvtxTruthRecoTableEval.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1468 Disabled overlap check
  simulation/g4simulation/g4mvtx/PHG4MvtxDetector.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1467 new cluster version with less data members + switch to use it in clu…
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrClusterv4.cc
  offline/packages/trackbase/TrkrClusterv4.h
  offline/packages/trackbase/TrkrClusterv4LinkDef.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1469 Adjust `G4VERSION_NUMBER` cuts to compile in G4.10.7 too
  simulation/g4simulation/g4gdml/PHG4GDMLWriteStructure.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-8.3-g4test-PASS

#1464 Svtx seed object
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/trackbase_historic/TrackSeed.cc
  offline/packages/trackbase_historic/TrackSeed.h
  offline/packages/trackbase_historic/TrackSeedContainer.cc
  offline/packages/trackbase_historic/TrackSeedContainer.h
  offline/packages/trackbase_historic/TrackSeedContainerLinkDef.h
  offline/packages/trackbase_historic/TrackSeedContainer_v1.cc
  offline/packages/trackbase_historic/TrackSeedContainer_v1.h
  offline/packages/trackbase_historic/TrackSeedContainer_v1LinkDef.h
  offline/packages/trackbase_historic/TrackSeedLinkDef.h
  offline/packages/trackbase_historic/TrackSeed_v1.cc
  offline/packages/trackbase_historic/TrackSeed_v1.h
  offline/packages/trackbase_historic/TrackSeed_v1LinkDef.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1470 Node Tree Truth-Reco Match Lookup
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.h
  simulation/g4simulation/g4eval/SvtxTruthRecoTableEval.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-FAIL, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1473 moved gencluskey from detector specific implementation to TrkrDefs
  offline/packages/intt/InttClusterizer.cc
  offline/packages/intt/InttDefs.cc
  offline/packages/intt/InttDefs.h
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasDefs.cc
  offline/packages/micromegas/MicromegasDefs.h
  offline/packages/mvtx/MvtxClusterizer.cc
  offline/packages/mvtx/MvtxDefs.cc
  offline/packages/mvtx/MvtxDefs.h
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcDefs.cc
  offline/packages/tpc/TpcDefs.h
  offline/packages/tpc/TpcSimpleClusterizer.cc
  offline/packages/trackbase/TrkrDefs.cc
  offline/packages/trackbase/TrkrDefs.h
  offline/packages/trackreco/PHTruthClustering.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1472 Acts covariance matrices
  offline/packages/trackbase_historic/ActsTransformations.cc
  offline/packages/trackbase_historic/ActsTransformations.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-PENDING, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1471 Add Flag for Acts Magnetic Field
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1476 Cluster container
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcSimpleClusterizer.cc
  offline/packages/tpc/TpcSimpleClusterizer.h
  offline/packages/trackbase/TrkrClusterContainer.cc
  offline/packages/trackbase/TrkrClusterContainer.h
  offline/packages/trackbase/TrkrClusterContainerv1.cc
  offline/packages/trackbase/TrkrClusterContainerv1.h
  offline/packages/trackbase/TrkrClusterContainerv2.cc
  offline/packages/trackbase/TrkrClusterContainerv2.h
  offline/packages/trackbase/TrkrClusterContainerv3.cc
  offline/packages/trackbase/TrkrClusterContainerv3.h
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHTpcClusterMover.cc
  offline/packages/trackreco/PHTruthClustering.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1477 Nodedump
  offline/packages/NodeDump/DumpAssocInfoContainer.cc
  offline/packages/NodeDump/DumpAssocInfoContainer.h
  offline/packages/NodeDump/DumpCentralityInfo.cc
  offline/packages/NodeDump/DumpCentralityInfo.h
  offline/packages/NodeDump/DumpInttDeadMap.cc
  offline/packages/NodeDump/DumpInttDeadMap.h
  offline/packages/NodeDump/DumpPHFieldConfig.cc
  offline/packages/NodeDump/DumpPHFieldConfig.h
  offline/packages/NodeDump/DumpPHG4ParticleSvtxMap.cc
  offline/packages/NodeDump/DumpPHG4ParticleSvtxMap.h
  offline/packages/NodeDump/DumpPHG4TruthInfoContainer.cc
  offline/packages/NodeDump/DumpSvtxPHG4ParticleMap.cc
  offline/packages/NodeDump/DumpSvtxPHG4ParticleMap.h
  offline/packages/NodeDump/DumpTpcSeedTrackMap.cc
  offline/packages/NodeDump/DumpTpcSeedTrackMap.h
  offline/packages/NodeDump/DumpTrkrClusterCrossingAssoc.cc
  offline/packages/NodeDump/DumpTrkrClusterCrossingAssoc.h
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/trackbase/TrkrClusterCrossingAssoc.h
  offline/packages/trackbase/TrkrClusterCrossingAssocv1.cc
  offline/packages/trackbase/TrkrClusterCrossingAssocv1.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1475 Remove AssocInfoContainer completely. Was filled but never used.
  offline/packages/trackreco/AssocInfoContainer.cc
  offline/packages/trackreco/AssocInfoContainer.h
  offline/packages/trackreco/AssocInfoContainerLinkDef.h
  offline/packages/trackreco/AssocInfoContainerv1.cc
  offline/packages/trackreco/AssocInfoContainerv1.h
  offline/packages/trackreco/AssocInfoContainerv1LinkDef.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PH3DVertexing.cc
  offline/packages/trackreco/PH3DVertexing.h
  offline/packages/trackreco/PHGenFitTrkProp.cc
  offline/packages/trackreco/PHHoughSeeding.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.cc
  offline/packages/trackreco/PHTrackFitting.cc
  offline/packages/trackreco/PHTrackFitting.h
  offline/packages/trackreco/PHTrackPropagating.cc
  offline/packages/trackreco/PHTrackPropagating.h
  offline/packages/trackreco/PHTrackSeeding.cc
  offline/packages/trackreco/PHTrackSeeding.h
  offline/packages/trackreco/PHTrackSetCopyMerging.cc
  offline/packages/trackreco/PHTrackSetMerging.cc
  offline/packages/trackreco/PHTrackSetMerging.h
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.h
  offline/packages/trackreco/PHTruthTrackSeeding.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1479 Assoc info container
  offline/packages/trackreco/AssocInfoContainer.cc
  offline/packages/trackreco/AssocInfoContainer.h
  offline/packages/trackreco/AssocInfoContainerLinkDef.h
  offline/packages/trackreco/AssocInfoContainerv1.cc
  offline/packages/trackreco/AssocInfoContainerv1.h
  offline/packages/trackreco/AssocInfoContainerv1LinkDef.h
  offline/packages/trackreco/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING

#1478 G4 random number checks
  offline/framework/phool/PHRandomSeed.h
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1480 Clustercontainer
  offline/QA/modules/QAG4SimulationIntt.cc
  offline/QA/modules/QAG4SimulationIntt.h
  offline/QA/modules/QAG4SimulationMicromegas.cc
  offline/QA/modules/QAG4SimulationMvtx.cc
  offline/QA/modules/QAG4SimulationMvtx.h
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/QA/modules/QAG4SimulationTracking.h
  offline/packages/PHTpcTracker/PHTpcEventExporter.cc
  offline/packages/PHTpcTracker/PHTpcEventExporter.h
  offline/packages/PHTpcTracker/PHTpcLookup.cc
  offline/packages/PHTpcTracker/PHTpcLookup.h
  offline/packages/PHTpcTracker/PHTpcSeedFinder.cc
  offline/packages/PHTpcTracker/PHTpcSeedFinder.h
  offline/packages/PHTpcTracker/PHTpcTracker.cc
  offline/packages/PHTpcTracker/PHTpcTrackerUtil.cc
  offline/packages/PHTpcTracker/PHTpcTrackerUtil.h
  offline/packages/tpc/TpcClusterCleaner.cc
  offline/packages/tpc/TpcClusterCleaner.h
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.cc
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.h
  offline/packages/tpccalib/TpcDirectLaserReconstruction.cc
  offline/packages/tpccalib/TpcDirectLaserReconstruction.h
  offline/packages/trackbase/TrkrClusterContainer.h
  offline/packages/trackbase/TrkrClusterContainerv3.cc
  offline/packages/trackbase/TrkrClusterContainerv3.h
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHGenFitTrkProp.cc
  offline/packages/trackreco/PHHoughSeeding.cc
  offline/packages/trackreco/PHInitVertexing.cc
  offline/packages/trackreco/PHInitVertexing.h
  offline/packages/trackreco/PHInitZVertexing.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  offline/packages/trackreco/PHPatternReco.cc
  offline/packages/trackreco/PHPatternReco.h
  offline/packages/trackreco/PHRTreeSeeding.cc
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
  offline/packages/trackreco/PHTrackPropagating.cc
  offline/packages/trackreco/PHTrackPropagating.h
  offline/packages/trackreco/PHTruthClustering.cc
  offline/packages/trackreco/PHTruthClustering.h
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.h
  simulation/g4simulation/g4eval/SvtxClusterEval.cc
  simulation/g4simulation/g4eval/SvtxClusterEval.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/TrackEvaluation.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1482 Add vertex chisq/ndf calculation
  offline/packages/trackreco/PHActsVertexPropagator.cc
  offline/packages/trackreco/PHActsVertexPropagator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1483 Heaptracker
  offline/framework/fun4all/Fun4AllMonitoring.cc
  offline/framework/fun4all/Fun4AllMonitoring.h
  offline/framework/fun4all/Fun4AllServer.cc
  offline/framework/fun4all/Fun4AllServer.h
  offline/framework/fun4all/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1487 change Acts log to info instead of fatal
  offline/packages/trackreco/PHActsTrackProjection.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1488 Heaptracker
  offline/database/dbtools/Makefile.am
  offline/framework/fun4all/Fun4AllMonitoring.cc
  offline/framework/fun4all/Fun4AllMonitoring.h
  offline/packages/CaloReco/RawTowerCalibration.cc
  simulation/g4simulation/g4calo/RawTowerDigitizer.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1492 Getfilelist
  offline/framework/frog/CreateFileList.pl
  simulation/g4simulation/g4mvtx/PHG4EICMvtxSteppingAction.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxCable.h
  simulation/g4simulation/g4mvtx/PHG4MvtxDigitizer.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxDisplayAction.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSteppingAction.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSubsystem.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1485 Laser clustering
  generators/PHSartre/PHSartre.cc
  generators/PHSartre/PHSartre.h
  offline/packages/tpccalib/Makefile.am
  offline/packages/tpccalib/TpcDirectLaserReconstruction.cc
  offline/packages/tpccalib/TpcDirectLaserReconstruction.h
  offline/packages/trackbase/MvtxDefs.cc
  simulation/g4simulation/g4tpc/PHG4TpcDirectLaser.cc
  simulation/g4simulation/g4tpc/PHG4TpcDirectLaser.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-PENDING, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-track-low-occ-QA-PENDING, CI-track-high-occ-QA-PENDING, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-PENDING

#1493 Track crossing
  offline/packages/trackbase_historic/SvtxTrack_v3.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.cc
  offline/packages/trackreco/PHTruthSiliconAssociation.h
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1494 use PHRandomSeed and gsl for momentum random smearing
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1490 Truth compress for simulation physics analysis based on tracking and calorimetry
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap.cc
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap.h
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap_v1.cc
  offline/packages/trackbase_historic/PHG4ParticleSvtxMap_v1.h
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap.cc
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap.h
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap_v1.cc
  offline/packages/trackbase_historic/SvtxPHG4ParticleMap_v1.h
  simulation/g4simulation/g4detectors/PHG4CylinderGeom_Spacalv3LinkDef.h
  simulation/g4simulation/g4eval/PHG4DstCompressReco.cc
  simulation/g4simulation/g4eval/PHG4DstCompressReco.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.h
  simulation/g4simulation/g4eval/SvtxTruthRecoTableEval.cc
  simulation/g4simulation/g4eval/SvtxTruthRecoTableEval.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE
