Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2022-05, with the labels that each got.

#1498 corrected a bug where centrality interval readin was behind verbosity
  simulation/g4simulation/g4centrality/PHG4CentralityReco.cc
  simulation/g4simulation/g4centrality/PHG4CentralityReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1491 cosmic muon generator
  simulation/g4simulation/g4main/CosmicSpray.cc
  simulation/g4simulation/g4main/CosmicSpray.h
  simulation/g4simulation/g4main/EcoMug.h
  simulation/g4simulation/g4main/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1499 100 gb prdf
  offline/framework/fun4allraw/Fun4AllFileOutStream.cc
  offline/framework/fun4allraw/Fun4AllFileOutStream.h
  offline/framework/fun4allraw/Fun4AllRolloverFileOutStream.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1497 Add files via upload
  simulation/g4simulation/g4ihcal/Makefile.am
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.h
  simulation/g4simulation/g4ihcal/PHG4IHCalDisplayAction.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalDisplayAction.h
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.h
  simulation/g4simulation/g4ihcal/PHG4IHCalSubsystem.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalSubsystem.h
  simulation/g4simulation/g4ihcal/autogen.sh
  simulation/g4simulation/g4ihcal/configure.ac
  simulation/g4simulation/g4ohcal/Makefile.am
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.h
  simulation/g4simulation/g4ohcal/PHG4OHCalDisplayAction.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDisplayAction.h
  simulation/g4simulation/g4ohcal/PHG4OHCalField.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalField.h
  simulation/g4simulation/g4ohcal/PHG4OHCalFieldSetup.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalFieldSetup.h
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.h
  simulation/g4simulation/g4ohcal/PHG4OHCalSubsystem.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSubsystem.h
  simulation/g4simulation/g4ohcal/autogen.sh
  simulation/g4simulation/g4ohcal/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1489 Allow Multiple tpc corrections
  offline/packages/tpc/TpcDistortionCorrection.cc
  offline/packages/tpc/TpcDistortionCorrection.h
  offline/packages/tpc/TpcDistortionCorrectionContainer.h
  offline/packages/tpc/TpcLoadDistortionCorrection.cc
  offline/packages/tpc/TpcLoadDistortionCorrection.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHTpcClusterMover.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1502 Central membrane
  simulation/g4simulation/g4tpc/PHG4TpcCentralMembrane.cc
  simulation/g4simulation/g4tpc/PHG4TpcCentralMembrane.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-FAIL, CI-DST-readback-FAIL, CI-build-gcc-8.3-new-PENDING, CI-track-low-occ-QA-PENDING, CI-track-high-occ-QA-PENDING, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-PENDING

#1500 Pull request to node for TrkrHitTruthCluster
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrHitTruthClusters.h
  offline/packages/trackbase/TrkrHitTruthClustersLinkDef.h
  offline/packages/trackbase/TrkrHitTruthClustersv1.cc
  offline/packages/trackbase/TrkrHitTruthClustersv1.h
  offline/packages/trackbase/TrkrHitTruthClustersv1LinkDef.h
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1481 align datamembers to 64bit
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/trackbase/TrkrClusterv4.cc
  offline/packages/trackbase/TrkrClusterv4.h
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
  offline/packages/trackreco/PHTrackSeeding.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1504 Central membrane reconstruction
  offline/packages/tpc/TpcDistortionCorrection.cc
  offline/packages/tpc/TpcDistortionCorrectionContainer.h
  offline/packages/tpc/TpcLoadDistortionCorrection.cc
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.cc
  offline/packages/tpccalib/PHTpcCentralMembraneMatcher.cc
  offline/packages/tpccalib/PHTpcCentralMembraneMatcher.h
  offline/packages/tpccalib/TpcSpaceChargeReconstructionHelper.cc
  offline/packages/trackbase/CMFlashCluster.h
  offline/packages/trackbase/CMFlashClusterContainer.h
  offline/packages/trackbase/CMFlashClusterContainerv1.cc
  offline/packages/trackbase/CMFlashClusterContainerv1.h
  offline/packages/trackbase/CMFlashClusterv1.cc
  offline/packages/trackbase/CMFlashClusterv1.h
  offline/packages/trackbase/CMFlashDifference.h
  offline/packages/trackbase/CMFlashDifferenceContainer.h
  offline/packages/trackbase/CMFlashDifferenceContainerv1.cc
  offline/packages/trackbase/CMFlashDifferenceContainerv1.h
  offline/packages/trackbase/CMFlashDifferencev1.cc
  offline/packages/trackbase/CMFlashDifferencev1.h
  simulation/g4simulation/g4tpc/PHG4TpcDistortion.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1508 Fix for unused distortion correction containers
  offline/packages/tpc/TpcLoadDistortionCorrection.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1510 Add check to see if correction is in use before loading into node.
  offline/packages/tpc/TpcLoadDistortionCorrection.cc
Labels: CI-cpp-check-AVAILABLE, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING

#1512 Fix crash
  offline/packages/trackbase_historic/SvtxTrackMap_v1.cc
  offline/packages/trackbase_historic/SvtxTrackMap_v1.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1511 Cluster mover utility
  offline/packages/tpc/Makefile.am
  offline/packages/tpc/TpcClusterMover.cc
  offline/packages/tpc/TpcClusterMover.h
  offline/packages/tpc/TpcLoadDistortionCorrection.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.cc
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1514 wrap in verb statement
  offline/packages/tpc/TpcClusterizer.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1515 Truth track seeding crossing fix
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/trackreco/PHTruthTrackSeeding.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1516 Add option to cut out forward r-z wedge as in raw data
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1517 Truth track seeding position randomization fix
  offline/packages/trackreco/PHTruthTrackSeeding.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1505 New Track Seed Objects
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/packages/PHTpcTracker/PHTpcTracker.cc
  offline/packages/PHTpcTracker/PHTpcTracker.h
  offline/packages/trackbase_historic/ActsTransformations.cc
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/trackbase_historic/SvtxTrackMap.h
  offline/packages/trackbase_historic/SvtxTrackMap_v2.cc
  offline/packages/trackbase_historic/SvtxTrackMap_v2.h
  offline/packages/trackbase_historic/SvtxTrackMap_v2LinkDef.h
  offline/packages/trackbase_historic/SvtxTrackSeed_v1.cc
  offline/packages/trackbase_historic/SvtxTrackSeed_v1.h
  offline/packages/trackbase_historic/SvtxTrackSeed_v1LinkDef.h
  offline/packages/trackbase_historic/TrackSeed.cc
  offline/packages/trackbase_historic/TrackSeed.h
  offline/packages/trackbase_historic/TrackSeedContainer.cc
  offline/packages/trackbase_historic/TrackSeedContainer.h
  offline/packages/trackbase_historic/TrackSeedContainer_v1.cc
  offline/packages/trackbase_historic/TrackSeedContainer_v1.h
  offline/packages/trackbase_historic/TrackSeed_FastSim_v1.cc
  offline/packages/trackbase_historic/TrackSeed_FastSim_v1.h
  offline/packages/trackbase_historic/TrackSeed_FastSim_v1LinkDef.h
  offline/packages/trackbase_historic/TrackSeed_v1.cc
  offline/packages/trackbase_historic/TrackSeed_v1.h
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHGhostRejection.cc
  offline/packages/trackreco/PHGhostRejection.h
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  offline/packages/trackreco/PHSiliconSeedMerger.cc
  offline/packages/trackreco/PHSiliconSeedMerger.h
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
  offline/packages/trackreco/PHSiliconTpcTrackMatching.h
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.cc
  offline/packages/trackreco/PHSiliconTruthTrackSeeding.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
  offline/packages/trackreco/PHSimpleVertexFinder.cc
  offline/packages/trackreco/PHTpcDeltaZCorrection.cc
  offline/packages/trackreco/PHTpcDeltaZCorrection.h
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.cc
  offline/packages/trackreco/PHTpcTrackSeedCircleFit.h
  offline/packages/trackreco/PHTrackCleaner.cc
  offline/packages/trackreco/PHTrackSeeding.cc
  offline/packages/trackreco/PHTrackSeeding.h
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.h
  simulation/g4simulation/g4eval/Makefile.am
  simulation/g4simulation/g4eval/TrackSeedTrackMapConverter.cc
  simulation/g4simulation/g4eval/TrackSeedTrackMapConverter.h
  simulation/g4simulation/g4tpc/PHG4TpcDirectLaser.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-FAIL, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1518 Fix crash in QA
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-FAIL, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1521 Truth seeding fix
  offline/packages/trackbase_historic/TrackSeed_FastSim_v1.cc
  offline/packages/trackbase_historic/TrackSeed_FastSim_v1.h
  offline/packages/trackbase_historic/TrackSeed_v1.h
  offline/packages/trackreco/PHTruthTrackSeeding.cc
  offline/packages/trackreco/PHTruthTrackSeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1519 New Lightweight SvtxTrack
  offline/QA/modules/QAG4SimulationTracking.cc
  offline/QA/modules/QAG4SimulationTracking.h
  offline/QA/modules/QAG4SimulationVertex.cc
  offline/QA/modules/QAG4SimulationVertex.h
  offline/packages/trackbase_historic/Makefile.am
  offline/packages/trackbase_historic/SvtxTrack.h
  offline/packages/trackbase_historic/SvtxTrack_v4.cc
  offline/packages/trackbase_historic/SvtxTrack_v4.h
  offline/packages/trackbase_historic/SvtxTrack_v4LinkDef.h
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHActsVertexPropagator.cc
  offline/packages/trackreco/PHActsVertexPropagator.h
  offline/packages/trackreco/PHSimpleVertexFinder.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.h
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.h
  simulation/g4simulation/g4eval/SvtxTruthRecoTableEval.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1523 Fix path length determination
  offline/packages/trackreco/PHActsTrackProjection.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1520 Add sEPD event plane info to centrality module
  offline/packages/centrality/CentralityInfo.h
  simulation/g4simulation/g4centrality/EpFinder.C
  simulation/g4simulation/g4centrality/EpFinder.h
  simulation/g4simulation/g4centrality/EpInfo.C
  simulation/g4simulation/g4centrality/EpInfo.h
  simulation/g4simulation/g4centrality/Makefile.am
  simulation/g4simulation/g4centrality/PHG4CentralityReco.cc
  simulation/g4simulation/g4centrality/PHG4CentralityReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1525 Revert "Add sEPD event plane info to centrality module"
  offline/packages/centrality/CentralityInfo.h
  simulation/g4simulation/g4centrality/EpFinder.C
  simulation/g4simulation/g4centrality/EpFinder.h
  simulation/g4simulation/g4centrality/EpInfo.C
  simulation/g4simulation/g4centrality/EpInfo.h
  simulation/g4simulation/g4centrality/Makefile.am
  simulation/g4simulation/g4centrality/PHG4CentralityReco.cc
  simulation/g4simulation/g4centrality/PHG4CentralityReco.h
Labels: CI-cpp-check-AVAILABLE, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING

#1527 Add deprecation comments to SvtxTrack
  offline/packages/trackbase_historic/SvtxTrack.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1529 Adapt to new track
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  simulation/g4simulation/g4eval/TrackEvaluation.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE
