Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2022-09, with the labels that each got.

#1646 fix one of many memory leaks in the mvtx support
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1643 Cleanup
  .clang-tidy
  offline/framework/frog/FROG.cc
  offline/framework/fun4all/Fun4AllDstInputManager.cc
  offline/framework/fun4all/Fun4AllHistoManager.cc
  offline/framework/fun4all/Fun4AllMemoryTracker.cc
  offline/framework/fun4all/Fun4AllMonitoring.cc
  offline/framework/fun4all/Fun4AllMonitoring.h
  offline/framework/fun4all/Fun4AllServer.cc
  offline/framework/fun4all/Fun4AllSyncManager.cc
  offline/framework/fun4all/PHTFileServer.cc
  offline/framework/fun4all/TDirectoryHelper.cc
  offline/framework/phool/PHCompositeNode.cc
  offline/framework/phool/PHNode.cc
  offline/framework/phool/PHNodeIOManager.cc
  offline/framework/phool/PHNodeIterator.cc
  offline/framework/phool/PHTimeServer.cc
  offline/framework/phool/PHTimeStamp.cc
  offline/packages/CaloReco/BEmcProfile.cc
  offline/packages/CaloReco/BEmcRecCEMC.cc
  offline/packages/CaloReco/BEmcRecEEMC.cc
  offline/packages/CaloReco/BEmcRecFEMC.cc
  offline/packages/CaloReco/RawClusterBuilderFwd.cc
  offline/packages/CaloReco/RawClusterBuilderGraph.cc
  offline/packages/CaloReco/RawClusterBuilderTemplate.cc
  offline/packages/CaloReco/RawClusterBuilderTopo.cc
  offline/packages/CaloReco/RawClusterBuilderTopo.h
  offline/packages/CaloReco/RawTowerCombiner.cc
  offline/packages/particleflow/Makefile.am
  offline/packages/particleflow/ParticleFlowElementv1.cc
  offline/packages/particleflow/ParticleFlowElementv1.h
  offline/packages/particleflow/ParticleFlowJetInput.cc
  offline/packages/particleflow/ParticleFlowJetInput.h
  offline/packages/particleflow/configure.ac
  simulation/g4simulation/g4jets/FastJetAlgo.cc
  simulation/g4simulation/g4jets/JetMapv1.cc
  simulation/g4simulation/g4jets/JetReco.cc
  simulation/g4simulation/g4jets/Jetv1.cc
  simulation/g4simulation/g4jets/TowerJetInput.cc
  simulation/g4simulation/g4jets/TruthJetInput.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1647 Disable GDML/TGeo geometry export for new HCal
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.h
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1642 Implement global alignment constants
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/trackbase/ActsGeometry.cc
  offline/packages/trackbase/ActsGeometry.h
  offline/packages/trackbase/ActsTrackingGeometry.h
  offline/packages/trackbase/AlignmentTransformation.cc
  offline/packages/trackbase/AlignmentTransformation.h
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TpcDefs.cc
  offline/packages/trackbase/TpcDefs.h
  offline/packages/trackbase/alignmentTransformationContainer.cc
  offline/packages/trackbase/alignmentTransformationContainer.h
  offline/packages/trackbase/alignmentTransformationContainerLinkDef.h
  offline/packages/trackbase/sPHENIXActsDetectorElement.cc
  offline/packages/trackbase/sPHENIXActsDetectorElement.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1648 Fix memory leaks
  offline/database/PHParameter/PHParameterInterface.h
  offline/database/PHParameter/PHParameters.cc
  offline/database/PHParameter/PHParametersContainer.cc
  simulation/g4simulation/g4mvtx/PHG4EICMvtxDetector.cc
  simulation/g4simulation/g4mvtx/PHG4EICMvtxSubsystem.cc
  simulation/g4simulation/g4mvtx/PHG4EICMvtxSubsystem.h
  simulation/g4simulation/g4mvtx/PHG4MvtxCable.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxDefs.h
  simulation/g4simulation/g4mvtx/PHG4MvtxDetector.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxDigitizer.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxDigitizer.h
  simulation/g4simulation/g4mvtx/PHG4MvtxDisplayAction.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.h
  simulation/g4simulation/g4mvtx/PHG4MvtxServiceStructure.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxServiceStructure.h
  simulation/g4simulation/g4mvtx/PHG4MvtxSubsystem.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSubsystem.h
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1650 Comment out removal of hit-truth association for TPC hits with ADC zero to speed it up
  simulation/g4simulation/g4tpc/PHG4TpcDigitizer.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1645 Acts fit fixes
  offline/packages/trackbase_historic/SvtxTrackMap_v2.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkFitter.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-PENDING

#1651 Add warning for tpot
  offline/packages/trackreco/MakeActsGeometry.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1649 fix tpc overlap
  offline/packages/tpc/TpcClusterMover.cc
  offline/packages/tpc/TpcClusterMover.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1657 Testparams
  offline/database/PHParameter/Makefile.am
  offline/database/PHParameter/PHParameterInterface.cc
  offline/database/PHParameter/PHParameterInterface.h
  offline/database/PHParameter/PHParameters.cc
  offline/database/PHParameter/PHParametersContainer.cc
  offline/database/PHParameter/configure.ac
  offline/framework/phool/Makefile.am
  offline/framework/phool/PHOperation.cc
  offline/framework/phool/PHOperation.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1656 KFP: New truth matching method using maps
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1659 update new gdml based ihcal light yield with maps
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1653 Tracking memory leak clean up
  offline/packages/trackbase/TrkrHitSetContainerv1.cc
  offline/packages/trackbase/TrkrHitSetv1.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
  simulation/g4simulation/g4eval/SvtxTruthRecoTableEval.cc
  simulation/g4simulation/g4eval/SvtxTruthRecoTableEval.h
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1660 Speedup transform map access
  offline/packages/intt/CylinderGeomIntt.cc
  offline/packages/micromegas/CylinderGeomMicromegas.cc
  offline/packages/mvtx/CylinderGeom_Mvtx.cc
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcSimpleClusterizer.cc
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/trackbase/ActsGeometry.cc
  offline/packages/trackbase/ActsTrackingGeometry.h
  offline/packages/trackbase/AlignmentTransformation.cc
  offline/packages/trackbase/alignmentTransformationContainer.cc
  offline/packages/trackbase/alignmentTransformationContainer.h
  offline/packages/trackbase/sPHENIXActsDetectorElement.cc
  offline/packages/trackbase/sPHENIXActsDetectorElement.h
  offline/packages/trackbase_historic/ActsTransformations.cc
  offline/packages/trackbase_historic/ActsTransformations.h
  offline/packages/trackreco/ActsEvaluator.cc
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHActsGSF.cc
  offline/packages/trackreco/PHActsInitialVertexFinder.cc
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsToSvtxTracks.cc
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsVertexFinder.cc
  offline/packages/trackreco/PHActsVertexFitter.cc
  offline/packages/trackreco/PHActsVertexPropagator.cc
  offline/packages/trackreco/PHTpcClusterMover.cc
  simulation/g4simulation/g4eval/DSTEmulator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1652 Distortion correction fixes
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.cc
  offline/packages/tpccalib/TpcSpaceChargeReconstruction.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1663 fixed a bug causing compilation warnings to CaloWavefromProcessing
  offline/packages/CaloReco/CaloWaveformProcessing.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1665 added Birk constant
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalSubsystem.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1666 Dump ph gen integral
  .clang-tidy
  offline/packages/NodeDump/DumpCentralityInfo.cc
  offline/packages/NodeDump/DumpEventHeader.cc
  offline/packages/NodeDump/DumpInttDeadMap.cc
  offline/packages/NodeDump/DumpObject.cc
  offline/packages/NodeDump/DumpPHFieldConfig.cc
  offline/packages/NodeDump/DumpPHG4BlockCellGeomContainer.cc
  offline/packages/NodeDump/DumpPHG4CellContainer.cc
  offline/packages/NodeDump/DumpPHG4HitContainer.cc
  offline/packages/NodeDump/DumpPHG4ParticleSvtxMap.cc
  offline/packages/NodeDump/DumpPHGenIntegral.cc
  offline/packages/NodeDump/DumpPHGenIntegral.h
  offline/packages/NodeDump/DumpRunHeader.cc
  offline/packages/NodeDump/DumpSvtxPHG4ParticleMap.cc
  offline/packages/NodeDump/DumpTrkrClusterContainer.cc
  offline/packages/NodeDump/Dumper.cc
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1668 Initialize `G4EmSaturation` after all materials are defined
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1669 Update seed converter to SvtxTrack_v4
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/TrackSeedTrackMapConverter.cc
  simulation/g4simulation/g4eval/TrackSeedTrackMapConverter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1671 disable mephi maps if light_scint_model >= 10 for testing
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1672 Add track state removing module
  offline/packages/trackbase_historic/SvtxTrack_v4.cc
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/SvtxTrackStateRemoval.cc
  offline/packages/trackreco/SvtxTrackStateRemoval.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1592 Update QA and TrackEvaluation for cluster v4
  offline/QA/modules/QAG4SimulationIntt.cc
  offline/QA/modules/QAG4SimulationIntt.h
  offline/QA/modules/QAG4SimulationMicromegas.cc
  offline/QA/modules/QAG4SimulationMicromegas.h
  offline/QA/modules/QAG4SimulationMvtx.cc
  offline/QA/modules/QAG4SimulationMvtx.h
  offline/QA/modules/QAG4SimulationTpc.cc
  offline/QA/modules/QAG4SimulationTpc.h
  offline/packages/intt/InttClusterizer.h
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasClusterizer.h
  offline/packages/mvtx/MvtxClusterizer.h
  offline/packages/tpc/TpcClusterCleaner.h
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/trackbase/ClusterErrorPara.cc
  offline/packages/trackbase/ClusterErrorPara.h
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/PHActsTrkFitter.h
  simulation/g4simulation/g4eval/SvtxEvaluator.h
  simulation/g4simulation/g4eval/TrackEvaluation.cc
  simulation/g4simulation/g4eval/TrackEvaluation.h
  simulation/g4simulation/g4eval/TrackEvaluationContainerv1.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-FAIL, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1674 More transform map speedup
  offline/packages/trackbase/AlignmentTransformation.cc
  offline/packages/trackbase/AlignmentTransformation.h
  offline/packages/trackbase/alignmentTransformationContainer.cc
  offline/packages/trackbase/alignmentTransformationContainer.h
  offline/packages/trackbase/sPHENIXActsDetectorElement.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1664 Padplane readout
  offline/QA/modules/QAG4SimulationTpc.cc
  offline/packages/tpc/TpcClusterMover.cc
  offline/packages/tpc/TpcClusterMover.h
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/tpc/TpcSimpleClusterizer.cc
  offline/packages/tpc/TpcSimpleClusterizer.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkProp.cc
  offline/packages/trackreco/PHHoughSeeding.cc
  offline/packages/trackreco/PHHybridSeeding.cc
  offline/packages/trackreco/PHInitZVertexing.cc
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHTpcClusterMover.cc
  offline/packages/trackreco/PHTpcClusterMover.h
  offline/packages/trackreco/PHTruthClustering.cc
  offline/packages/trackreco/PHTruthClustering.h
  simulation/g4simulation/g4detectors/Makefile.am
  simulation/g4simulation/g4detectors/PHG4TpcCylinderGeom.cc
  simulation/g4simulation/g4detectors/PHG4TpcCylinderGeom.h
  simulation/g4simulation/g4detectors/PHG4TpcCylinderGeomContainer.cc
  simulation/g4simulation/g4detectors/PHG4TpcCylinderGeomContainer.h
  simulation/g4simulation/g4detectors/PHG4TpcCylinderGeomContainerLinkDef.h
  simulation/g4simulation/g4detectors/PHG4TpcCylinderGeomLinkDef.h
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.h
  simulation/g4simulation/g4eval/TrackEvaluation.cc
  simulation/g4simulation/g4eval/TrackEvaluation.h
  simulation/g4simulation/g4histos/G4CellNtuple.cc
  simulation/g4simulation/g4tpc/PHG4TpcDigitizer.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadBaselineShift.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadBaselineShift.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlane.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1654 Cluster edit
  offline/packages/NodeDump/DumpTrkrHitTruthClusters.cc
  offline/packages/NodeDump/DumpTrkrHitTruthClusters.h
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrClusterContainerv4.cc
  offline/packages/trackbase/TrkrClusterContainerv4.h
  offline/packages/trackbase/TrkrClusterv4.h
  offline/packages/trackbase/TrkrHitTruthClusters.h
  offline/packages/trackbase/TrkrHitTruthClustersLinkDef.h
  offline/packages/trackbase/TrkrHitTruthClustersv1.cc
  offline/packages/trackbase/TrkrHitTruthClustersv1.h
  offline/packages/trackbase/TrkrHitTruthClustersv1LinkDef.h
  offline/packages/trackbase/TrkrTruthClusters.h
  offline/packages/trackbase/TrkrTruthClustersLinkDef.h
  offline/packages/trackbase/TrkrTruthClustersv1.cc
  offline/packages/trackbase/TrkrTruthClustersv1.h
  offline/packages/trackbase/TrkrTruthClustersv1LinkDef.h
  offline/packages/trackbase/TrkrTruthTrack.h
  offline/packages/trackbase/TrkrTruthTrackContainer.h
  offline/packages/trackbase/TrkrTruthTrackContainerLinkDef.h
  offline/packages/trackbase/TrkrTruthTrackContainerv1.cc
  offline/packages/trackbase/TrkrTruthTrackContainerv1.h
  offline/packages/trackbase/TrkrTruthTrackContainerv1LinkDef.h
  offline/packages/trackbase/TrkrTruthTrackLinkDef.h
  offline/packages/trackbase/TrkrTruthTrackv1.cc
  offline/packages/trackbase/TrkrTruthTrackv1.h
  offline/packages/trackbase/TrkrTruthTrackv1LinkDef.h
  simulation/g4simulation/g4tpc/Makefile.am
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlane.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.h
  simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.h
  simulation/g4simulation/g4tpc/TruthTrack.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1676 Fix master
  simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.h
Labels: CI-cpp-check-AVAILABLE, CI-build-gcc-8.3-new-FAIL, CI-build-gcc-8.3-scan-FAIL, CI-build-gcc-8.3-clang-PASS

#1678 update to use tile by tile normalized maps
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-track-low-occ-QA-PENDING, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-FAIL

#1677 "new" scintillator material for HCal
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.cc
  simulation/g4simulation/g4main/PHG4Reco.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1675 propagate cluster version number from simplekfprop to alicekf
  offline/QA/modules/QAG4SimulationIntt.h
  offline/QA/modules/QAG4SimulationMicromegas.h
  offline/QA/modules/QAG4SimulationMvtx.h
  offline/QA/modules/QAG4SimulationTpc.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1680 Enable silicon-only tracking and vertexing
  offline/packages/trackbase_historic/SvtxTrack_v4.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/SvtxTrackEval.cc
  simulation/g4simulation/g4eval/TrackSeedTrackMapConverter.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1683 Force sync segment
  generators/PHPythia8/PHPy8GenTrigger.cc
  generators/PHPythia8/PHPy8JetTrigger.cc
  generators/PHPythia8/PHPy8ParticleTrigger.cc
  generators/PHPythia8/PHPythia8.cc
  offline/framework/ffamodules/SyncReco.cc
  offline/framework/ffamodules/SyncReco.h
  offline/framework/ffamodules/XploadInterface.cc
  offline/framework/ffaobjects/CdbUrlSavev1.cc
  offline/framework/ffaobjects/SyncObject.h
  offline/framework/ffaobjects/SyncObjectv1.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1682 Adding reco track vertex association info to SvtxEvaluator ntuples
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1684 Mephi map params
  .clang-tidy
  simulation/g4simulation/g4detectors/PHG4InnerHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4InnerHcalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalSubsystem.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.h
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalSubsystem.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1688 simplekf speed fix
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-PENDING, CI-calo-QA-PENDING, CI-DST-readback-PENDING, CI-build-gcc-8.3-new-PENDING, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING, CI-track-pythia-QA-PENDING

#1673 TPC seeding overhaul
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/PHCASeeding.cc
  offline/packages/trackreco/PHCASeeding.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  offline/packages/trackreco/PHSimpleKFProp.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1687 Distortion fixes
  offline/packages/tpc/TpcDistortionCorrection.cc
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkFitter.h
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  simulation/g4simulation/g4tpc/PHG4TpcDistortion.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1689 Check vertex in evaluator
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1686 The default phi offsets of the INTT barrel were modified
  simulation/g4simulation/g4intt/PHG4InttSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1690 Putback trkr hit truth clusters
  offline/packages/NodeDump/DumpJetMap.cc
  offline/packages/NodeDump/DumpPHG4CellContainer.cc
  offline/packages/NodeDump/DumpPHG4HitContainer.cc
  offline/packages/NodeDump/DumpPHG4ParticleSvtxMap.cc
  offline/packages/NodeDump/DumpSvtxPHG4ParticleMap.cc
  offline/packages/NodeDump/DumpTrkrHitTruthClusters.cc
  offline/packages/NodeDump/DumpTrkrHitTruthClusters.h
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrHitTruthClusters.h
  offline/packages/trackbase/TrkrHitTruthClustersLinkDef.h
  offline/packages/trackbase/TrkrHitTruthClustersv1.cc
  offline/packages/trackbase/TrkrHitTruthClustersv1.h
  offline/packages/trackbase/TrkrHitTruthClustersv1LinkDef.h
Labels: CI-cpp-check-PENDING, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING
