Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2022-07, with the labels that each got.

#1554 Use xpload
  offline/packages/CaloReco/BEmcCluster.cc
  offline/packages/CaloReco/BEmcCluster.h
  offline/packages/CaloReco/BEmcProfile.cc
  offline/packages/CaloReco/BEmcProfile.h
  offline/packages/CaloReco/BEmcRec.cc
  offline/packages/CaloReco/BEmcRec.h
  offline/packages/CaloReco/PHMakeGroups.h
  offline/packages/CaloReco/RawClusterBuilderFwd.cc
  offline/packages/CaloReco/RawClusterBuilderGraph.cc
  offline/packages/CaloReco/RawClusterBuilderTemplate.cc
  offline/packages/CaloReco/RawClusterBuilderTemplate.h
  offline/packages/CaloReco/RawTowerDeadMapLoader.h
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1551 Micromegas matching bug fix
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  offline/packages/trackreco/PHSiliconTpcTrackMatching.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1552 CylinderGeomMicromegas
  offline/QA/modules/QAG4SimulationMicromegas.cc
  offline/QA/modules/QAG4SimulationMicromegas.h
  offline/packages/micromegas/CylinderGeomMicromegas.cc
  offline/packages/micromegas/CylinderGeomMicromegas.h
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasClusterizer.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkFitter.h
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.cc
  offline/packages/trackreco/PHMicromegasTpcTrackMatching.h
  simulation/g4simulation/g4eval/TrackEvaluation.cc
  simulation/g4simulation/g4eval/TrackEvaluation.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasDetector.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1553 Added option to change DecayFinder eta and pT range
  offline/packages/decayfinder/DecayFinder.cc
  offline/packages/decayfinder/DecayFinder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1558 Scan embed clusters bug
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/trackreco/PHTpcDeltaZCorrection.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1559 Silicon geometries to Acts
  offline/packages/intt/CylinderGeomIntt.cc
  offline/packages/intt/CylinderGeomIntt.h
  offline/packages/mvtx/CylinderGeom_Mvtx.cc
  offline/packages/mvtx/CylinderGeom_Mvtx.h
  offline/packages/trackbase/ActsSurfaceMaps.cc
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHGenFitTrkFitter.cc
  offline/packages/trackreco/PHTruthClustering.cc
  offline/packages/trackreco/PHTruthClustering.h
  simulation/g4simulation/g4eval/SvtxTruthEval.cc
  simulation/g4simulation/g4eval/SvtxTruthEval.h
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1562 fixed micromegas QA
  offline/QA/modules/QAG4SimulationMicromegas.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1560 Adding the truth decay QA module, truthDecayTester
  offline/QA/modules/Makefile.am
  offline/QA/modules/QAG4SimulationTruthDecay.cc
  offline/QA/modules/QAG4SimulationTruthDecay.h
  offline/QA/modules/truthDecayTester.cc
  offline/QA/modules/truthDecayTester.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-PENDING

#1565 Track Timing Fix
  offline/packages/micromegas/CylinderGeomMicromegas.cc
  offline/packages/trackbase/ActsGeometry.cc
  offline/packages/trackbase/ActsGeometry.h
  simulation/g4simulation/g4eval/DSTEmulator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PENDING, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS

#1567 More xpload
  simulation/g4simulation/g4detectors/BeamLineMagnetDisplayAction.h
  simulation/g4simulation/g4detectors/Makefile.am
  simulation/g4simulation/g4detectors/PHG4BlockCellReco.cc
  simulation/g4simulation/g4detectors/PHG4BlockSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4CEmcTestBeamDetector.cc
  simulation/g4simulation/g4detectors/PHG4CEmcTestBeamSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4CEmcTestBeamSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4CEmcTestBeamSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4Cellv1.h
  simulation/g4simulation/g4detectors/PHG4ConeSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4ConeSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4CylinderCell.h
  simulation/g4simulation/g4detectors/PHG4CylinderCellReco.cc
  simulation/g4simulation/g4detectors/PHG4CylinderCellv1.h
  simulation/g4simulation/g4detectors/PHG4CylinderGeom_Spacalv3LinkDef.h
  simulation/g4simulation/g4detectors/PHG4DetectorGroupSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4EnvelopeSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4EnvelopeSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4EnvelopeSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4FullProjSpacalCellReco.cc
  simulation/g4simulation/g4detectors/PHG4FullProjSpacalCellReco.h
  simulation/g4simulation/g4detectors/PHG4FullProjSpacalDetector.cc
  simulation/g4simulation/g4detectors/PHG4FullProjTiltedSpacalDetector.cc
  simulation/g4simulation/g4detectors/PHG4GDMLDetector.cc
  simulation/g4simulation/g4detectors/PHG4GDMLSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4GDMLSubsystem.h
  simulation/g4simulation/g4detectors/PHG4GenHit.cc
  simulation/g4simulation/g4detectors/PHG4HcalDetector.cc
  simulation/g4simulation/g4detectors/PHG4HcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4HcalSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4HcalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4InnerHcalDetector.cc
  simulation/g4simulation/g4detectors/PHG4InnerHcalDisplayAction.h
  simulation/g4simulation/g4detectors/PHG4InnerHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4InnerHcalSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4InnerHcalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalDetector.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalDisplayAction.h
  simulation/g4simulation/g4detectors/PHG4OuterHcalFieldSetup.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalFieldSetup.h
  simulation/g4simulation/g4detectors/PHG4OuterHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4PSTOFSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4PSTOFSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4SectorConstructor.cc
  simulation/g4simulation/g4detectors/PHG4SectorDetector.h
  simulation/g4simulation/g4detectors/PHG4SectorDisplayAction.h
  simulation/g4simulation/g4detectors/PHG4SectorSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4SectorSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4SectorSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4SpacalDisplayAction.h
  simulation/g4simulation/g4detectors/PHG4SpacalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1569 put cppcheck suppression for false positive back
  offline/framework/fun4all/Fun4AllMonitoring.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1572 TPC cluster transform simplification
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/trackbase/ActsGeometry.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1570 Actsv19
  offline/packages/tpccalib/Makefile.am
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/sPHENIXActsDetectorElement.cc
  offline/packages/trackbase/sPHENIXActsDetectorElement.h
  offline/packages/trackbase_historic/ActsTransformations.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsGSF.cc
  offline/packages/trackreco/PHActsGSF.h
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-FAIL, CI-track-pythia-QA-AVAILABLE

#1574 Revert "TPC cluster transform simplification"
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/trackbase/ActsGeometry.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1576 fix clang warnings
  offline/packages/trackbase/sPHENIXActsDetectorElement.h
  offline/packages/trackreco/PHActsGSF.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1571 prepare switch to cluster version 4
  offline/packages/tpc/TpcClusterCleaner.cc
  offline/packages/tpc/TpcClusterCleaner.h
  offline/packages/trackbase/ClusterErrorPara.h
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/PHActsSiliconSeeding.cc
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
  offline/packages/trackreco/PHSimpleKFProp.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1577 Remove truth tracks from ParticleFlow
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.cc
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.h
  calibrations/calorimeter/dbfile_accessor_calo/CEmcCaloCalibSimpleCorrFilev1.cc
  calibrations/calorimeter/dbfile_accessor_calo/CEmcCaloCalibSimpleCorrFilev1.h
  calibrations/calorimeter/dbfile_accessor_calo/CaloCalibSimpleCorrFile.h
  calibrations/calorimeter/dbfile_accessor_calo/HcalCaloCalibSimpleCorrFilev1.cc
  calibrations/calorimeter/dbfile_accessor_calo/HcalCaloCalibSimpleCorrFilev1.h
  offline/packages/particleflow/Makefile.am
  offline/packages/particleflow/ParticleFlowReco.cc
  offline/packages/particleflow/ParticleFlowReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1581 add detector specific bunchcrossings pileup window
  simulation/g4simulation/g4main/Fun4AllDstPileupInputManager.cc
  simulation/g4simulation/g4main/Fun4AllDstPileupInputManager.h
  simulation/g4simulation/g4main/Fun4AllDstPileupMerger.cc
  simulation/g4simulation/g4main/Fun4AllDstPileupMerger.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1582 Implement the fix suggested by GEANT 4 developers to allow external decayers for heavy flavor particles.
  simulation/g4simulation/g4main/PHG4Reco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1583 remove flagsave, now done by flag handler
  simulation/g4simulation/g4main/PHG4HeadReco.cc
  simulation/g4simulation/g4main/PHG4HeadReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1584 Fix field
  simulation/g4simulation/g4detectors/PHG4CellDefs.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalField.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalFieldSetup.h
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1501 [WIP] MVTX hit timing and duplication
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1585 Add timing cut on EPD and BBC hits
  offline/packages/eventplane/EpFinderReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1586 Cemc dstbranch
  simulation/g4simulation/g4detectors/PHG4SpacalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4SpacalSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4SpacalSubsystem.cc
  simulation/g4simulation/g4detectors/PHG4SpacalSubsystem.h
  simulation/g4simulation/g4detectors/PHG4ZDCSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4ZDCSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1589 fix cluster z error
  offline/packages/tpc/TpcClusterizer.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1590 change to cluster v4. For real this time
  offline/packages/intt/InttClusterizer.h
  offline/packages/micromegas/MicromegasClusterizer.h
  offline/packages/mvtx/MvtxClusterizer.h
  offline/packages/tpc/TpcClusterCleaner.h
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTrkFitter.h
  simulation/g4simulation/g4eval/SvtxEvaluator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1591 updated error parametrization
  offline/packages/trackbase/ClusterErrorPara.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1593 remove file
  offline/packages/PHActsSiliconSeeding.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1595 Revert "change to cluster v4. For real this time"
  offline/packages/intt/InttClusterizer.h
  offline/packages/micromegas/MicromegasClusterizer.h
  offline/packages/mvtx/MvtxClusterizer.h
  offline/packages/tpc/TpcClusterCleaner.h
  offline/packages/tpc/TpcClusterizer.h
  offline/packages/trackreco/ALICEKF.h
  offline/packages/trackreco/PHActsSiliconSeeding.h
  offline/packages/trackreco/PHActsTrkFitter.h
  simulation/g4simulation/g4eval/SvtxEvaluator.h
Labels: CI-cpp-check-PENDING, CI-build-gcc-8.3-new-PENDING, CI-build-gcc-8.3-scan-PENDING, CI-build-gcc-8.3-clang-PENDING

#1594 Update particle flow
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.cc
  offline/packages/CaloReco/RawClusterBuilderTopo.cc
  offline/packages/jetbackground/DetermineTowerBackground.cc
  offline/packages/particleflow/Makefile.am
  offline/packages/particleflow/ParticleFlowReco.cc
  offline/packages/trackbase/TrkrHitTruthClustersv1.cc
  offline/packages/trackreco/MakeActsGeometry.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1596 Fix tower geom
  offline/database/PHParameter/PHParameterInterface.cc
  offline/database/PHParameter/PHParameterInterface.h
  simulation/g4simulation/g4calo/HcalRawTowerBuilder.cc
  simulation/g4simulation/g4calo/HcalRawTowerBuilder.h
  simulation/g4simulation/g4calo/RawTowerBuilder.cc
  simulation/g4simulation/g4calo/RawTowerBuilder.h
  simulation/g4simulation/g4calo/RawTowerBuilderByHitIndex.cc
  simulation/g4simulation/g4calo/RawTowerBuilderByHitIndex.h
  simulation/g4simulation/g4calo/RawTowerDigitizer.cc
  simulation/g4simulation/g4calo/RawTowerDigitizer.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1597 Fix fill space charge maps
  calibrations/tpc/fillSpaceChargeMaps/Makefile.am
  calibrations/tpc/fillSpaceChargeMaps/Shifter.cc
  calibrations/tpc/fillSpaceChargeMaps/Shifter.h
  calibrations/tpc/fillSpaceChargeMaps/configure.ac
  calibrations/tpc/fillSpaceChargeMaps/fillSpaceChargeMaps.cc
  calibrations/tpc/fillSpaceChargeMaps/fillSpaceChargeMaps.h
  calibrations/tpc/fillSpaceChargeMaps/fillSpaceChargeMapsLinkDef.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1599 New hcals
  simulation/g4simulation/g4detectors/PHG4InnerHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4InnerHcalSteppingAction.h
  simulation/g4simulation/g4detectors/PHG4OuterHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalSteppingAction.h
  simulation/g4simulation/g4ihcal/PHG4IHCalDetector.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.h
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE

#1600 Raw light yield
  simulation/g4simulation/g4detectors/PHG4InnerHcalSteppingAction.cc
  simulation/g4simulation/g4detectors/PHG4OuterHcalSteppingAction.cc
  simulation/g4simulation/g4ihcal/PHG4IHCalSteppingAction.cc
  simulation/g4simulation/g4main/PHG4Hit.cc
  simulation/g4simulation/g4main/PHG4Hit.h
  simulation/g4simulation/g4main/PHG4Hitv1.h
  simulation/g4simulation/g4ohcal/PHG4OHCalSteppingAction.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-build-gcc-8.3-scan-PASS, CI-build-gcc-8.3-clang-PASS, CI-track-pythia-QA-AVAILABLE
