Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2023-01, with the labels that each got.

#1782 Tower cosmetics
  offline/packages/CaloBase/Makefile.am
  offline/packages/CaloBase/RawCluster.cc
  offline/packages/CaloBase/RawCluster.h
  offline/packages/CaloBase/RawClusterContainer.cc
  offline/packages/CaloBase/RawClusterUtility.h
  offline/packages/CaloBase/RawClusterv1.cc
  offline/packages/CaloBase/RawClusterv1.h
  offline/packages/CaloBase/RawTower.h
  offline/packages/CaloBase/RawTowerContainer.cc
  offline/packages/CaloBase/RawTowerContainer.h
  offline/packages/CaloBase/RawTowerDeadMap.cc
  offline/packages/CaloBase/RawTowerDeadMapv1.cc
  offline/packages/CaloBase/RawTowerDefs.h
  offline/packages/CaloBase/RawTowerGeom.h
  offline/packages/CaloBase/RawTowerGeomContainer.cc
  offline/packages/CaloBase/RawTowerGeomContainer.h
  offline/packages/CaloBase/RawTowerGeomContainer_Cylinderv1.cc
  offline/packages/CaloBase/RawTowerGeomContainerv1.cc
  offline/packages/CaloBase/RawTowerGeomv2.cc
  offline/packages/CaloBase/RawTowerGeomv2.h
  offline/packages/CaloBase/RawTowerGeomv3.cc
  offline/packages/CaloBase/RawTowerGeomv3.h
  offline/packages/CaloBase/RawTowerGeomv4.cc
  offline/packages/CaloBase/RawTowerGeomv4.h
  offline/packages/CaloBase/RawTowerv1.cc
  offline/packages/CaloBase/RawTowerv1.h
  offline/packages/CaloBase/RawTowerv2.cc
  offline/packages/CaloBase/RawTowerv2.h
  offline/packages/CaloBase/TowerInfo.cc
  offline/packages/CaloBase/TowerInfo.h
  offline/packages/CaloBase/TowerInfoContainer.cc
  offline/packages/CaloBase/TowerInfoContainer.h
  offline/packages/CaloBase/TowerInfoContainerv1.cc
  offline/packages/CaloBase/TowerInfoContainerv1.h
  offline/packages/CaloBase/TowerInfov1.cc
  offline/packages/CaloBase/TowerInfov1.h
  offline/packages/CaloBase/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1781 Mbd
  offline/packages/bbc/BbcLinkDef.h
  offline/packages/bbc/BbcNorthSouth.cc
  offline/packages/bbc/BbcNorthSouth.h
  offline/packages/bbc/BbcNorthSouthV1.cc
  offline/packages/bbc/BbcNorthSouthV1.h
  offline/packages/bbc/BbcOut.cc
  offline/packages/bbc/BbcOut.h
  offline/packages/bbc/BbcOutV1.cc
  offline/packages/bbc/BbcOutV1.h
  offline/packages/bbc/BbcPmtContainer.cc
  offline/packages/bbc/BbcPmtContainer.h
  offline/packages/bbc/BbcPmtContainerV1.cc
  offline/packages/bbc/BbcPmtContainerV1.h
  offline/packages/bbc/BbcPmtHit.cc
  offline/packages/bbc/BbcPmtHit.h
  offline/packages/bbc/BbcPmtHitV1.cc
  offline/packages/bbc/BbcPmtHitV1.h
  offline/packages/bbc/BbcReturnCodes.h
  offline/packages/bbc/Makefile.am
  offline/packages/bbc/autogen.sh
  offline/packages/bbc/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1784 Fitted Alignment Parameters
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
  offline/packages/trackreco/ActsAlignmentStates.cc
  offline/packages/trackreco/ActsAlignmentStates.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1785 Reformatting the on the fly map production of the TowerInfoContainer class
  offline/packages/CaloBase/TowerInfo.h
  offline/packages/CaloBase/TowerInfoContainer.cc
  offline/packages/CaloBase/TowerInfoContainer.h
  offline/packages/CaloBase/TowerInfoContainerv1.cc
  offline/packages/CaloBase/TowerInfoContainerv1.h
  offline/packages/CaloBase/TowerInfov1.cc
  offline/packages/CaloBase/TowerInfov1.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1786 Calorimeter Reconstruction Code
  offline/packages/CaloReco/CaloTowerBuilder.cc
  offline/packages/CaloReco/CaloTowerBuilder.h
  offline/packages/CaloReco/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1787 Direct laser reconstruction
  offline/packages/tpccalib/TpcDirectLaserReconstruction.cc
  offline/packages/tpccalib/TpcDirectLaserReconstruction.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1789 YCM rename gdml file for end_wheels
  simulation/g4simulation/g4mvtx/PHG4MvtxSubsystem.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-FAIL, CI-DST-readback-FAIL, CI-track-low-occ-QA-FAIL, CI-track-pythia-QA-FAIL, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1791 Add ability to fill TowerInfoContainer based on physical location
  offline/packages/CaloBase/TowerInfoContainer.h
  offline/packages/CaloBase/TowerInfoContainerv1.cc
  offline/packages/CaloBase/TowerInfoContainerv1.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1793 Tpc subsurface lookup speed up
  offline/packages/trackbase/ActsGeometry.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1794 virtually latest updates to pi0 TbT includes lots of functionality si…
  calibrations/calorimeter/calo_emc_pi0_tbt/CaloCalibEmc_Pi0.cc
  calibrations/calorimeter/calo_emc_pi0_tbt/CaloCalibEmc_Pi0.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1788 Calorimeter Calibration
  offline/packages/CaloBase/TowerInfov1.cc
  offline/packages/CaloBase/TowerInfov1.h
  offline/packages/CaloReco/CaloTowerCalib.cc
  offline/packages/CaloReco/CaloTowerCalib.h
  offline/packages/CaloReco/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1795 update for inner hcal fitting, other small devs
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.cc
  calibrations/calorimeter/calo_tower_slope/LiteCaloEval.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1798 Fixed small naming issue with true track PV z output
  offline/packages/KFParticle_sPHENIX/KFParticle_truthAndDetTools.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1796 Refactor: Acts cleanup
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
  offline/packages/trackbase/ActsGsfTrackFittingAlgorithm.h
  offline/packages/trackbase/ActsSourceLink.h
  offline/packages/trackbase/ActsTrackFittingAlgorithm.h
  offline/packages/trackbase/TrackFittingAlgorithmFunctionsKalman.cc
  offline/packages/trackbase_historic/ActsTransformations.cc
  offline/packages/trackbase_historic/ActsTransformations.h
  offline/packages/trackreco/ActsAlignmentStates.h
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsGSF.cc
  offline/packages/trackreco/PHActsGSF.h
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1776 Update PHG4TpcElectronDrift mapping to local surfaces in TrkrClusters for truth clusters
  offline/packages/tpc/TpcClusterizer.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlane.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.h
  simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1799 removed spurious line bug added in previous pr
  calibrations/calorimeter/calo_emc_pi0_tbt/CaloCalibEmc_Pi0.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1800 fix: missed acts examples cleanup
  offline/packages/trackbase_historic/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1803 fix: use correct cluster version
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.h
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1802 clusterizer speedup
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpc/TpcClusterizer.h
  simulation/g4simulation/g4detectors/PHG4TpcCylinderGeom.cc
  simulation/g4simulation/g4detectors/PHG4TpcCylinderGeom.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1805 shifting epd sector phi shift
  simulation/g4simulation/g4epd/PHG4EPDDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1804 Tpc digitizer upgrade
  simulation/g4simulation/g4tpc/PHG4TpcDigitizer.cc
  simulation/g4simulation/g4tpc/PHG4TpcDigitizer.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1807 epd sector re-arrangement
  simulation/g4simulation/g4epd/PHG4EPDDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1806 update MVTX geometry
  simulation/g4simulation/g4mvtx/PHG4MvtxDetector.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxDetector.h
  simulation/g4simulation/g4mvtx/PHG4MvtxSubsystem.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxSupport.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1811 Allow installing new G4 subsystem installed inside the HCal envelope
  simulation/g4simulation/g4ohcal/PHG4OHCalDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1809 Truth reco matching -- replaces pull request Truth match #1760
  offline/packages/trackbase/EmbRecoMatch.h
  offline/packages/trackbase/EmbRecoMatchContainer.cc
  offline/packages/trackbase/EmbRecoMatchContainer.h
  offline/packages/trackbase/EmbRecoMatchContainerLinkDef.h
  offline/packages/trackbase/EmbRecoMatchContainerv1.cc
  offline/packages/trackbase/EmbRecoMatchContainerv1.h
  offline/packages/trackbase/EmbRecoMatchContainerv1LinkDef.h
  offline/packages/trackbase/EmbRecoMatchLinkDef.h
  offline/packages/trackbase/EmbRecoMatchv1.cc
  offline/packages/trackbase/EmbRecoMatchv1.h
  offline/packages/trackbase/EmbRecoMatchv1LinkDef.h
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrTruthTrack.h
  offline/packages/trackbase/TrkrTruthTrackContainer.h
  offline/packages/trackbase/TrkrTruthTrackContainerv1.cc
  offline/packages/trackbase/TrkrTruthTrackv1.cc
  offline/packages/trackbase/TrkrTruthTrackv1.h
  simulation/g4simulation/g4eval/Makefile.am
  simulation/g4simulation/g4eval/TruthRecoTrackMatching.cc
  simulation/g4simulation/g4eval/TruthRecoTrackMatching.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1812 Enabling `CanBeMotherSubsystem()` and allowing PHG4CylinderSubsystem to cover partial azimuth
  simulation/g4simulation/g4detectors/PHG4CylinderDetector.cc
  simulation/g4simulation/g4detectors/PHG4CylinderSubsystem.cc
  simulation/g4simulation/g4ohcal/PHG4OHCalSubsystem.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1814 use G4Transform3D to pass positioning of Micromegas modules to geant4
  simulation/g4simulation/g4micromegas/PHG4MicromegasDetector.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1815 G4decayer cosmetics
  simulation/g4simulation/g4decayer/EDecayType.hh
  simulation/g4simulation/g4decayer/EvtGenExtDecayerPhysics.cc
  simulation/g4simulation/g4decayer/EvtGenExtDecayerPhysics.hh
  simulation/g4simulation/g4decayer/G4EvtGenDecayer.cc
  simulation/g4simulation/g4decayer/G4EvtGenDecayer.hh
  simulation/g4simulation/g4decayer/G4Pythia6Decayer.cc
  simulation/g4simulation/g4decayer/G4Pythia6Decayer.hh
  simulation/g4simulation/g4decayer/G4Pythia6DecayerMessenger.cc
  simulation/g4simulation/g4decayer/G4Pythia6DecayerMessenger.hh
  simulation/g4simulation/g4decayer/Makefile.am
  simulation/g4simulation/g4decayer/P6DExtDecayerPhysics.cc
  simulation/g4simulation/g4decayer/P6DExtDecayerPhysics.hh
  simulation/g4simulation/g4decayer/PHEvtGenRandomEngine.cc
  simulation/g4simulation/g4decayer/PHEvtGenRandomEngine.hh
  simulation/g4simulation/g4decayer/Pythia6.cc
  simulation/g4simulation/g4decayer/Pythia6.hh
  simulation/g4simulation/g4decayer/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1813 New interpolation peak extraction method for CaloWaveformProcessing
  offline/packages/CaloReco/CaloWaveformProcessing.cc
  offline/packages/CaloReco/CaloWaveformProcessing.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1801 Update Calorimeter reconstruction chain to produce towerinfo objects
  offline/packages/CaloBase/TowerInfoContainer.h
  offline/packages/CaloBase/TowerInfoContainerv1.cc
  offline/packages/CaloBase/TowerInfoContainerv1.h
  offline/packages/CaloBase/TowerInfov1.cc
  offline/packages/CaloBase/TowerInfov1.h
  offline/packages/CaloReco/CaloTowerBuilder.cc
  offline/packages/CaloReco/CaloTowerCalib.cc
  offline/packages/CaloReco/RawTowerCalibration.cc
  offline/packages/CaloReco/RawTowerCalibration.h
  simulation/g4simulation/g4calo/HcalRawTowerBuilder.cc
  simulation/g4simulation/g4calo/HcalRawTowerBuilder.h
  simulation/g4simulation/g4calo/RawTowerBuilder.cc
  simulation/g4simulation/g4calo/RawTowerBuilder.h
  simulation/g4simulation/g4calo/RawTowerDigitizer.cc
  simulation/g4simulation/g4calo/RawTowerDigitizer.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS
