Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2023-04, with the labels that each got.

#1923 Fix bbx
  offline/packages/NodeDump/DumpBbcOut.cc
  offline/packages/NodeDump/DumpBbcOut.h
  offline/packages/NodeDump/DumpBbcPmtContainer.cc
  offline/packages/NodeDump/DumpBbcPmtContainer.h
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/bbc/BbcLinkDef.h
  offline/packages/bbc/BbcNorthSouth.cc
  offline/packages/bbc/BbcNorthSouth.h
  offline/packages/bbc/BbcNorthSouthLinkDef.h
  offline/packages/bbc/BbcNorthSouthV1.cc
  offline/packages/bbc/BbcNorthSouthV1.h
  offline/packages/bbc/BbcNorthSouthV1LinkDef.h
  offline/packages/bbc/BbcOut.cc
  offline/packages/bbc/BbcOut.h
  offline/packages/bbc/BbcOutLinkDef.h
  offline/packages/bbc/BbcOutV1.cc
  offline/packages/bbc/BbcOutV1.h
  offline/packages/bbc/BbcOutV1LinkDef.h
  offline/packages/bbc/BbcPmtContainer.cc
  offline/packages/bbc/BbcPmtContainer.h
  offline/packages/bbc/BbcPmtContainerLinkDef.h
  offline/packages/bbc/BbcPmtContainerV1.cc
  offline/packages/bbc/BbcPmtContainerV1.h
  offline/packages/bbc/BbcPmtContainerV1LinkDef.h
  offline/packages/bbc/BbcPmtHit.cc
  offline/packages/bbc/BbcPmtHit.h
  offline/packages/bbc/BbcPmtHitLinkDef.h
  offline/packages/bbc/BbcPmtHitV1.cc
  offline/packages/bbc/BbcPmtHitV1.h
  offline/packages/bbc/BbcPmtHitV1LinkDef.h
  offline/packages/bbc/BbcReturnCodes.h
  offline/packages/bbc/Makefile.am
  simulation/g4simulation/g4bbc/BbcSimReco.cc
  simulation/g4simulation/g4bbc/Makefile.am
  simulation/g4simulation/g4dst/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1926 fix signed/unsigned comparison
  offline/packages/CaloBase/TowerInfoDefs.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-PENDING, CI-calo-QA-PENDING, CI-DST-readback-PASS, CI-track-low-occ-QA-PENDING, CI-track-pythia-QA-PENDING, CI-build-gcc-12.1.0-new-PENDING, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PENDING

#1929 Revert "Silicon+TPOT fit update"
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1928 KFP: Cleaning and bug fix
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.h
  offline/packages/KFParticle_sPHENIX/KFParticle_nTuple.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_nTuple.h
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1931 updated the tower info defs class to include EPD
  offline/packages/CaloBase/Makefile.am
  offline/packages/CaloBase/TowerInfoDefs.cc
  offline/packages/CaloBase/TowerInfoDefs.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1935 Consistent use of Acts units
  offline/packages/trackreco/ActsPropagator.cc
  offline/packages/trackreco/ActsPropagator.h
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackPropagator.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1934 Update for TowerInfo objects
  offline/packages/CaloReco/RawClusterBuilderTopo.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1938 fixed the need for the template functions to be static in CaloWaveformFitting
  offline/packages/CaloReco/CaloWaveformFitting.cc
  offline/packages/CaloReco/CaloWaveformFitting.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1936 modified TowerInfoContainerv1 to take advantage of the TowerInfoDefs class
  offline/packages/CaloBase/TowerInfoContainerv1.cc
  offline/packages/CaloBase/TowerInfoDefs.cc
  simulation/g4simulation/g4epd/PHG4EPDModuleReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-FAIL, CI-track-pythia-QA-FAIL, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1942 making it compatible to towerinfo
  offline/packages/particleflow/ParticleFlowReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1941 Track based distortions QA
  offline/QA/modules/Makefile.am
  offline/QA/modules/QAG4SimulationDistortions.cc
  offline/QA/modules/QAG4SimulationDistortions.h
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
Labels: CI-cpp-check-AVAILABLE, CI-DST-readback-PASS, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1940 Updating sEPD geometry with TowerInfoDefs
  offline/packages/epd/EpdGeom.h
  offline/packages/epd/EpdGeomV1.cc
  offline/packages/epd/EpdGeomV1.h
  offline/packages/epd/Makefile.am
  simulation/g4simulation/g4epd/PHG4EPDModuleReco.cc
  simulation/g4simulation/g4epd/PHG4EPDModuleReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1939 Bbc vertex
  simulation/g4simulation/g4bbc/BbcSimReco.cc
  simulation/g4simulation/g4bbc/BbcSimReco.h
  simulation/g4simulation/g4vertex/GlobalVertex.h
  simulation/g4simulation/g4vertex/GlobalVertexFastSimReco.cc
  simulation/g4simulation/g4vertex/GlobalVertexFastSimReco.h
  simulation/g4simulation/g4vertex/GlobalVertexMap.cc
  simulation/g4simulation/g4vertex/GlobalVertexMapv1.cc
  simulation/g4simulation/g4vertex/GlobalVertexMapv1.h
  simulation/g4simulation/g4vertex/GlobalVertexReco.cc
  simulation/g4simulation/g4vertex/GlobalVertexReco.h
  simulation/g4simulation/g4vertex/GlobalVertexv1.cc
  simulation/g4simulation/g4vertex/GlobalVertexv1.h
  simulation/g4simulation/g4vertex/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-FAIL, CI-build-gcc-12.1.0-scan-PASS

#1937 sector edge error modification for cluster v5
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackingDiagnostics/TrkrNtuplizer.cc
  offline/packages/trackbase/ClusterErrorPara.cc
  offline/packages/trackbase/ClusterErrorPara.h
  offline/packages/trackreco/ALICEKF.cc
  offline/packages/trackreco/PHActsGSF.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  simulation/g4simulation/g4eval/SvtxEvaluator.cc
  simulation/g4simulation/g4eval/TrackEvaluation.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-FAIL, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1932 CM Flash Reco
  offline/packages/tpc/TpcClusterizer.cc
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.cc
  offline/packages/tpccalib/PHTpcCentralMembraneClusterizer.h
  offline/packages/tpccalib/PHTpcCentralMembraneMatcher.cc
  offline/packages/tpccalib/PHTpcCentralMembraneMatcher.h
  offline/packages/trackbase/CMFlashCluster.h
  offline/packages/trackbase/CMFlashClusterContainerv1.cc
  offline/packages/trackbase/CMFlashClusterv2.cc
  offline/packages/trackbase/CMFlashClusterv2.h
  offline/packages/trackbase/CMFlashClusterv2LinkDef.h
  offline/packages/trackbase/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS
