Repository sPHENIX-Collaboration/coresoftware, pull requests merged in 2023-03, with the labels that each got.

#1850 Update the phi and z clustering locations
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1848 Allow for local decayer file override before consulting with the standard decayer file folder
  simulation/g4simulation/g4decayer/EvtGenExtDecayerPhysics.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1853 add forgotten update with macro
  simulation/g4simulation/g4epd/PHG4EPDModuleReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1855 Dbtools
  offline/database/dbtools/InsertCalib.cc
  offline/database/dbtools/InsertCalib.h
  offline/database/dbtools/Makefile.am
  offline/database/dbtools/ReadCalib.cc
  offline/database/dbtools/ReadCalib.h
  offline/database/dbtools/configure.ac
  offline/database/dbtools/xclient.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1857 Fix dbtools
  offline/database/dbtools/InsertCalib.cc
  offline/database/dbtools/InsertCalib.h
  offline/database/dbtools/ReadCalib.cc
  offline/database/dbtools/ReadCalib.h
  offline/database/pdbcal/base/PdbCalBank.cc
  offline/database/pdbcal/base/PdbParameterMap.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1858 Micromegas raw data decoder
  offline/packages/micromegas/Makefile.am
  offline/packages/micromegas/MicromegasClusterizer.cc
  offline/packages/micromegas/MicromegasClusterizer.h
  offline/packages/micromegas/MicromegasRawDataDecoder.cc
  offline/packages/micromegas/MicromegasRawDataDecoder.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.cc
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1859 updated the encode_ key classes to include a catch for packet out of range for arrays
  offline/packages/CaloBase/TowerInfoContainerv1.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1860 Skip layer in track fit
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1854 Fill match tables
  offline/packages/NodeDump/DumpTrkrHitTruthClusters.cc
  offline/packages/NodeDump/DumpTrkrHitTruthClusters.h
  offline/packages/NodeDump/Makefile.am
  offline/packages/NodeDump/PHNodeDump.cc
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrHitTruthClusters.h
  offline/packages/trackbase/TrkrHitTruthClustersLinkDef.h
  offline/packages/trackbase/TrkrHitTruthClustersv1.cc
  offline/packages/trackbase/TrkrHitTruthClustersv1.h
  offline/packages/trackbase/TrkrHitTruthClustersv1LinkDef.h
  offline/packages/trackbase/TrkrTruthClusters.cc
  offline/packages/trackbase/TrkrTruthClusters.h
  offline/packages/trackbase/TrkrTruthClustersLinkDef.h
  offline/packages/trackbase/TrkrTruthClustersv1.cc
  offline/packages/trackbase/TrkrTruthClustersv1.h
  offline/packages/trackbase/TrkrTruthClustersv1LinkDef.h
  offline/packages/trackbase/TrkrTruthTrackContainer.cc
  offline/packages/trackbase/TrkrTruthTrackContainer.h
  offline/packages/trackbase/TrkrTruthTrackContainerv1.cc
  simulation/g4simulation/g4dst/Makefile.am
  simulation/g4simulation/g4eval/FillTruthRecoMatchMap.cc
  simulation/g4simulation/g4eval/FillTruthRecoMatchMap.h
  simulation/g4simulation/g4eval/Makefile.am
  simulation/g4simulation/g4eval/TruthRecoTrackMatching.cc
  simulation/g4simulation/g4eval/TruthRecoTrackMatching.h
  simulation/g4simulation/g4tpc/Makefile.am
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.h
  simulation/g4simulation/g4tpc/PHG4TpcPadPlaneReadout.cc
  simulation/g4simulation/g4tpc/TpcClusterBuilder.cc
  simulation/g4simulation/g4tracking/EmbRecoMatch.h
  simulation/g4simulation/g4tracking/EmbRecoMatchContainer.cc
  simulation/g4simulation/g4tracking/EmbRecoMatchContainer.h
  simulation/g4simulation/g4tracking/EmbRecoMatchContainerLinkDef.h
  simulation/g4simulation/g4tracking/EmbRecoMatchContainerv1.cc
  simulation/g4simulation/g4tracking/EmbRecoMatchContainerv1.h
  simulation/g4simulation/g4tracking/EmbRecoMatchContainerv1LinkDef.h
  simulation/g4simulation/g4tracking/EmbRecoMatchLinkDef.h
  simulation/g4simulation/g4tracking/EmbRecoMatchv1.cc
  simulation/g4simulation/g4tracking/EmbRecoMatchv1.h
  simulation/g4simulation/g4tracking/EmbRecoMatchv1LinkDef.h
  simulation/g4simulation/g4tracking/Makefile.am
  simulation/g4simulation/g4tracking/TrkrTruthTrack.cc
  simulation/g4simulation/g4tracking/TrkrTruthTrack.h
  simulation/g4simulation/g4tracking/TrkrTruthTrackContainer.cc
  simulation/g4simulation/g4tracking/TrkrTruthTrackContainer.h
  simulation/g4simulation/g4tracking/TrkrTruthTrackContainerLinkDef.h
  simulation/g4simulation/g4tracking/TrkrTruthTrackContainerv1.cc
  simulation/g4simulation/g4tracking/TrkrTruthTrackContainerv1.h
  simulation/g4simulation/g4tracking/TrkrTruthTrackContainerv1LinkDef.h
  simulation/g4simulation/g4tracking/TrkrTruthTrackLinkDef.h
  simulation/g4simulation/g4tracking/TrkrTruthTrackv1.cc
  simulation/g4simulation/g4tracking/TrkrTruthTrackv1.h
  simulation/g4simulation/g4tracking/TrkrTruthTrackv1LinkDef.h
  simulation/g4simulation/g4tracking/autogen.sh
  simulation/g4simulation/g4tracking/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1861 Micromegas mapping
  offline/packages/micromegas/Makefile.am
  offline/packages/micromegas/MicromegasMapping.cc
  offline/packages/micromegas/MicromegasMapping.h
  offline/packages/micromegas/MicromegasRawDataDecoder.cc
  offline/packages/micromegas/MicromegasRawDataDecoder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1863 Acts propagator with custom aborter for sPHENIX defined layer
  offline/packages/trackbase/ActsAborter.h
  offline/packages/trackbase/Makefile.am
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHActsTrackPropagator.cc
  offline/packages/trackreco/PHActsTrackPropagator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1866 Small fix for sEPD N vs. S selection in G4Hits-based centrality
  simulation/g4simulation/g4centrality/PHG4CentralityReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1867 Exposes useful functions in HelicalFitter
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1869 Micromegas raw
  offline/packages/micromegas/Makefile.am
  offline/packages/micromegas/MicromegasCalibrationData.cc
  offline/packages/micromegas/MicromegasCalibrationData.h
  offline/packages/micromegas/MicromegasMapping.cc
  offline/packages/micromegas/MicromegasMapping.h
  offline/packages/micromegas/MicromegasRawDataCalibration.cc
  offline/packages/micromegas/MicromegasRawDataCalibration.h
  offline/packages/micromegas/MicromegasRawDataDecoder.cc
  offline/packages/micromegas/MicromegasRawDataDecoder.h
  simulation/g4simulation/g4micromegas/PHG4MicromegasHitReco.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1872 fixed printout
  offline/packages/tpc/TpcClusterizer.cc
Labels: CI-cpp-check-AVAILABLE, CI-build-gcc-12.1.0-new-PENDING, CI-build-gcc-12.1.0-clang-PENDING, CI-build-gcc-12.1.0-scan-PENDING

#1874 removed unused class TrkrClusterContainerv5
  offline/packages/mvtx/MvtxClusterizer.cc
  offline/packages/trackbase/Makefile.am
  offline/packages/trackbase/TrkrClusterContainerv5.cc
  offline/packages/trackbase/TrkrClusterContainerv5.h
  offline/packages/trackbase/TrkrClusterContainerv5LinkDef.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1875 use std::optional to detect extrapolation failures.
  offline/packages/tpccalib/PHTpcResiduals.cc
  offline/packages/tpccalib/PHTpcResiduals.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1873 Distortion read adc
  calibrations/tpc/generator/AnnularFieldSim.cc
  calibrations/tpc/generator/AnnularFieldSim.h
  calibrations/tpc/generator/generateTruthIbfGainMap.C
  calibrations/tpc/generator/generate_distortion_map.C
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-FAIL, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1879 ALICEKF cosmics compatibility changes
  offline/packages/trackreco/ALICEKF.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1878 Move mass reco
  offline/packages/TrackingDiagnostics/KshortReconstruction.cc
  offline/packages/TrackingDiagnostics/KshortReconstruction.h
  offline/packages/TrackingDiagnostics/Makefile.am
  offline/packages/TrackingDiagnostics/autogen.sh
  offline/packages/TrackingDiagnostics/configure.ac
  offline/packages/TrackingDiagnostics/helixResiduals.cc
  offline/packages/TrackingDiagnostics/helixResiduals.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1871 Generate Truth Clusters from Intt + Mvtx
  simulation/g4simulation/g4eval/TruthRecoTrackMatching.cc
  simulation/g4simulation/g4eval/TruthRecoTrackMatching.h
  simulation/g4simulation/g4intt/Makefile.am
  simulation/g4simulation/g4intt/PHG4InttHitReco.cc
  simulation/g4simulation/g4intt/PHG4InttHitReco.h
  simulation/g4simulation/g4intt/TruthInttClusterBuilder.cc
  simulation/g4simulation/g4intt/TruthInttClusterBuilder.h
  simulation/g4simulation/g4mvtx/Makefile.am
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.cc
  simulation/g4simulation/g4mvtx/PHG4MvtxHitReco.h
  simulation/g4simulation/g4mvtx/TruthMvtxClusterBuilder.cc
  simulation/g4simulation/g4mvtx/TruthMvtxClusterBuilder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1881 Build tpot by default
  offline/packages/trackreco/MakeActsGeometry.cc
  offline/packages/trackreco/MakeActsGeometry.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-FAIL, CI-DST-readback-FAIL, CI-track-low-occ-QA-FAIL, CI-track-pythia-QA-FAIL, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-FAIL

#1883 add pTspec
  generators/FermiMotionAfterburner/FermiMotion.cc
  generators/FermiMotionAfterburner/FermiMotion.h
  generators/FermiMotionAfterburner/FermimotionAfterburner.cc
  generators/FermiMotionAfterburner/FermimotionAfterburner.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1882 add trkrntuplizer
  offline/packages/TrackingDiagnostics/Makefile.am
  offline/packages/TrackingDiagnostics/TrkrNtuplizer.cc
  offline/packages/TrackingDiagnostics/TrkrNtuplizer.h
  offline/packages/trackbase/ClusterErrorPara.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-FAIL

#1884 Introduce PHSiliconHelicalPropagator
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.h
  offline/packages/trackreco/PHSiliconHelicalPropagator.cc
  offline/packages/trackreco/PHSiliconHelicalPropagator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-FAIL

#1886 Modifications for processing output files
  offline/packages/TrackingDiagnostics/KshortReconstruction.cc
  offline/packages/TrackingDiagnostics/KshortReconstruction.h
  offline/packages/TrackingDiagnostics/helixResiduals.cc
  offline/packages/TrackingDiagnostics/helixResiduals.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1887 Mbd
  offline/packages/bbc/BbcPmtContainerV1.cc
  simulation/g4simulation/g4bbc/BbcSimReco.cc
  simulation/g4simulation/g4bbc/BbcSimReco.h
  simulation/g4simulation/g4bbc/BbcSimRecoLinkDef.h
  simulation/g4simulation/g4bbc/Makefile.am
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-PENDING, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-PENDING, CI-build-gcc-12.1.0-new-PENDING, CI-build-gcc-12.1.0-clang-FAIL, CI-build-gcc-12.1.0-scan-PASS

#1885 updated g4histos area to remove RawTowerContainers
  simulation/g4simulation/g4histos/G4RawTowerTTree.cc
  simulation/g4simulation/g4histos/G4RawTowerTTree.h
  simulation/g4simulation/g4histos/G4RootScintillatorTower.cc
  simulation/g4simulation/g4histos/G4RootScintillatorTower.h
  simulation/g4simulation/g4histos/G4RootScintillatorTowerContainer.cc
  simulation/g4simulation/g4histos/G4RootScintillatorTowerContainer.h
  simulation/g4simulation/g4histos/G4ScintillatorTowerTTree.cc
  simulation/g4simulation/g4histos/G4TowerNtuple.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1889 Tune seeder for clusterv5
  offline/packages/trackreco/PHActsSiliconSeeding.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1893 Fix calotowerbuilder
  offline/packages/CaloReco/CaloTowerBuilder.cc
  offline/packages/CaloReco/CaloTowerBuilder.h
  offline/packages/TrackingDiagnostics/KshortReconstruction.cc
  offline/packages/TrackingDiagnostics/KshortReconstruction.h
  offline/packages/TrackingDiagnostics/Makefile.am
  offline/packages/TrackingDiagnostics/TrkrNtuplizer.cc
  offline/packages/TrackingDiagnostics/TrkrNtuplizer.h
  offline/packages/TrackingDiagnostics/configure.ac
  offline/packages/TrackingDiagnostics/helixResiduals.cc
  offline/packages/TrackingDiagnostics/helixResiduals.h
  simulation/g4simulation/g4bbc/BbcSimReco.cc
  simulation/g4simulation/g4bbc/BbcSimReco.h
  simulation/g4simulation/g4bbc/BbcSimRecoLinkDef.h
  simulation/g4simulation/g4bbc/BbcVertex.h
  simulation/g4simulation/g4bbc/BbcVertexFastSimReco.cc
  simulation/g4simulation/g4bbc/BbcVertexFastSimReco.h
  simulation/g4simulation/g4bbc/BbcVertexMapv1.cc
  simulation/g4simulation/g4bbc/BbcVertexMapv1.h
  simulation/g4simulation/g4bbc/BbcVertexv1.cc
  simulation/g4simulation/g4bbc/Makefile.am
  simulation/g4simulation/g4bbc/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1890 Redesign PHSiliconHelicalPropagator for micromegas matching compatibility
  offline/packages/trackreco/Makefile.am
  offline/packages/trackreco/PHSiliconHelicalPropagator.cc
  offline/packages/trackreco/PHSiliconHelicalPropagator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-FAIL, CI-build-gcc-12.1.0-scan-PASS

#1894 Conversion electron finder
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.cc
  offline/packages/trackreco/SecondaryVertexFinder.cc
  offline/packages/trackreco/SecondaryVertexFinder.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1895 Added crossing determination to PHSiliconHelicalPropagator
  offline/packages/trackreco/PHSiliconHelicalPropagator.cc
  offline/packages/trackreco/PHSiliconHelicalPropagator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1896 Updating of reconstruction code to use TowerInfo objects rather than RawTower objects
  offline/packages/CaloReco/RawTowerDeadTowerInterp.cc
  offline/packages/CaloReco/RawTowerDeadTowerInterp.h
  offline/packages/ClusterIso/ClusterIso.cc
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackProjection.h
  offline/packages/trackreco/PHGenFitTrackProjection.cc
  offline/packages/trackreco/PHTrackClusterAssociator.cc
  offline/packages/trackreco/PHTrackClusterAssociator.h
  offline/packages/trigger/CaloTriggerSim.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1897 Waveform standalone
  offline/packages/CaloReco/BEmcCluster.cc
  offline/packages/CaloReco/BEmcCluster.h
  offline/packages/CaloReco/BEmcProfile.cc
  offline/packages/CaloReco/BEmcRec.cc
  offline/packages/CaloReco/BEmcRecCEMC.cc
  offline/packages/CaloReco/BEmcRecCEMC.h
  offline/packages/CaloReco/BEmcRecEEMC.cc
  offline/packages/CaloReco/BEmcRecEEMC.h
  offline/packages/CaloReco/BEmcRecFEMC.cc
  offline/packages/CaloReco/BEmcRecFEMC.h
  offline/packages/CaloReco/CaloTowerBuilder.cc
  offline/packages/CaloReco/CaloTowerCalib.cc
  offline/packages/CaloReco/CaloWaveformFitting.cc
  offline/packages/CaloReco/CaloWaveformFitting.h
  offline/packages/CaloReco/CaloWaveformProcessing.cc
  offline/packages/CaloReco/CaloWaveformProcessing.h
  offline/packages/CaloReco/Makefile.am
  offline/packages/CaloReco/PHMakeGroups.h
  offline/packages/CaloReco/RawClusterBuilderFwd.cc
  offline/packages/CaloReco/RawClusterBuilderGraph.cc
  offline/packages/CaloReco/RawClusterBuilderTemplate.cc
  offline/packages/CaloReco/RawClusterBuilderTemplate.h
  offline/packages/CaloReco/RawClusterBuilderTopo.cc
  offline/packages/CaloReco/RawClusterBuilderTopo.h
  offline/packages/CaloReco/RawClusterDeadAreaMask.cc
  offline/packages/CaloReco/RawClusterPositionCorrection.cc
  offline/packages/CaloReco/RawClusterPositionCorrection.h
  offline/packages/CaloReco/RawTowerCalibration.cc
  offline/packages/CaloReco/RawTowerCalibration.h
  offline/packages/CaloReco/RawTowerCombiner.cc
  offline/packages/CaloReco/RawTowerDeadMapLoader.cc
  offline/packages/CaloReco/RawTowerDeadMapLoader.h
  offline/packages/CaloReco/RawTowerDeadTowerInterp.cc
  offline/packages/CaloReco/configure.ac
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1899 created a towerinfodefs class
  offline/packages/CaloBase/Makefile.am
  offline/packages/CaloBase/TowerInfoDefs.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1901 Fix constant field in projection
  offline/packages/trackreco/ActsPropagator.cc
  offline/packages/trackreco/ActsPropagator.h
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackProjection.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1900 sEPD reconstruction
  offline/packages/epd/EPDDefs.h
  offline/packages/epd/EpdGeom.cc
  offline/packages/epd/EpdGeom.h
  offline/packages/epd/EpdGeomLinkDef.h
  offline/packages/epd/EpdGeomMaker.cc
  offline/packages/epd/EpdGeomMaker.h
  offline/packages/epd/EpdGeomV1.cc
  offline/packages/epd/EpdGeomV1.h
  offline/packages/epd/EpdGeomV1LinkDef.h
  offline/packages/epd/Makefile.am
  offline/packages/epd/configure.ac
  simulation/g4simulation/g4dst/Makefile.am
  simulation/g4simulation/g4epd/Makefile.am
  simulation/g4simulation/g4epd/PHG4EPDModuleReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1904 updated towerinfodefs to include information for the zdc and smd
  offline/packages/CaloBase/TowerInfoDefs.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1907 add flag to override exit when mixing runs in embedding
  offline/framework/fun4all/Fun4AllServer.cc
  offline/framework/fun4all/Fun4AllSyncManager.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1906 Consolidate Acts track param code
  offline/packages/trackreco/ActsPropagator.cc
  offline/packages/trackreco/ActsPropagator.h
  offline/packages/trackreco/PHActsTrackProjection.cc
  offline/packages/trackreco/PHActsTrackProjection.h
  offline/packages/trackreco/PHActsTrackPropagator.cc
  offline/packages/trackreco/PHActsTrackPropagator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1909 Helical fit methods to TrackFitUtils
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.cc
  offline/packages/TrackerMillepedeAlignment/HelicalFitter.h
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.cc
  offline/packages/TrackerMillepedeAlignment/MakeMilleFiles.h
  offline/packages/trackbase/TrackFitUtils.cc
  offline/packages/trackbase/TrackFitUtils.h
  offline/packages/trackreco/ActsAlignmentStates.cc
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/SecondaryVertexFinder.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1908 Kf particle
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.cc
  offline/packages/KFParticle_sPHENIX/KFParticle_Tools.h
  offline/packages/KFParticle_sPHENIX/KFParticle_sPHENIX.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1911 fixed issue with writing bbcpmtcontainer to DST
  offline/packages/bbc/BbcOut.cc
  offline/packages/bbc/BbcPmtContainer.cc
  offline/packages/bbc/BbcPmtContainerV1.cc
  simulation/g4simulation/g4bbc/BbcSimReco.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1912 updated Micromegas fiber mapping to final configuration
  offline/packages/micromegas/MicromegasMapping.cc
  offline/packages/micromegas/MicromegasMapping.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1913 Switched over PHSiliconHelicalPropagator to TrackFitUtils
  offline/packages/trackbase/TrackFitUtils.cc
  offline/packages/trackreco/PHSiliconHelicalPropagator.cc
  offline/packages/trackreco/PHSiliconHelicalPropagator.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1914 Generalize ignore layer in track fit
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1918 adapt to cluster v5
  offline/packages/tpccalib/PHTpcResiduals.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1917 Silicon+TPOT fit update
  offline/packages/trackreco/PHActsTrkFitter.cc
  offline/packages/trackreco/PHActsTrkFitter.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-FAIL, CI-calo-QA-FAIL, CI-DST-readback-PENDING, CI-track-low-occ-QA-PENDING, CI-track-pythia-QA-FAIL, CI-build-gcc-12.1.0-new-FAIL, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1921 clusterv5 adc truncation fix
  offline/packages/trackbase/TrkrClusterv5.h
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS

#1920 add base class functions
  offline/packages/trackbase/TrkrCluster.h
  offline/packages/trackbase/TrkrClusterv4.cc
  offline/packages/trackbase/TrkrClusterv4.h
  offline/packages/trackbase/TrkrClusterv5.cc
  offline/packages/trackbase/TrkrClusterv5.h
  simulation/g4simulation/g4tpc/PHG4TpcElectronDrift.cc
Labels: CI-cpp-check-AVAILABLE, CI-valgrind-AVAILABLE, CI-calo-QA-AVAILABLE, CI-DST-readback-PASS, CI-track-low-occ-QA-AVAILABLE, CI-track-pythia-QA-AVAILABLE, CI-build-gcc-12.1.0-new-PASS, CI-build-gcc-12.1.0-clang-PASS, CI-build-gcc-12.1.0-scan-PASS
